@model AntBoxFrontEnd.Models.OrderListModel
@{
    ViewBag.Title = "Antboxs";
}
<!-- WRAPPER -->
<div class="wrapper">
    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-archive"></i>
                    <span class="title">Customer Service</span>
                    <div class="divider"></div>
                    <span class="subtitle">Almacenamiento Seguro, Fácil y Conveniente</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTENT -->
    <div class="content antboxs">
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-12">
                    <h1>Antboxs</h1>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt0">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <form id="search" method="get" class="form-solid " novalidate>
                            @Html.Hidden("total", @Model.Orders.Total)
                            @Html.Hidden("pages", @Model.Orders.Pages)
                            @Html.Hidden("page", @Model.Page)
                            <input type="hidden" name="idpagination" value="@Model.Orders.Pagination_id" />
                            <input type="hidden" id="pagev" value="@Model.Page" />
                            <div class="col-sm-12 pr0 pb0">
                                <input type="submit" class="btn btn-primary btn-wide pull-right mt10" value="Buscar">
                                <input type="reset" class="btn btn-primary btn-wide btn_blue pull-right mt10 mr10" value="Borrar campos">
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><input class="input_cliente" type="text" name="name" id="send-form-name" placeholder="Cliente" value="@Model.Name"></th>
                                        <th><input class="input_pedido" type="text" name="name" id="send-form-name" placeholder="Pedido" value="@Model.Pedido"></th>
                                        <th><input class="input_codigo" type="text" name="name" id="send-form-name" placeholder="Código" value="@Model.Codigo"></th>
                                        <th>
                                            <div class="input-group mb0">
                                                <span class="input-group-btn">
                                                    <button type="button" id="registro" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                <input class="form-control" type="text" id="fecha_registro" name="fecha_registro" placeholder="Registro" value="@Model.Registro">
                                            </div>
                                        </th>
                                        <th>
                                            <div class="input-group mb0">
                                                <span class="input-group-btn">
                                                    <button type="button" id="recoleccion" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                <input class="form-control" type="text" id="fecha_recoleccion" name="fecha_recoleccion" placeholder="Recolección" value="@Model.Recoleccion">
                                            </div>
                                        </th>
                                        <th>
                                            <div class="input-group mb0">
                                                <span class="input-group-btn">
                                                    <button type="button" id="entrega" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                <input class="form-control" type="text" id="fecha_entrega" name="fecha_entrega" placeholder="Entrega" value="@Model.Entrega">
                                            </div>
                                        </th>
                                        <th>
                                            <input type="hidden" id="statusv" value="@Model.Status" />
                                            <select id="form-select">
                                                <option value="" selected="selected">Estatus</option>
                                                <option value="Entregado">Entregado</option>
                                                <option value="Programado">Programado</option>
                                            </select>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Orders.Orders != null)
                                    {
                                        foreach (var item in Model.Orders.Orders)
                                        {
                                            <tr>
                                                <td><button type="button" class="btn-link open-modal">@item.Namev</button></td>
                                                <td>@item.Folio</td>
                                                <td>@item.Code</td>
                                                <td>@item.Requested_date</td>
                                                <td>@item.Pickup_at</td>
                                                <td>@item.Delivery_at</td>
                                                @if (item.Status == "inprogress")
                                                {
                                                    <td>En camino</td>
                                                }
                                                else
                                                {
                                                    <td>Programado</td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="pagination solid text-center"></div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
</div>
<!-- /.wrapper -->

@section Scripts
{
@Scripts.Render("~/bundles/simplepaginationjs")
<script>
    $(function () {

        var currentPage = ($("#pagev").val() == "") ? 1 : parseInt($("#pagev").val());

        $('.pagination').pagination({
            items: $('#total').val(),
            itemsOnPage: 20,
            cssStyle: 'light-theme',
            currentPage: currentPage,
            onPageClick: function (pageNumber, event) {
                event.preventDefault();
                $("#vp").val("1");
                $("#page").val(pageNumber);
                $("#search").append("<input type='hidden' value='1' name='vp' />");
                $("#search").submit();
            }
        });

    })
</script>
}
