@model AntBoxFrontEnd.Models.OrderListModel
@{
    ViewBag.Title = "Antboxs";
}
<!-- WRAPPER -->
<div class="wrapper">
    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-archive"></i>
                    <span class="title">Customer Service</span>
                    <div class="divider"></div>
                    <span class="subtitle">Almacenamiento Seguro, Fácil y Conveniente</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTENT -->
    <div class="content antboxs">
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-12">
                    <h1>Antboxs</h1>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt0">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <form id="search" method="get" class="form-solid " novalidate>
                            @Html.Hidden("total", @Model.Orders.Total)
                            @Html.Hidden("pages", @Model.Orders.Pages)
                            @Html.Hidden("page", @Model.Page)
                            <input type="hidden" name="idpagination" value="@Model.Orders.Pagination_id" />
                            <input type="hidden" id="pagev" value="@Model.Page" />
                            <div class="col-sm-12 pr0 pb0">
                                <input type="submit" class="btn btn-primary btn-wide pull-right mt10" value="Buscar">
                                <input type="button" class="btn btn-primary btn-wide btn_blue pull-right mt10 mr10 ver-todos" value="Ver todos">
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><input class="input_cliente" type="text" name="name" id="send-form-name" placeholder="Cliente" value="@Model.Name"></th>
                                        <th><input class="input_pedido" type="text" name="name" id="send-form-name" placeholder="Pedido" value="@Model.Pedido"></th>
                                        <th><input class="input_codigo" type="text" name="name" id="send-form-name" placeholder="Código" value="@Model.Codigo"></th>
                                        <th>
                                            <div class="input-group mb0">
                                                <span class="input-group-btn">
                                                    <button type="button" id="registro" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                <input class="form-control" type="text" id="fecha_registro" name="fecha_registro" placeholder="Registro" value="@Model.Registro">
                                            </div>
                                        </th>
                                        <th>
                                            <div class="input-group mb0">
                                                <span class="input-group-btn">
                                                    <button type="button" id="recoleccion" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                <input class="form-control" type="text" id="fecha_recoleccion" name="fecha_recoleccion" placeholder="Recolección" value="@Model.Recoleccion">
                                            </div>
                                        </th>
                                        <th>
                                            <div class="input-group mb0">
                                                <span class="input-group-btn">
                                                    <button type="button" id="entrega" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                <input class="form-control" type="text" id="fecha_entrega" name="fecha_entrega" placeholder="Entrega" value="@Model.Entrega">
                                            </div>
                                        </th>
                                        <th>
                                            <input type="hidden" id="statusv" value="@Model.Status" />
                                            <select id="form-select">
                                                <option value="" selected="selected">Estatus</option>
                                                <option value="Entregado">Entregado</option>
                                                <option value="Programado">Programado</option>
                                            </select>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Orders.Orders != null)
                                    {
                                        foreach (var item in Model.Orders.Orders)
                                        {
                                            <tr>
                                                <td><button type="button" class="btn-link open-modal" data-id="@item.Customer_id" data-folio="@item.Folio">@item.Namev</button></td>
                                                <td>@item.Folio</td>
                                                <td>@item.Code</td>
                                                <td>@item.Requested_date</td>
                                                <td>@item.Entrega</td>
                                                <td>@item.Recoleccion</td>
                                                @if (item.Status == "inprogress")
                                                {
                                                    <td>En camino</td>
                                                }
                                                else
                                                {
                                                    <td>Programado</td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="pagination solid text-center"></div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
</div>
<!-- /.wrapper -->

<!-- Modal Large -->
<div class="modal fade antboxs" id="nombre_cliente">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Información del cliente</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-inside">

                    <div class="row irow-xs pb20">
                        <div class="col-sm-12 text-center">
                            <h3 class="title_name">Aguilar Gómez Javier Ignacio</h3>
                        </div>
                    </div>
                    <!-- Tabs -->
                    <div class="tabs tabs-highlight">
                        <!-- Nav tabs -->
                        <input type="hidden" id="idcustomer" value="" />
                        <input type="hidden" id="folio" value="" />
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#antboxs" data-toggle="tab">Antboxs</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active">
                                <input type="hidden" id="total-modal" value="" />
                                <input type="hidden" id="page-modal" value="" />
                                <input type="hidden" id="paginationid-modal" value="" />
                                <div id="loader1" role="alert" style="display: none;">
                                    <img src="@Url.Content("~/Images/preloader.gif")" />   Cargando antboxs... &nbsp;
                                </div>
                                <div class="antboxs-content"></div>
                                <div class="pagination-modal solid text-center"></div>
                            </div>
                        </div>
                        <!-- /.tabs -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

@section Scripts
{
@Scripts.Render("~/bundles/simplepaginationjs")
<script>
    $(function () {

        var currentPage = ($("#pagev").val() == "") ? 1 : parseInt($("#pagev").val());

        $('.pagination').pagination({
            items: $('#total').val(),
            itemsOnPage: 20,
            cssStyle: 'light-theme',
            currentPage: currentPage,
            onPageClick: function (pageNumber, event) {
                event.preventDefault();
                $("#vp").val("1");
                $("#page").val(pageNumber);
                $("#search").append("<input type='hidden' value='1' name='vp' />");
                $("#search").submit();
            }
        });

        $('.pagination-modal').pagination({
            items: 0,
            itemsOnPage: 20,
            cssStyle: 'light-theme',
            currentPage: currentPage,
            onPageClick: function (pageNumber, event) {
                event.preventDefault();
                $("#vp").val("1");
                $("#page").val(pageNumber);
                $("#search").append("<input type='hidden' value='1' name='vp' />");
                $("#search").submit();
            }
        });

        $(".open-modal").click(function (event) {

            $(".antboxs-content").html("");
            $("#loader1").show();
            $(".tabcuenta").trigger("click");
            $("#nombre_cliente").modal("show");

            var formData = {};
            var idCustomer = $(this).attr("data-id");
            var folio = $(this).attr("data-folio");
            formData.idCustomer = idCustomer;
            formData.folio = folio;
            $("#idcustomer").val(idCustomer);
            $("#folio").val(folio);
            $(".title_name").text($(this).text());

            callbackHttp(formData, true);
        });

        $(".ver-todos").click(function () {
            window.location.href = '@Url.Action("Antboxs", "CustomerService")';
        });

        function callbackHttp(formData, verif)
        {
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: '@Url.Action("GetAntboxsTasks", "CustomerService")',
                data: formData,
                success: function (data) {
                    console.log("success data");
                    console.log(data);
                    $("#loader1").hide();
                    if (data.success.Antboxs) {

                        var antboxv = {};
                        var cadResult = "";
                        var descripcionv = "";
                        for (var i = 0; i < data.success.Antboxs.length; i++) {
                            antboxv = data.success.Antboxs[i];

                            var strVar = "";
                            strVar += "<div class=\"card card-border-dashed card-border-color magnific-wrap mb10\">";
                            strVar += "    <div class=\"row\">";
                            strVar += "        <div class=\"col-sm-3 col-xs-12\">";
                            strVar += "            <figure class=\"figure\">";
                            strVar += "                <img src=\"\/images\/antboxs_3.jpg\" alt=\"\">";
                            strVar += "            <\/figure>";
                            strVar += "        <\/div>";
                            strVar += "        <div class=\"col-sm-9 col-xs-12 antboxs_txt\">";
                            strVar += "            <h4>" + antboxv.Name + " - " + antboxv.Folio + "<\/h4>";
                            strVar += "            <p>" + antboxv.Descriptionv + "<\/p>";
                            strVar += "        <\/div>";
                            strVar += "    <\/div>";
                            strVar += "<\/div>";

                            cadResult += strVar;
                        }

                        $(".antboxs-content").html(cadResult);
                        $("#total-modal").val(data.success.Antboxs.Total);
                        $("#paginationid-modal").val(data.success.Antboxs.Pagination_id);

                        if (verif) {
                            $('.pagination-modal').pagination('updateItems', data.success.Antboxs.Total);
                            $('.pagination-modal').pagination('selectPage', 1);
                        }

                        var currentPageModal = ($("#page-modal").val() == "") ? 1 : parseInt($("#page-modal").val());

                    }
                }, error: function (error) {
                    //mostrarMensaje(form, "userMensaje", "Error al registrar usuario intentelo de nuevo", "alert-warning");
                }, complete: function (data) {
                    //console.log(data);
                    $("#loader1").hide();
                }
            });
        }

    })
</script>
}
