@model AntBoxFrontEnd.Models.PickupListModel
@{
    ViewBag.Title = "Recolecciones";
}
<!-- WRAPPER -->
<div class="wrapper">
    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-archive"></i>
                    <span class="title">Customer Service</span>
                    <div class="divider"></div>
                    <span class="subtitle">Almacenamiento Seguro, Fácil y Conveniente</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTENT -->
    <div class="content clientes">
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-12">
                    <h1>Recolecciones</h1>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt0">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <form id="search" action="" method="get" class="form-solid " novalidate>
                            <div class="col-sm-12 pr0 pb0">
                                <input type="submit" class="btn btn-primary btn-wide pull-right mt10" value="Buscar">
                                <input type="reset" class="btn btn-primary btn-wide btn_blue pull-right mt10 mr10" value="Borrar campos">
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><input class="input_cliente" type="text" name="name" id="send-form-name" placeholder="Cliente" value="@Model.Name"></th>
                                        <th><input class="input_operador" type="text" name="operador" id="send-form-name" placeholder="Operador" value="@Model.Operador"></th>
                                        <th><input class="input_antboxs" type="text" name="antboxs" id="send-form-name" placeholder="Antboxs" value="@Model.Antboxs"></th>
                                        <th>
                                            <div class="input-group mb0">
                                                <span class="input-group-btn">
                                                    <button type="button" id="solicitud" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                <input class="form-control" type="text" id="fecha_solicitud" name="fecha_solicitud" placeholder="Solicitud" value="@Model.Solicitud">
                                            </div>
                                        </th>
                                        <th>
                                            <div class="input-group mb0">
                                                <span class="input-group-btn">
                                                    <button type="button" id="recoleccion" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                <input class="form-control" type="text" id="fecha_recoleccion" name="fecha_recoleccion" placeholder="Recolección" value="@Model.Recoleccion">
                                            </div>
                                        </th>
                                        <th>
                                            <input type="hidden" name="horariov" id="horariov" value="@Model.Tipo" />
                                            <select id="form-select" name="horario">
                                                <option value="">Horario</option>
                                                <option value="09-11">07:00-09:00</option>
                                                <option value="11-13">11:00-13:00</option>
                                                <option value="13-15">13:00-15:00</option>
                                                <option value="15-17">15:00-17:00</option>
                                                <option value="17-19">17:00-19:00</option>
                                            </select>
                                        </th>
                                        <th>
                                            <input type="hidden" name="statusvalue" id="statusvalue" value="@Model.Status" />
                                            <select id="form-select" name="status">
                                                <option value="">Estatus</option>
                                                <option value="Confirmado">Confirmado</option>
                                                <option value="Programado">Programado</option>
                                            </select>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Pickups.Pickups != null)
                                    {
                                        foreach (var item in Model.Pickups.Pickups)
                                        {
                                            <tr>
                                                <td><button type="button" class="btn-link" data-toggle="modal" data-target="#nombre_cliente">@item.Namev</button></td>
                                                <td>@item.Worker.Name</td>
                                                <td>-</td>
                                                <td>@item.Date</td>
                                                <td>@item.Requested_at</td>
                                                <td>@item.Time</td>
                                                @if (item.Status == "inprogress")
                                                {
                                                    <td>En camino</td>
                                                }
                                                else
                                                {
                                                    <td>Programado</td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 pl0 pr0 text-center">
                    <!-- PAGINATION -->
                    <ul class="pagination solid">
                        <li class="pull-left"><a href="#" class="prev"><i class="fa fa-angle-left"></i></a></li>
                        <li class="pull-right"><a href="#" class="next"><i class="fa fa-angle-right"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">…</a></li>
                        <li><a href="#">36</a></li>
                    </ul>
                    <!-- /.pagination -->
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
</div>
<!-- /.wrapper -->

