@model AntBoxFrontEnd.Models.PickupListModel
@{
    ViewBag.Title = "Recolecciones";
}
<!-- WRAPPER -->
<div class="wrapper">
    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-archive"></i>
                    <span class="title">Customer Service</span>
                    <div class="divider"></div>
                    <span class="subtitle">Almacenamiento Seguro, Fácil y Conveniente</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTENT -->
    <div class="content clientes">
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-12">
                    <h1>Recolecciones</h1>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt0">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <form id="search" action="" method="get" class="form-solid " novalidate>
                            @Html.Hidden("total", @Model.Pickups.Total)
                            @Html.Hidden("pages", @Model.Pickups.Pages)
                            @Html.Hidden("page", @Model.Page)
                            @Html.Hidden("idpagination", @Model.Pickups.Pagination_id)
                            <input type="hidden" id="pagev" value="@Model.Page" />
                            <div class="col-sm-12 pr0 pb0">
                                <input type="submit" class="btn btn-primary btn-wide pull-right mt10" value="Buscar">
                                <input type="button" class="btn btn-primary btn-wide btn_blue pull-right mt10 mr10 ver-todos" value="Ver todos">
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><input class="input_cliente" type="text" name="name" id="send-form-name" placeholder="Cliente" value="@Model.Name"></th>
                                        <th><input class="input_operador" type="text" name="operador" id="send-form-name" placeholder="Operador" value="@Model.Operador"></th>
                                        <th><input class="input_antboxs" type="text" name="antboxs" id="send-form-name" placeholder="Antboxs" value="@Model.Antboxs"></th>
                                        <th>
                                            <div class="input-group mb0">
                                                <span class="input-group-btn">
                                                    <button type="button" id="solicitud" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                <input class="form-control" type="text" id="fecha_solicitud" name="fecha_solicitud" placeholder="Solicitud" value="@Model.Solicitud">
                                            </div>
                                        </th>
                                        <th>
                                            <div class="input-group mb0">
                                                <span class="input-group-btn">
                                                    <button type="button" id="recoleccion" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                <input class="form-control" type="text" id="fecha_recoleccion" name="fecha_recoleccion" placeholder="Recolección" value="@Model.Recoleccion">
                                            </div>
                                        </th>
                                        <th>
                                            <input type="hidden" name="horariov" id="horariov" value="@Model.Tipo" />
                                            <select id="form-select" name="horario">
                                                <option value="">Horario</option>
                                                <option value="09-11">07:00-09:00</option>
                                                <option value="11-13">11:00-13:00</option>
                                                <option value="13-15">13:00-15:00</option>
                                                <option value="15-17">15:00-17:00</option>
                                                <option value="17-19">17:00-19:00</option>
                                            </select>
                                        </th>
                                        <th>
                                            <input type="hidden" name="statusvalue" id="statusvalue" value="@Model.Status" />
                                            <select id="form-select" name="status">
                                                <option value="">Estatus</option>
                                                <option value="Confirmado">Confirmado</option>
                                                <option value="Programado">Programado</option>
                                            </select>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Pickups.Pickups != null)
                                    {
                                        foreach (var item in Model.Pickups.Pickups)
                                        {
                                            <tr data-address="@item.Address_id" data-id-customer="@item.Customer_id" data-folio="@item.Folio">
                                                <td><button type="button" class="btn-link open-modal">@item.Namev</button></td>
                                                <td class="tworker">@item.Worker.Name</td>
                                                <td>@item.Antboxs</td>
                                                <td class="tsolicitud">@item.Solicitud</td>
                                                <td>@item.Recoleccion</td>
                                                <td class="thorario">@item.Time</td>
                                                @if (item.Status == "inprogress")
                                                {
                                                    <td class="tstatus">En camino</td>
                                                }
                                                else
                                                {
                                                    <td class="tstatus">Programado</td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="pagination solid text-center"></div>
            
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
</div>
<!-- /.wrapper -->

<!-- Modal Large -->
<div class="modal fade" id="nombre_cliente">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Información del cliente</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-inside">

                    <div class="row irow-xs pb20">
                        <div class="col-sm-12 text-center">
                            <h3 class="title_name">Aguilar Gómez Javier Ignacio</h3>
                        </div>
                    </div>
                    <!-- Tabs -->
                    <div class="tabs tabs-highlight">
                        <!-- Nav tabs -->
                        <input type="hidden" id="idcustomer" value="" />
                        <input type="hidden" id="folio" value="" />
                        <input type="hidden" id="addressid" value="" />
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#detalle" data-toggle="tab">Detalle</a></li>
                            <li><a href="#cliente" class="tabcliente" data-toggle="tab">Cliente</a></li>
                            <li><a href="#antboxs" class="tabantboxs" data-toggle="tab">Antboxs</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="detalle">
                                <div id="loader1" role="alert" style="display: none;">
                                    <img src="@Url.Content("~/Images/preloader.gif")" />   Cargando informacion... &nbsp;
                                </div>
                                <h6>Fecha</h6>
                                <p class="pfecha"></p>
                                <h6>Horario</h6>
                                <p class="phorario"></p>
                                <h6>Estatus</h6>
                                <p class="pstatus"></p>
                                <h6>Dirección</h6>
                                <p class="paddress"></p>
                                <h6>Operador</h6>
                                <p class="pworker"></p>
                            </div>
                            <div class="tab-pane fade" id="cliente">
                                <div id="loader2" role="alert" style="display: none;">
                                    <img src="@Url.Content("~/Images/preloader.gif")" />   Cargando informacion... &nbsp;
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>Nombre</h6>
                                        <p class="nombrec" style="min-height: 24px;"> </p>
                                        <h6>Apellido Paterno</h6>
                                        <p class="apellidoc" style="min-height: 24px;"> </p>
                                        <h6>Apellido Materno</h6>
                                        <p class="apellido2c" style="min-height: 24px;"> </p>
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Telefono</h6>
                                        <p class="telefonoc" style="min-height: 24px;"> </p>
                                        <h6>Celular</h6>
                                        <p class="celularc" style="min-height: 24px;"> </p>
                                        <h6>E-mail</h6>
                                        <p class="emailc" style="min-height: 24px;"> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="antboxs">
                                <div id="loader3" role="alert" style="display: none;">
                                    <img src="@Url.Content("~/Images/preloader.gif")" />   Cargando antboxs... &nbsp;
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Descripcion</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tantboxs"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tabs -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

@section Scripts
{
    @Scripts.Render("~/bundles/simplepaginationjs")
    <script>
        $(function () {

            Calendar.setup({
                inputField: "fecha_solicitud",      // id del campo de texto
                ifFormat: "%d/%m/%Y",       // formato de la fecha, cuando se escriba en el campo de texto
                button: "solicitud"   // el id del botón que lanzará el calendario
            });

            Calendar.setup({
                inputField: "fecha_recoleccion",      // id del campo de texto
                ifFormat: "%d/%m/%Y",       // formato de la fecha, cuando se escriba en el campo de texto
                button: "recoleccion"   // el id del botón que lanzará el calendario
            });

            var currentPage = ( $("#pagev").val() == "" ) ? 1 : parseInt( $("#pagev").val() );

            $('.pagination').pagination({
                items: $('#total').val(),
                itemsOnPage: 20,
                cssStyle: 'light-theme',
                currentPage: currentPage,
                onPageClick: function (pageNumber, event) {
                    event.preventDefault();
                    $("#vp").val("1");
                    $("#page").val(pageNumber);
                    $("#search").append("<input type='hidden' value='1' name='vp' />");
                    $("#search").submit();
                }
            });

            $(".open-modal").click(function (event) {

                $("#loader1").show();
                $(".tabdetalle").trigger("click");
                $("#nombre_cliente").modal("show");

                var formData = {};
                var idCustomer = $(this).closest("tr").attr("data-id-customer");
                var folio = $(this).closest("tr").attr("data-folio");
                var idAddress = $(this).closest("tr").attr("data-address");
                formData.idAddress = idAddress;

                $(".title_name").text($(this).text());
                $("#idcustomer").val(idCustomer);
                $("#folio").val(folio);
                $("#addressid").val(idAddress);

                $(".pfecha").text($(this).closest("tr").find(".tsolicitud").text()); 
                $(".phorario").text($(this).closest("tr").find(".thorario").text().replace("-", " - ") + " hrs");
                $(".pstatus").text($(this).closest("tr").find(".tstatus").text());
                $(".pworker").text($(this).closest("tr").find(".tworker").text());

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: '@Url.Action("GetAddress", "CustomerService")',
                    data: formData,
                    success: function (data) {
                        console.log("success data");
                        console.log(data);
                        $("#loader1").hide();
                        if (data) {

                            console.log("success data1");
                            var address = data.Street + " " + data.External_number + ", " + data.Neighborhood + ", " + data.City + ", C.P. " + data.Zipcode + ".";
                            console.log(address);
                            $(".paddress").text(address);

                        }
                    }, error: function (error) {
                        //mostrarMensaje(form, "userMensaje", "Error al registrar usuario intentelo de nuevo", "alert-warning");
                    }, complete: function (data) {
                        //console.log(data);
                    }
                });

            });

            $(".tabcliente").click(function () {

                $("#loader2").show();
                $(".nombrec").text("");
                $(".apellidoc").text("");
                $(".apellido2c").text("");
                $(".telefonoc").text("");
                $(".celularc").text("");
                $(".emailc").text("");

                var formData = {};
                var idCustomer = $("#idcustomer").val();
                formData.idCustomer = idCustomer;
            

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: '@Url.Action("GetCustomer", "CustomerService")',
                    data: formData,
                    success: function (data) {
                        console.log("success data");
                        console.log(data);
                        $("#loader2").hide();
                        if (data) {

                            $(".nombrec").text(data.Name);
                            $(".apellidoc").text(data.LastName);
                            $(".apellido2c").text(data.Lastname2);
                            $(".telefonoc").text(data.Phone);
                            $(".celularc").text(data.Mobile_phone);
                            $(".emailc").text(data.Email);

                        }
                    }, error: function (error) {
                        //mostrarMensaje(form, "userMensaje", "Error al registrar usuario intentelo de nuevo", "alert-warning");
                    }, complete: function (data) {
                        //console.log(data);
                    }
                });
            });

            $(".tabantboxs").click(function () {

                $("#loader3").show();
                $(".tantboxs").html("");

                var formData = {};
                var idCustomer = $("#idcustomer").val();
                var folio = $("#folio").val();
                formData.idCustomer = idCustomer;
                formData.type = "1";
                formData.folio = folio;

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: '@Url.Action("GetAntboxsTasks", "CustomerService")',
                    data: formData,
                    success: function (data) {
                        console.log("success data");
                        console.log(data);
                        $("#loader3").hide();
                        if (data.success.Antboxs) {

                            var antboxv = {};
                            var cadResult = "";
                            var descripcionv = "";
                            for (var i = 0; i < data.success.Antboxs.length; i++) {
                                antboxv = data.success.Antboxs[i];
                                var strVar = "<tr>";
                                strVar += "<td>" + antboxv.Name + " - " + antboxv.Folio + "<\/tD>";
                                strVar += "<td>" + antboxv.Descriptionv + "<\/td>";
                                strVar += "</tr>";
                                cadResult += strVar;
                            }

                            $(".tantboxs").html(cadResult);

                        }
                    }, error: function (error) {
                        //mostrarMensaje(form, "userMensaje", "Error al registrar usuario intentelo de nuevo", "alert-warning");
                    }, complete: function (data) {
                        //console.log(data);
                    }
                });
            });

            $(".ver-todos").click(function () {
                window.location.href = '@Url.Action("Recolecciones", "CustomerService")';
            });
        })
    </script>
}


