@model AntBoxFrontEnd.Models.PickupListModel
@{
    ViewBag.Title = "Recolecciones";
}
<!-- WRAPPER -->
<div class="wrapper">
    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-archive"></i>
                    <span class="title">Customer Service</span>
                    <div class="divider"></div>
                    <span class="subtitle">Almacenamiento Seguro, Fácil y Conveniente</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTENT -->
    <div class="content clientes">
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-12">
                    <h1>Recolecciones</h1>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt0">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <form id="search" action="" method="get" class="form-solid " novalidate>
                            @Html.Hidden("total", @Model.Pickups.Total)
                            @Html.Hidden("pages", @Model.Pickups.Pages)
                            @Html.Hidden("page", @Model.Page)
                            @Html.Hidden("idpagination", @Model.Pickups.Pagination_id)
                            <input type="hidden" id="pagev" value="@Model.Page" />
                            <div class="col-sm-12 pr0 pb0">
                                <input type="submit" class="btn btn-primary btn-wide pull-right mt10" value="Buscar">
                                <input type="reset" class="btn btn-primary btn-wide btn_blue pull-right mt10 mr10" value="Borrar campos">
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><input class="input_cliente" type="text" name="name" id="send-form-name" placeholder="Cliente" value="@Model.Name"></th>
                                        <th><input class="input_operador" type="text" name="operador" id="send-form-name" placeholder="Operador" value="@Model.Operador"></th>
                                        <th><input class="input_antboxs" type="text" name="antboxs" id="send-form-name" placeholder="Antboxs" value="@Model.Antboxs"></th>
                                        <th>
                                            <div class="input-group mb0">
                                                <span class="input-group-btn">
                                                    <button type="button" id="solicitud" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                <input class="form-control" type="text" id="fecha_solicitud" name="fecha_solicitud" placeholder="Solicitud" value="@Model.Solicitud">
                                            </div>
                                        </th>
                                        <th>
                                            <div class="input-group mb0">
                                                <span class="input-group-btn">
                                                    <button type="button" id="recoleccion" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                <input class="form-control" type="text" id="fecha_recoleccion" name="fecha_recoleccion" placeholder="Recolección" value="@Model.Recoleccion">
                                            </div>
                                        </th>
                                        <th>
                                            <input type="hidden" name="horariov" id="horariov" value="@Model.Tipo" />
                                            <select id="form-select" name="horario">
                                                <option value="">Horario</option>
                                                <option value="09-11">07:00-09:00</option>
                                                <option value="11-13">11:00-13:00</option>
                                                <option value="13-15">13:00-15:00</option>
                                                <option value="15-17">15:00-17:00</option>
                                                <option value="17-19">17:00-19:00</option>
                                            </select>
                                        </th>
                                        <th>
                                            <input type="hidden" name="statusvalue" id="statusvalue" value="@Model.Status" />
                                            <select id="form-select" name="status">
                                                <option value="">Estatus</option>
                                                <option value="Confirmado">Confirmado</option>
                                                <option value="Programado">Programado</option>
                                            </select>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Pickups.Pickups != null)
                                    {
                                        foreach (var item in Model.Pickups.Pickups)
                                        {
                                            <tr>
                                                <td><button type="button" class="btn-link" data-toggle="modal" data-target="#nombre_cliente">@item.Namev</button></td>
                                                <td>@item.Worker.Name</td>
                                                <td>-</td>
                                                <td>@item.Date</td>
                                                <td>@item.Requested_at</td>
                                                <td>@item.Time</td>
                                                @if (item.Status == "inprogress")
                                                {
                                                    <td>En camino</td>
                                                }
                                                else
                                                {
                                                    <td>Programado</td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="pagination solid text-center"></div>
            
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
</div>
<!-- /.wrapper -->

<!-- Modal Large -->
<div class="modal fade" id="nombre_cliente">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Información del cliente</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-inside">

                    <div class="row irow-xs pb20">
                        <div class="col-sm-12 text-center">
                            <h3 class="title_name">Aguilar Gómez Javier Ignacio</h3>
                        </div>
                    </div>
                    <!-- Tabs -->
                    <div class="tabs tabs-highlight">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#detalle" data-toggle="tab">Detalle</a></li>
                            <li><a href="#cliente" data-toggle="tab">Cliente</a></li>
                            <li><a href="#antboxs" data-toggle="tab">Antboxs</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="detalle">
                                <h6>Fecha</h6>
                                <p>20 de julio de 2016</p>
                                <h6>Horario</h6>
                                <p>12:00 - 13:00 hrs.</p>
                                <h6>Estatus</h6>
                                <p>Programado</p>
                                <h6>Dirección</h6>
                                <p>Vereda de Santa Fe 26, Col. Lomas de Santa Fé, Álvaro Obregón, Méx, C.P. 01219, México</p>
                                <h6>Operador</h6>
                                <p>Joaquín Rodríguez Pérez</p>
                            </div>
                            <div class="tab-pane fade" id="cliente">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid architectom consequatur dolor eligendi ipsa, maxime natus reiciendis repellat sequi tempore ullam velit. Consequuntur dolores expedita iure suscipit velit vero?</p>
                            </div>
                            <div class="tab-pane fade" id="antboxs">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid architectom consequatur dolor eligendi ipsa, maxime natus reiciendis repellat sequi tempore ullam velit. Consequuntur dolores expedita iure suscipit velit vero?</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.tabs -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

@section Scripts
{
    @Scripts.Render("~/bundles/simplepaginationjs")
    <script>
        $(function () {

            Calendar.setup({
                inputField: "fecha_solicitud",      // id del campo de texto
                ifFormat: "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
                button: "solicitud"   // el id del botón que lanzará el calendario
            });

            Calendar.setup({
                inputField: "fecha_recoleccion",      // id del campo de texto
                ifFormat: "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
                button: "recoleccion"   // el id del botón que lanzará el calendario
            });

            var currentPage = ( $("#pagev").val() == "" ) ? 1 : parseInt( $("#pagev").val() );

            $('.pagination').pagination({
                items: $('#total').val(),
                itemsOnPage: 20,
                cssStyle: 'light-theme',
                currentPage: currentPage,
                onPageClick: function (pageNumber, event) {
                    event.preventDefault();
                    $("#vp").val("1");
                    $("#page").val(pageNumber);
                    $("#search").append("<input type='hidden' value='1' name='vp' />");
                    $("#search").submit();
                }
            });
        })
    </script>
}


