@model AntBoxFrontEnd.Models.OrderViewModel

@{
    ViewBag.Title = "Antbox";
}









<!-- WRAPPER -->
<div class="wrapper precios">

    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-check-square-o"></i>
                    <h1>Precios</h1>
                    <div class="divider"></div>
                    <span class="subtitle">Usa sin salir de casa y paga solo lo que usas</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTENT -->
    <div class="content no-pt">

        <!-- CONTAINER -->
        <div class="container" style="padding: 30px;">
            <div class="row irow-xs cards">
                <div class="col-sm-12">
                    <h2>Agregar antboxs</h2>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt30">
            <form class="form-solid">
                <div class="row">
                    <div class="col-sm-6 col-md-7">
                        <div class="irow-xs pb30">
                            <p>Ordenar tus antboxs es muy sencillo, solo indícanos cuántas antboxs necesitas y a qué direcciones debemos enviártelas.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <div class="card card-image pt0 pb0">
                            <figure class="figure ">
                                <!--Agregar a clase para slider: "slider oneslider"-->
                                <ul data-fx="crossfade" data-auto="true" data-timeout="4500">
                                    <li>
                                        <img src="~/Images/antboxs_chica.png" alt="">
                                    </li>
                                    <!--<li>
                                    <a href="">
                                        <img src="images/antboxs_chica.jpg" alt="">
                                    </a>
                                </li>-->
                                </ul>
                                <!--<a class="slider-arrow slider-arrow-prev" href=""></a>
                            <a class="slider-arrow slider-arrow-next" href=""></a>
                            <nav class="slider-pagination pb70"></nav>-->
                            </figure>
                        </div>
                    </div>
                </div>
                @{
                    Html.RenderPartial("_BoxesPartialView", Model.Boxes);
                }
                <input type="hidden" class="ivav" value="@Model.Rules.Iva" />
                @foreach (var item in Model.Rules.Rules)
                {

                    <ul class="rules" style="display: none;">
                        <li class="min">@item.Min</li>
                        <li class="max">@item.Max</li>
                        <li class="discount">@item.Discount</li>
                    </ul>
                }
            </form>
        </div>
        <!-- /.container -->

        <!-- CONTAINER -->
        <div class="iwrap">
            <section class="container">
                <div class="row text-wrap text-center">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" data-animate="fadeInDown">
                        <h1>Solicita tus antboxs sin salir de casa y paga solamente las que usas</h1>
                        <p>
                            Solicita desde tu dispositivo móvil o por teléfono las antboxs que necesites y paga únicamente por las que uses.<br>
                            Indícanos cuando te las dejemos, cuando las recogemos y cuando te las devolvemos.<br>

                            Solo requieres tu cuenta de usuario y registrar una tarjeta de crédito.<br>

                            antboxs.<br>

                            Almacenamiento Fácil, Seguro y Conveniente.
                        </p>
                        <div class="heading-divider heading-divider-xs"></div>
                    </div>
                </div>
            </section>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-sm text-center ml0 mr0">
                <div class="col-md-3 col-sm-6 card card-light card-border-top-3">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-archive"></i>
                    </div>
                    <h4>1. Agregar antboxs</h4>
                </div>
                <div class="col-md-3 col-sm-6 card card-light card-lighter card-border-top-4">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-truck fa-flip-horizontal icon_grey"></i>
                    </div>
                    <h4>2. Agendar entregas</h4>
                </div>
                <div class="col-md-3 col-sm-6 card card-light card-darker card-border-top-4">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-user icon_grey"></i>
                    </div>
                    <h4>3. Crear nueva cuenta</h4>
                </div>
                <div class="col-md-3 col-sm-6 card card-light card-lighter card-border-top-4">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-thumbs-up icon_grey"></i>
                    </div>
                    <h4>4. ¡Orden completa!</h4>
                </div>
            </div>
        </div>
        <!-- /.container -->
        


    </div>
    <!-- /.content -->

</div>
<!-- /.wrapper -->
@section scripts {
    <script type="text/javascript">
        var discount = 0;
        var verifcupon = false;

        var rules = [];

    $(function () {

        $('.cant_antboxs').each(function () {
            if (parseInt($(this).val()) > 0) {
                $(this).val(0);
            }
        });

        $(".rules").each(function () {
            rules.push({
                min: parseInt($(this).find(".min").text()),
                max: ($(this).find(".max").text() == "null") ? -1 : parseInt($(this).find(".max").text()),
                discount: parseInt($(this).find(".discount").text()),
            });
        });

        $(".rules").remove();

        $('#quantityvalue').keypress(function (e) {
            var txt = String.fromCharCode(e.which);
            if (!txt.match(/[0-9]/)) {
                return false;
            }
        });

        $('.checkdisplay').change(function () {
            if (this.checked)
            {
                $('.todisplay').fadeIn('slow');
                $('.depositomensaje').fadeIn('slow');
                if ($('#deposito').is(':visible')) {
                    $('.anchorprecio').trigger('click');
                }
                $('.anchordeposito').hide();
            }
            else
            {
                $('.todisplay').fadeOut('slow');
                $('.depositomensaje').fadeOut('slow');
                $('.anchordeposito').show();
            }
                

        });

        $(".amount").each(function () {
            $(this).text($(this).text().replace(",", "."));
        });

        $(".agendar-entregas").click(function (e) {
            e.preventDefault();
            var antboxobject = devuelveboxsobject();
            if (verifantbox(antboxobject)) {
                var data = {};
                data.couponid = $('#couponid').val();
                data.boxs = antboxobject;
                showLoad(1)
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    type: 'POST',
                    url: '@Url.Action("TempUpdateAntboxesObject", "Customer")',
                    // data: $('#frmNewAddress').serialize(),
                    data: JSON.stringify(data),
                    success: function (d) {
                        location.href = '@Url.Action("AgendarEntregas", "Home")';
                    }, error: function () {
                        showLoad(0)
                    }
                });
            }
        });

        $(".aplicar-cupon").click(function () {
            var couponcode = $("#coupon_code").val();
            formData = {};
            formData.version = 2;
            formData.cupon = couponcode;
            if ($(this).val() == "Quitar cupón")
            {
                formData.cupon = "";
                $("#coupon_code").val("");
            }
            showLoad(1);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDisccount", "Precios")',
                // data: $('#frmNewAddress').serialize(),
                data: formData,
                success: function (d) {
                    showLoad(0);
                    if (d.success) {
                        if (d.verif == 1)
                        {
                            $('#couponid').val(d.couponid);
                            $(".aplicar-cupon").val("Quitar cupón");
                            discount = d.discount;
                            recalculateTotal();
                        } else {
                            alert('Obtuviste una renta gratis');
                            $('#couponid').val(couponcode);
                            $(".aplicar-cupon").val("Quitar cupón");
                            discount = 0;
                            recalculateTotal();
                        }
                    } else {
                        alert("El cupón introducido es inválido");
                        $(".aplicar-cupon").val("Aplicar cupón");
                        discount = 0;
                        recalculateTotal();
                    }
                }, error: function (e) {
                    showLoad(0);
                    discount = 0;
                    recalculateTotal();
                    $(".aplicar-cupon").val("Aplicar cupón");
                    discount = 0;
                }
            });
            
        })
    })

    var boxs = [];
    function AddBox(ide) {
        var p = '#Price_' + ide;
        var q = '#quantity_' + ide;

        var priceObj = $('#Price_' + ide)
        var quantityObj = $('#quantity_' + ide)
        var secureObj = $('#secure_' + ide)

        if (isNaN(quantityObj.val()) || quantityObj.val() == '') {
            quantityObj.val(0);
        }

        var price = priceObj.html();
        var deposit = parseFloat(secureObj.val());
        var quantity = quantityObj.val();

        quantity++;

        lineSub = price * quantity;
        depositSub = deposit * quantity;

        $('#LineTotal_' + ide).html(lineSub);
        $('#LineTotal_' + ide).parent().find('.deposit_antbox_total').val(depositSub);
        $('#cantvalue_' + ide).val(quantity);
        recalculateTotal();


        var boxobj = $('#box_' + ide);

        var boxid = boxobj.val();

        var data = JSON.stringify({ "boxid": boxid, "quantity": quantity })
        boxs[boxid] = quantity;

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("TempUpdateAntboxes", "Customer")',
            // data: $('#frmNewAddress').serialize(),
            data: data,
            success: function (d) {

            }

        });
    }

    function RemoveBox(ide) {
        var p = '#Price_' + ide;
        var q = '#quantity_' + ide;

        var priceObj = $('#Price_' + ide)
        var quantityObj = $('#quantity_' + ide)
        var secureObj = $('#secure_' + ide)

        if (isNaN(quantityObj.val()) || quantityObj.val() == '') {
            quantityObj.val(0);
        }

        var price = priceObj.html();
        var quantity = quantityObj.val();
        var deposit = parseFloat(secureObj.val());

        quantity--;
        if (quantity>=0)
        {
            lineSub = price * quantity;
            depositSub = deposit * quantity;
            
            $('#LineTotal_' + ide).html(lineSub);
            $('#LineTotal_' + ide).parent().find('.deposit_antbox_total').val(depositSub);
            $('#cantvalue_' + ide).val(quantity);
        }
        recalculateTotal();
        var boxobj = $('#box_' + ide);

        var boxid = boxobj.val();

        var data = JSON.stringify({ "boxid": boxid, "quantity": quantity })
        boxs[boxid] = quantity;

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("TempUpdateAntboxes", "Customer")',
            // data: $('#frmNewAddress').serialize(),
            data: data,
            success: function (d) {

            }

        });
    }

    function recalculateTotal()
    {
        var discountObj = $('#Discount');
        var discountCuponObj = $('#DiscountCupon');
        var subtotalObj =  $( '#Subtotal' );
        var taxObj =  $( '#Tax' );
        var totalObj = $('#Total');

        var subDepositObj = $('.sub_deposit');
        var ivaDepositObj = $('.iva_deposit');
        var totalDepositObj = $('.total_deposit');

        var total = 0;
        var subtotaldeposit = 0;
        var totaldeposit= 0;
        $( ".toSum" ).each(function( i ) {
            total += parseFloat($(this).text());
            if (!isNaN(parseFloat($(this).parent().find('.deposit_antbox_total').val())))
                totaldeposit += parseFloat($(this).parent().find('.deposit_antbox_total').val());
        });
        var cantTotal = 0;
        $(".cantvalue").each(function (i) {
            if (!isNaN($(this).val())) {
                cantTotal += parseInt($(this).val());
            }
        });
        var tax = total - (total / 1.16);
        var taxdeposito = totaldeposit - (totaldeposit / 1.16);
        var subtotal = total / 1.16;
        var discountsubtotal = 0;
        total = subtotal;
        if (discount != 0)
        {
            discountsubtotal = subtotal * (discount / 100);
            total = total - discountsubtotal;
            discountCuponObj.text(discountsubtotal.toFixed(2));
            $(".porcentaje-cupon").text("(" + discount + "%)");
        } else {

        }
        {
            discountCuponObj.text("0");
            $(".porcentaje-cupon").text("");
        }

        for (var i = 0; i < rules.length; i++) {

            var r = rules[i];
            var verifNull = ((r.max == -1) && cantTotal >= r.min);

            if ((cantTotal >= r.min && cantTotal <= r.max)||(verifNull))
            {
                if (r.discount > 0) {
                    discountsubtotal = subtotal * (r.discount / 100);
                    total = total - discountsubtotal;
                    discountObj.text(discountsubtotal.toFixed(2));
                    $(".porcentaje").text("(" + r.discount + "%)");
                } else {
                    discountObj.text("0");
                    $(".porcentaje").text("");
                }
            }
            
            
        }

        tax = total * 0.16;
        total = total + tax;
        var subtotaldeposit = totaldeposit / 1.16;

        subtotalObj.text(subtotal.toFixed(2));
        taxObj.text(tax.toFixed(2));
        totalObj.text(total.toFixed(2));

        subDepositObj.text(subtotaldeposit.toFixed(2));
        ivaDepositObj.text(taxdeposito.toFixed(2));
        totalDepositObj.text(totaldeposit.toFixed(2));

    }

    function verifantbox(antboxobject) {
        if (antboxobject.length == 0) {
            alert("Debe seleccionar al menos un antbox para poder seguir el proceso");
            return false;
        } else {
            var verifboxs = false;
            for (var i = 0; i < antboxobject.length; i++) {
                if (antboxobject[i].quantity > 0) {
                    verifboxs = true;
                }
            }
            if (!verifboxs) {
                alert("Debe seleccionar al menos un antbox para poder seguir el proceso");
            }
            return verifboxs;
        }
    }

    function devuelveboxsobject() {
        var boxsobject = [];
        boxs.forEach(function (element, index, array) {
            boxsobject.push({ boxid: index, quantity: boxs[i].element })
        })
        for (var k in boxs) {
            if (boxs.hasOwnProperty(k)) {
                boxsobject.push({ boxid: k, quantity: boxs[k] })
            }
        }
        return boxsobject;
    }

    var CartLine = function () {
        var self = this;



    }

    </script>



    <script type="text/javascript">
    function QuantityChange() {
        alert("Entro al on change");



    }

    



    </script>
}
