<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>@ViewBag.Title - Antboxs</title>

    @Styles.Render("~/Content/Admin2")
    @RenderSection("css", required: false)

    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

</head>
<body id="body-content">
    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- HEADER -->
    <header class="header header-light">
        <!-- NAVBAR -->
        <nav class="navbar container">

            <!-- NAVBAR BRAND -->
            <a class="navbar-brand pull-left" href='@Url.Action("Index", "Customer")'>
                <img src="@Url.Content("~/Content/Images/antboxs_logo.png")" alt="Antboxs">
            </a>
            <!-- /.navbar-brand -->
            <!-- NAVBAR ACCOUNT -->
            <div class="nav_account pull-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown"><span>@Html.Label(((AntBoxFrontEnd.Services.User.UserResponse)Session["admin"]).Name + " " + ((AntBoxFrontEnd.Services.User.UserResponse)Session["admin"]).Lastname)</span></a>
                        <ul class="dropdown-menu">
                            <li><a href='@Url.Action("Index", "Admin")'><i class="fa fa-user pull-right"></i>Usuarios</a></li>
                            <li><a href='@Url.Action("Catalogos", "Admin")'><i class="fa fa-building pull-right"></i>Catálogos</a></li>
                            <li><a href='@Url.Action("Codigos", "Admin")'><i class="fa fa-archive pull-right"></i>Códigos</a></li>
                            <li><a href='@Url.Action("Cupones", "Admin")'><i class="fa fa-history pull-right"></i>Cupones</a></li>
                            <li><a href='@Url.Action("Cuenta", "Admin")'><i class="fa fa-credit-card pull-right"></i>Cuenta</a></li>
                            <li><a href='@Url.Action("Logout", "Admin")'><i class="fa fa-sign-out pull-right"></i>Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-account -->

            <div class="divider pull-right no_landscape_down"></div>
            <!-- NAVBAR COLLAPSE -->
            <div id="navbar" class="navbar-collapse collapse pull-right no_landscape_down">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <a href="@Url.Action("Index", "Admin")">Usuarios</a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Catalogos" ? "active" : "")">
                        <a href="@Url.Action("Catalogos", "Admin")">Catálogos</a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Codigos" ? "active" : "")">
                        <a href="@Url.Action("Codigos", "Admin")">Códigos</a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Cupones" ? "active" : "")">
                        <a href="@Url.Action("Cupones", "Admin")">Cupones</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </nav>
        <!-- /.navbar -->
    </header>
    <!-- /.header -->
    @RenderBody()
    <!-- FOOTER -->
    <footer class="footer">
        <!-- FOOTER EXTRA -->
        <div class="footer-extra">
            <div class="container">
                <nav class="contact-info text-center">
                    © Antboxs
                    <script type="text/javascript"> document.write(new Date().getFullYear()); </script> | Todos los derechos reservados.
                </nav>
            </div>
        </div>
        <!-- /.footer-extra -->
    </footer>
</body>
<!-- /.modal -->
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/antbox")
@Scripts.Render("~/bundles/jqueryval")
@RenderSection("scripts", required: false)

<script>
    var modalToClose = null;
    var verifCloseModal = false;
    function mostrarMensaje(element, ElemVerifExist, mensaje, clase) {
        if (!$("#"+ElemVerifExist).length)
        {
            element.prepend(
                    '<div class="alert ' + clase + '" role="alert" id="' + ElemVerifExist + '">' + mensaje + '</div>');
            window.setTimeout(function ()
            {
                $("#" + ElemVerifExist).alert('close');
                if ((typeof modalToClose !== "undefined") && (modalToClose != null) && (verifCloseModal))
                {
                    verifCloseModal = false;
                    modalToClose.modal("hide");
                }
            }, 2000);
        }
        
    }
    jQuery.extend(jQuery.validator.messages, {
        required: "Este campo es requerido.",
        remote: "Please fix this field.",
        email: "Please enter a valid email address.",
        url: "Please enter a valid URL.",
        date: "Please enter a valid date.",
        dateISO: "Please enter a valid date (ISO).",
        number: "Please enter a valid number.",
        digits: "Please enter only digits.",
        creditcard: "Please enter a valid credit card number.",
        equalTo: "Las contraseñas debe coincidir.",
        accept: "Please enter a value with a valid extension.",
        maxlength: jQuery.validator.format("Por favor ingresa no mas de {0} caracteres."),
        minlength: jQuery.validator.format("Por favor ingresa al menos {0} caracteres."),
        rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
        range: jQuery.validator.format("Please enter a value between {0} and {1}."),
        max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
        min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
    });
</script>