@model IEnumerable<AntBoxFrontEnd.Services.Tasks.TaskResponse>


@foreach (var item in Model)
{
            <div class="col-sm-12 back_gris pt30 pb20 mb30">
                <div class="media-left">
                    <div class="icon icon-color icon-size-4">
                        @if (item.Type == "pickup")
                        {
                            <i class="fa fa-truck fa-flip-horizontal"></i>
                        }
                        else
                        {
                            <i class="fa fa-archive"></i>
                        }
                    </div>
                </div>
                <div class="media-body w100">
                    @if (item.Type == "pickup")
                    {
                        <h4>Recolección</h4>
                    }
                    else
                    {
                        <h4>Entrega</h4>
                    }
                    <p>Fecha: <span class="fecha">@Html.DisplayFor(modelItem => item.completeAfterDate)</span><br />Lugar: <span class="calle">@Html.DisplayFor(modelItem => item.Address.Street)</span> <span class="external">@Html.DisplayFor(modelItem => item.Address.External_number)</span>, <span class="colonia">@Html.DisplayFor(modelItem => item.Address.Neighborhood)</span>, <span class="ciudad">@Html.DisplayFor(modelItem => item.Address.City)</span>, C.P. @Html.DisplayFor(modelItem => item.Address.Zipcode). </p>
                    <input type="hidden" class="delegacion" value="@item.Address.Delegation" />
                    <input type="hidden" class="referencia" value="@item.Address.References" />
                    @if (item.Status == "completed")
                    {
                        <div class="sticker_mov completed">Completado</div>
                    } else if (item.Status == "inprogress")
                    {
                        <div class="sticker_mov in_progress">En progreso</div>
                    } else if (item.Status == "canceled")
                    {
                        <div class="sticker_mov canceled">Cancelado</div>
                    }
                    @if (item.Status == "completed")
                    {
                        if (item.Type == "pickup")
                        {
                            <button type="button" class="btn btn-primary btn-sm pull-right ml10 recibo-recoleccion" data-id="@item.Id">Ver Recibo</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary btn-sm pull-right ml10 recibo-entrega" data-id="@item.Id">Ver Recibo</button>
                        }
                    }
                    @if (item.verifday)
                    {
                        <button type="button" class="btn btn-primary btn-sm pull-right btn_blue solicitar" data-toggle="modal" data-folio="@Html.DisplayFor(modelItem => item.Folio)" data-id="@Html.DisplayFor(modelItem => item.Id)">Reagendar</button>
                    }
                </div>
            </div>


            @*<div class="col-sm-12 back_gris pt30 pb20 mb30">
                <div class="media-left">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-truck fa-flip-horizontal"></i>
                    </div>
                </div>
                <div class="media-body">
                    <h4>Recolección</h4>
                    <p>Fecha: 26 / Abril / 2016<br />Lugar: Fachada de color blanco con azul. Fachada de color blanco con azul.</p>
                    <div class="sticker_mov completed">Completado</div>
                </div>
            </div>
            <div class="col-sm-12 back_gris pt30 pb20 mb30">
                <div class="media-left">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-archive"></i>
                    </div>
                </div>
                <div class="media-body">
                    <h4>Entrega</h4>
                    <p>Fecha: 26 / Abril / 2016<br />Lugar: Fachada de color blanco con azul. Fachada de color blanco con azul. Lugar: Fachada de color blanco con azul. Fachada de color blanco con azul.</p>
                    <div class="sticker_mov in_progress">En progreso</div>
                </div>
            </div>*@
}
