<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>@ViewBag.Title - Antboxs</title>

    @Styles.Render("~/Content/CustomerService2")
    @RenderSection("css", required: false)

    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

</head>
<body id="body-content">
    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- HEADER -->
    <header class="header header-light">
        <!-- NAVBAR -->
        <nav class="navbar container">

            <!-- NAVBAR BRAND -->
            <a class="navbar-brand pull-left" href='@Url.Action("Index", "Customer")'>
                <img src="@Url.Content("~/Content/Images/antboxs_logo.png")" alt="Antboxs">
            </a>
            <!-- /.navbar-brand -->
            <!-- NAVBAR ACCOUNT -->
            <div class="nav_account pull-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown"><span>@Html.Label(((AntBoxFrontEnd.Services.User.UserResponse)Session["helpdesk"]).Name + " " + ((AntBoxFrontEnd.Services.User.UserResponse)Session["helpdesk"]).Lastname)</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "CustomerService")"><i class="fa fa-users pull-right"></i>Clientes</a></li>
                            <li><a href="@Url.Action("Antboxs", "CustomerService")"><i class="fa fa-archive pull-right"></i>Antboxs</a></li>
                            <li><a href="@Url.Action("Recolecciones", "CustomerService")"><i class="fa fa-truck pull-right"></i>Recolecciones</a></li>
                            <li><a href="@Url.Action("Entregas", "CustomerService")"><i class="fa fa-truck fa-flip-horizontal pull-right"></i>Entregas</a></li>
                            <li><a href="@Url.Action("Cuenta", "CustomerService")"><i class="fa fa-user pull-right"></i>Cuenta</a></li>
                            <li><a href="@Url.Action("Logout", "CustomerService")"><i class="fa fa-sign-out pull-right"></i>Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-account -->

            <div class="divider pull-right no_landscape_down"></div>
            <!-- NAVBAR COLLAPSE -->
            <div id="navbar" class="navbar-collapse collapse pull-right no_landscape_down">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <a href="@Url.Action("Index", "CustomerService")">Clientes</a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Antboxs" ? "active" : "")">
                        <a href="@Url.Action("Antboxs", "CustomerService")">Antboxs</a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Entregas" ? "active" : "")">
                        <a href="@Url.Action("Entregas", "CustomerService")">Entregas</a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Recolecciones" ? "active" : "")">
                        <a href="@Url.Action("Recolecciones", "CustomerService")">Recolecciones</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </nav>
        <!-- /.navbar -->
    </header>
    <!-- /.header -->
    @RenderBody()
    <!-- FOOTER -->
    <footer class="footer">
        <!-- FOOTER EXTRA -->
        <div class="footer-extra">
            <div class="container">
                <nav class="contact-info text-center">
                    © Antboxs
                    <script type="text/javascript"> document.write(new Date().getFullYear()); </script> | Todos los derechos reservados.
                </nav>
            </div>
        </div>
        <!-- /.footer-extra -->
    </footer>
</body>
<!-- /.modal -->
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/scriptsservice")
@Scripts.Render("~/bundles/jqueryval")
@RenderSection("scripts", required: false)

<script>
    var modalToClose = null;
    var verifCloseModal = false;
    function mostrarMensaje(element, ElemVerifExist, mensaje, clase) {
        if (!$("#"+ElemVerifExist).length)
        {
            element.prepend(
                    '<div class="alert ' + clase + '" role="alert" id="' + ElemVerifExist + '">' + mensaje + '</div>');
            window.setTimeout(function ()
            {
                $("#" + ElemVerifExist).alert('close');
                if ((typeof modalToClose !== "undefined") && (modalToClose != null) && (verifCloseModal))
                {
                    verifCloseModal = false;
                    modalToClose.modal("hide");
                }
            }, 2000);
        }
        
    }
</script>