<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>@ViewBag.Title - Antboxs</title>

    @Styles.Render("~/Content/Customer2")
    @RenderSection("css", required: false)

    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    
</head>
<body id="body-content">
    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- HEADER -->
    <header class="header header-light">
        <!-- NAVBAR -->
        <nav class="navbar container">

            <!-- NAVBAR BRAND -->
            <a class="navbar-brand pull-left" href='@Url.Action("Index", "Customer")'>
                <img src="@Url.Content("~/Content/Images/antboxs_logo.png")" alt="Antboxs">
            </a>
            <!-- /.navbar-brand -->
            <!-- NAVBAR ACCOUNT -->
            <div class="nav_account pull-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown"><span>@Html.Label(((AntBoxFrontEnd.Services.Customer.CustomerResponse)Session["customer"]).Name + " " + ((AntBoxFrontEnd.Services.Customer.CustomerResponse)Session["customer"]).LastName)</span></a>
                        <ul class="dropdown-menu">
                            <li><a href='@Url.Action("Cuenta", "Customer")'><i class="fa fa-user pull-right"></i>Cuenta</a></li>
                            <li><a href='@Url.Action("Direcciones", "Customer")'><i class="fa fa-building pull-right"></i>Direcciones</a></li>
                            <li><a href='@Url.Action("Antboxs", "Customer")'><i class="fa fa-archive pull-right"></i>Mis Antboxs</a></li>
                            <li><a href='@Url.Action("Movimientos", "Customer")'><i class="fa fa-history pull-right"></i>Movimientos</a></li>
                            <li><a href='@Url.Action("Pagos", "Customer")'><i class="fa fa-credit-card pull-right"></i>Pagos</a></li>
                            <li><a href='@Url.Action("Ordenar", "Customer")'><i class="fa fa-truck fa-flip-horizontal pull-right"></i>Ordenar</a></li>
                            <li><a href='@Url.Action("Index", "Home")'><i class="fa fa-sign-out pull-right"></i>Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-account -->

        </nav>
        <!-- /.navbar -->
    </header>
    <!-- /.header -->
    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-user"></i>
                    <span class="title">¡Bienvenido a Antboxs!</span>
                    <div class="divider"></div>
                    <span class="subtitle">Almacenamiento Seguro, Fácil y Conveniente</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->

        @RenderBody()

    <!-- PROMO-BOX -->
    <div class="promo-box promo-box-light">
        <div class="container">
            <section class="row irow-xs page-header cols-border divtable mt30 mb30">
                <div class="col-lg-10 col-md-9 col-sm-8 divcell promobox_txt mb40">
                    <h2>¿Tienes dudas sobre nuestro servicio?</h2>
                    <p>Visita las preguntas frecuentes, probablemente ya hemos respondido tus dudas. Sino escríbenos o llámanos y con gusto te atendemos.</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 text-right divcell">
                    <a href='@Url.Action("PreguntasFrecuentes", "Home")' target="_blank" class="btn btn-primary btn-md">Preguntas Frecuentes</a>
                </div>
            </section>
        </div>
    </div>
    <!-- /.promo-box -->
        
    <!-- FOOTER -->
    <footer class="footer">
        <!-- FOOTER -->
        <div class="pagetitle pagetitle-collapse">
            <a data-toggle="collapse" href="#pagetitle-collapse" class="pagetitle-toggle collapsed"></a>
            <div id="pagetitle-collapse" class="pagetitle-panel panel-collapse collapse">
                <!-- FOOTER ROW -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="widget widget_about">
                                <h2><img class="mb10" src="@Url.Content("~/Content/Images/antboxs_logo.png")" alt="Antboxs" /></h2>
                                <p>Antboxs cuida de tu vida y espacio, al ofrecerte una solución de fácil uso, para el almacenamiento de tus artículos, con servicio a domicilio; pagando solamente el espacio que realmente necesitas, a través de una Infraestructura Logística y plataforma tecnológica de clase Mundial.</p>
                                <a href="#" class="btn btn-primary" data-toggle="modal">Contacto</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="widget widget_links">
                                <h2 class="widget-title">Categorías</h2>
                                <ul>
                                    <li><a href='@Url.Action("Cuenta", "Customer")'><i class="fa fa-angle-right"></i> Cuenta</a></li>
                                    <li><a href='@Url.Action("Antboxs", "Customer")'><i class="fa fa-angle-right"></i> Mis Antboxs</a></li>
                                    <li><a href='@Url.Action("Direcciones", "Customer")'><i class="fa fa-angle-right"></i> Direcciones</a></li>
                                    <li><a href='@Url.Action("Movimientos", "Customer")'><i class="fa fa-angle-right"></i> Movimientos</a></li>
                                    <li><a href='@Url.Action("Pagos", "Customer")'><i class="fa fa-angle-right"></i> Pagos</a></li>
                                    <li><a href='@Url.Action("Ordenar", "Customer")'><i class="fa fa-angle-right"></i> Ordenar</a></li>
                                    <li><a href='@Url.Action("Contacto", "Home")' target="_blank"><i class="fa fa-angle-right"></i> Contacto</a></li>
                                    <li><a href='@Url.Action("PreguntasFrecuentes", "Home")' target="_blank"><i class="fa fa-angle-right"></i> Preguntas Frecuentes</a></li>
                                    <li><a href="@Url.Content("~/Content/docs/aviso-de-privacidad.pdf")" target="_blank"><i class="fa fa-angle-right"></i> Aviso de Privacidad</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="widget widget_follow_us">
                                <h2 class="widget-title">Redes Sociales</h2>
                                <ul>
                                    <li>
                                        <a href="http://www.facebook.com" target="_blank">
                                            <i class="fa fa-facebook-square">  </i>
                                            Facebook
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.youtube.com" target="_blank">
                                            <i class="fa fa-youtube-square">  </i>
                                            YouTube
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="widget widget_contact">
                                <h2 class="widget-title">Contacto</h2>
                                <ul class="widget_contact_list">
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        <address>
                                            Guillermo González Camarena 1600 - 2E<br>
                                            Ciudad Santa Fe, Álvaro Obregón 01210<br>
                                            CDMX
                                        </address>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <address>
                                            Tel. 55-7158-5393 / 5300</a>
                                        </address>
                                    </li>

                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <address>
                                            <a href="mailto:info@antboxs.com">info@antboxs.com</a>
                                        </address>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.footer row -->
            </div>
        </div>
        <!-- /.pagetitle -->
        <!-- FOOTER EXTRA -->
        <div class="footer-extra">
            <div class="container">
                <nav class="contact-info pull-left">
                    © Antboxs
                    <script type="text/javascript"> document.write(new Date().getFullYear()); </script> | Todos los derechos reservados.
                </nav>
                <nav class="extra-menu pull-right">
                    <a href="tel:+3706546340" class="phone"><i class="fa fa-phone"></i> +370 654 630 40</a>
                    <a href="mailto:info@sample.com" class="email"><i class="fa fa-envelope-o"></i> info@antboxs.mx</a>
                </nav>
            </div>
        </div>
        <!-- /.footer-extra -->

    </footer>
</body>
<!-- /.modal -->
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/antbox")
@Scripts.Render("~/bundles/jqueryval")
@RenderSection("scripts", required: false)
