@using Microsoft.AspNet.Identity
@model AntBoxFrontEnd.Models.AntBoxAddressViewModel 
  

<script>
    $(function () {
        $("button").click(function () {
            $.ajax({
                type: "POST",
                url: "/Receiver",
                data: $('#myForm').serialize(),
                datatype: "html",
                success: function (data) {
                    $('#result').html(data);
                }
            });
        });
    });
</script>
<script src="@Url.Content("~/Scripts/antbox/index.js")" type="text/javascript"></script>

<div class="row">
    <div class="col-sm-12">
        <hr class="hr-dashed mt0 mb40" />
    </div>
</div>
<div class="row mt10">
    <div class="col-sm-12">
        <div class="irow-xs">
            <h3>Dirección de recolección</h3>
            <p>¿Dónde y cuándo debemos llevarte tus Antboxs vacías?</p>
        </div>
    </div>
</div>
<div class="row mt20">
    <div class="col-sm-6">
        <div class="form-group mb0">
            <label for="form-select">Dirección de recolección</label>
            <select id="form-select">
                <option value>- Selecciona una opción -</option>
                <option value="Casa">Casa</option>
                <option value="Oficina">Oficina</option>
                <option value="Facturación">Facturación</option>
            </select>
            <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#nueva_direccion">Nueva dirección</button>
        </div>
        <label for="textbox">Fecha</label>
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" id="recoleccion" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
            </span>
            <input class="form-control" type="text" id="fecha_recoleccion" name="fecha_recoleccion" disabled="disable">
        </div>
        <div class="form-group">
            <label for="form-select">Horario de recolección</label>
            <select id="form-select">
                <option value>- Selecciona una opción -</option>
                <option value="09-11">09:00 - 11:00 hrs.</option>
                <option value="11-13">11:00 - 13:00 hrs.</option>
                <option value="13-15">13:00 - 15:00 hrs.</option>
                <option value="15-17">15:00 - 17:00 hrs.</option>
                <option value="17-19">17:00 - 19:00 hrs.</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="form-message">Referencias o comentarios</label>
            <textarea name="message" id="form-message"></textarea>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="optionsCheckbox">
                Quiero que el conductor me espere para que pueda llevar mis Antboxs de vuelta al almacén de forma inmediata. (Considere que los conductores solo pueden esperar hasta 20 minutos)
            </label>
        </div>
    </div>
</div>


<!-- Modal Medium -->
<div class="modal fade" id="nueva_direccion">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Registrar nueva dirección</h6>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "AntBoxAddresses", FormMethod.Post , new { @class = "contact-form form-solid", role = "form" }))
                {
                    @Html.HiddenFor(a => a.Customer_id)
                    @Html.HiddenFor(a => a.Rfc_id)
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(a => a.Alias)
                                @Html.TextBoxFor(a => a.Alias)
                                @Html.ValidationMessageFor(a => a.Alias, "", new { @class = "alert alert-danger fade-in" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(a => a.Street)
                                @Html.TextBoxFor(a => a.Street)
                                @Html.ValidationMessageFor(a => a.Street, "", new { @class = "alert alert-danger fade-in" })
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(a => a.Internal_number)
                                        @Html.TextBoxFor(a => a.Internal_number)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(a => a.External_number)
                                        @Html.TextBoxFor(a => a.External_number)
                                        @Html.ValidationMessageFor(a => a.External_number, "", new { @class = "alert alert-danger fade-in" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(a => a.Zipcode)
                                @Html.TextBoxFor(a => a.Zipcode)
                                @Html.ValidationMessageFor(a => a.Zipcode, "", new { @class = "alert alert-danger fade-in" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(a => a.Delegation)
                                @Html.DropDownListFor(x=> x.Delegation,
                                                        Enumerable.Empty<SelectListItem>(),
                                                            "-- Seleccione el código postal --")
                                Model.Delegaciones)
                                @Html.ValidationMessageFor(a => a.Delegation, "", new { @class = "alert alert-danger fade-in" })
                               
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(a => a.Neighborhood)
                                @Html.DropDownListFor(x => x.Neighborhood,
                                                        Enumerable.Empty<SelectListItem>(),
                                                            "-- Seleccione el código postal --")
                                @Html.ValidationMessageFor(a => a.Neighborhood, "", new { @class = "alert alert-danger fade-in" })
                            </div>
                            <div id="hidden_div3" class="form-group">
                                @Html.LabelFor(a => a.Neighborhood)
                                @Html.TextBoxFor(a => a.Neighborhood)
                            </div>
                        </div>
                        <div class="col-sm-6 pl0_modal">
                            <div class="form-group">
                                @Html.LabelFor(a => a.City)
                                @Html.DropDownListFor(x => x.City,
                                                        Enumerable.Empty<SelectListItem>(),
                                                            "-- Seleccione el código postal --")
                                @Html.ValidationMessageFor(a => a.City, "", new { @class = "alert alert-danger fade-in" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(a => a.State)
                                @Html.DropDownListFor(x => x.State,
                                                        Enumerable.Empty<SelectListItem>(),
                                                            "-- Seleccione el código postal --")
                                @Html.ValidationMessageFor(a => a.State, "", new { @class = "alert alert-danger fade-in" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(a => a.Country)
                                @Html.TextBoxFor(a => a.Country)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(a => a.References)
                                @Html.TextAreaFor(a => a.References)
                            </div>
                        </div>
                        <div class="col-sm-12 mt10">
                            <input type="submit" value="Create" class="btn btn-primary btn-wide pull-right" />
                            <p class="succs-msg">Мensaje enviado</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->