<aside>
    <div class="widget widget_tag_cloud">
        <ul class="tagcloud">
            <li><a href='@Url.Action("Cuenta", "Customer")'><i class="fa fa-angle-right pull-right"></i>Cuenta</a></li>
            <li><a href='@Url.Action("Direcciones", "Customer")' class="btn_active"><i class="fa fa-angle-right pull-right"></i>Direcciones</a></li>
            <li><a href='@Url.Action("Antboxs", "Customer")'><i class="fa fa-angle-right pull-right"></i>Mis Antboxs</a></li>
            <li><a href='@Url.Action("Movimientos", "Customer")'><i class="fa fa-angle-right pull-right"></i>Movimientos</a></li>
            <li><a href='@Url.Action("Pagos", "Customer")'><i class="fa fa-angle-right pull-right"></i>Pagos</a></li>
            <li><a href='@Url.Action("Ordenar", "Customer")'><i class="fa fa-angle-right pull-right"></i>Ordenar</a></li>
        </ul>
    </div>
</aside>
