
@model  AntBoxFrontEnd.Models.AntBoxesViewModel

@{ 
    ViewData["i"] = 1;

}


<div class="row" id="Precios">
    <div class="col-sm-12">
        <div class="responsive">
            <table class="table shop_table cart">
                <thead>
                    <tr>
                        <th class="product-name">Antboxs</th>
                        <th class="product-price no_mobile">Precio</th>
                        <th class="product-quantity">Cantidad</th>
                        <th class="product-subtotal no_iphone_portrait">Total</th>
                        <!--<th class="product-remove">&nbsp;</th>-->
                    </tr>
                </thead>
                <tbody id="tblBoxes">
                    @{int rowNo = 1;}

                    @foreach (var item in Model.Order)
                    {
                        <tr class="cart_item" id=@rowNo>
                            <td class="product-name">
                                <h5>+ @item.Model + </h5>
                                <dl class="variation">
                                    <dt class="variation-Color">Medidas:</dt>
                                    <dd class="variation-Color">
                                        <p>+ @item.Sizes +</p>
                                    </dd>
                                </dl>
                            </td>
                            <td class="product-price no_mobile">
                                <span class="amount">$ + @item.Price +</span>
                            </td>
                            <td class="product-quantity">
                                <a href="" class="minus disabled">-</a>
                                <input type="text" value=@item.Quantity) >
                                <a href="" class="plus">+</a>
                            </td>
                            <td class="product-subtotal no_iphone_portrait">
                                <span class="amount">$ @item.LineTotal </span>
                            </td>
                            @(rowNo += 1)
                        </tr>
                      
                    }

                    <tr>
                        <td class="actions" colspan="6">
                            <div class="coupon pull-right center_iphone_portrait">
                                <input id="coupon_code" class="input-text pb10__iphone_portrait" type="text" placeholder="Código de cupón" value="" name="coupon_code">
                                <input class="btn btn-primary pull-right floatr ml10 center_iphone_portrait" type="submit" value="Aplicar cupón">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row irow-xs cart-collaterals mt0">
            <div class="col-md-5 col-sm-6">
            </div>
            <div class="col-md-offset-1 col-sm-6 cart_totals">
                <table class="table">
                    <tbody>
                        <tr class="cart-subtotal">
                            <th>Descuento</th>
                            <td>
                                <span class="amount">$ @Html.DisplayTextFor(o => o.Discount)</span>
                            </td>
                        </tr>
                        <tr class="cart-subtotal">
                            <th>Subtotal</th>
                            <td>
                                <span class="amount">$ @Html.DisplayTextFor(o => o.Subtotal)</span>
                            </td>
                        </tr>
                        <tr class="shipping">
                            <th>+ IVA</th>
                            <td>
                                <span class="amount">$ @Html.DisplayTextFor(o => o.Iva)</span>
                            </td>
                        </tr>
                        <tr class="order-total">
                            <th>Total</th>
                            <td>
                                <strong>
                                    <span class="amount">$ @Html.DisplayTextFor( o=> o.Total) </span>
                                </strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
