@model AntBoxFrontEnd.Services.AntBoxes.PaginationAntBoxes
@{
    ViewBag.Title = "Index";
}
<!-- WRAPPER -->
<div class="wrapper">
    <!-- CONTENT -->
    <div class="content mis_antboxs">
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-12">
                    <h1>Mis Antboxs</h1>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt30">
            @Html.Hidden("idpagination", @Model.Pagination_id)
            @Html.Hidden("total", @Model.Total)
            @Html.Hidden("pages", @Model.Pages)
            <div class="row">
                <div class="col-md-3 pr0 no_portrait">
                    @Html.Partial("_LeftMenu")
                </div>
                <div class="col-md-9">

                    <div class="row">
                        <div class="irow-xs pb30 pl30 pr30">
                            <h3>Mis Antboxs almacenados</h3>
                            <p>Programa la solicitud de tus Antboxs en el momento que tú decidas. Agrega una descripción que te permita identificar su contenido fácilmente.</p>
                        </div>
                        <div id="antboxs-container">
                            @if (Model.Total != null)
                            {
                                @Html.Partial("_CustomerAntboxs", Model.Antboxs)
                            }
                        </div>
                    </div>
                    <div id="loader" role="alert" style="display: none;">
                        <img src="@Url.Content("~/Images/preloader.gif")" />   Cargando antboxs... &nbsp;
                    </div>
                    @if (@Model.Total != null)
                    {
                    <div class="pagination solid text-center"></div>
                    }
                    else
                    {
                        <h4>Sin Antboxs</h4>
                    }
                    <div class="row">
                        <div class="col-sm-12 pl0 pr0 pt20 text-center">
                            <!-- PAGINATION -->
                            
                            <!-- /.pagination -->
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
    <?php include 'includes/promobox.php';?>

</div>
<!-- /.wrapper -->
<?php include 'includes/footer.php';?>

<!-- Modal Small -->
<div class="modal fade" id="editar">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Editar mi Antboxs</h6>
            </div>
            <div class="modal-body">
                <form action="../../php/email.php" method="post" class="contact-form form-solid form-editar-antbox" novalidate>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="mname-antbox">Nombre de mi Antboxs</label>
                                <input type="text" name="mname-antbox" id="mname-antbox" placeholder="Mi Antbox">
                            </div>
                            <div class="form-group">
                                <label for="mdescription-antbox">Descripción</label>
                                <textarea name="mdescription-antbox" id="mdescription-antbox" placeholder="Descripción"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 mt10">
                            <input type="submit" class="btn btn-primary btn-wide pull-right guardar-antbox" value="Guardar">
                            <p class="succs-msg">Мensaje enviado</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- Modal Medium -->
<div class="modal fade" id="solicitar">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Solicitar mi Antboxs</h6>
            </div>
            <div class="modal-body">
                <div id="loader-solicitar" role="alert" style="display: none;">
                    <img src="@Url.Content("~/Images/preloader.gif")" />   Solicitando antboxs... &nbsp;
                </div>
                <form method="post" class="form-solid " id="form-solicitar-antbox">
                    <input type="hidden" name="status" id="statusantbox" value="" />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group mb0">
                                <label for="address">* Dirección de entrega</label>
                                <select id="address" name="address">
                                    @if (Model.Addresses != null)
                                    {
                                        foreach (var item in Model.Addresses)
                                        {
                                            if (item != null)
                                            {
                                                <option value='@item.Id.ToString()'> @item.Alias</option>
                                            }
                                        }
                                    }
                                </select>
                                @Html.ActionLink("Nueva direción", "Direcciones", "Customer", new { @class = "pull-right" })
                            </div>
                            <label for="textbox">* Fecha</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" id="entrega" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                </span>
                                <input class="form-control" type="text" id="fecha_entrega" name="fecha_entrega" disabled="disable">
                            </div>
                            <div style='display:none' id="alert_fecha" class="help-block"><label>La fecha debe ser superior a la actual*</label></div>
                            <div class="form-group">
                                <input type="hidden" name="horariostring" id="horariostring" value="" />
                                <label for="horario">* Horario de entrega</label>
                                <select id="horario" name="horario" onchange="HorarioRecoleccion()">
                                    <option value="">- Selecciona una opción -</option>
                                </select>
                            </div>
                        </div>
                        <div style='display:none' id="alert_horario" class="help-block"><label>No hay trabajadores disponibles para este horario*</label></div>
                        <div class="col-sm-6 pl0_modal">
                            <div class="form-group">
                                <label for="referencia">Referencias o comentarios</label>
                                <textarea name="referencia" id="referencia"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 mt10">
                            <input type="button" class="btn btn-primary btn-wide pull-right solicitar-antbox" value="Solicitar">
                            <p class="succs-msg">Мensaje enviado</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

@section css {
    @Styles.Render("~/Content/simplepaginationcss")
}

@section scripts {
@Scripts.Render("~/bundles/simplepaginationjs")
<script type="text/javascript">
    Calendar.setup({
        inputField: "fecha_entrega",      // id del campo de texto
        ifFormat: "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
        button: "entrega",   // el id del botón que lanzará el calendario
        verifModal: true,
        onUpdate: function () {
            var date = $("#fecha_entrega").val();
            var f = new Date();
            var month = f.getMonth() + 1
            month = (parseInt(month) < 10) ? "0" + month : month;
            var day = (parseInt(f.getDate()) < 10) ? "0" + f.getDate() : f.getDate();
            var fecha_hoy = f.getFullYear() + "-" + month + "-" + day;

            if (date <= fecha_hoy) {
                document.getElementById('alert_fecha').style.display = 'block';
                $('#fecha_entrega').css('background', '#ffdede');
                //alert("La fecha no puede ser menor a la fecha de hoy");
                $('#fecha_entrega').attr('value') = '';
            } else {
                document.getElementById('alert_fecha').style.display = 'none';
                $('#fecha_entrega').css('background', '');
                if ($("#fecha_entrega").val() != "") {
                    $("#fecha_entrega").closest(".form-group").removeClass("has-error");
                    $("#fecha_entrega").closest(".form-group").find(".help-block").remove();
                }
                showLoad(1);
                $.ajax({
                    url: '@Url.Action("getSchedules", "Customer")',
                    type: "GET",
                    data: { "date": date },
                    success: function (schedules) {
                        // alert("<option value='" + schedules[0].worker + "'>" + schedules[0].Start + " - " + schedules[0].End + " hrs.</option>");
                        $("#horario").html("");
                        var items = '<option>Seleccciona un horario disponible</option>';
                        for (var i = 0; i < schedules.length ; i++) {
                            items += "<option value='" + schedules[i].worker + "'>" + schedules[i].Start + " - " + schedules[i].End + " hrs.</option>";
                        }
                        $('#horario').html(items);
                        $('#horario').trigger("chosen:updated");
                    }, complete: function () {
                        showLoad(0);
                    }
                });
            }
        }
    });
    $(function () {
        //editar andbox
        var element = null;
        var ideditar = null;
        $(document).on("click", ".editar", function () {
            element = $(this);
            var name = element.parent().find('.name-antbox').text();
            var description = element.parent().find('.description-antbox').text();
            var ideditar = element.attr('data-id');
            $('.guardar-antbox').attr('data-id', ideditar);

            if (name.trim() != "Mi Antbox") $('#mname-antbox').val(name.trim());
            else $('#mname-antbox').val('');

            if (description.trim() != "" && description.trim() != "undefined" && description.trim() != "Descripción") $('#mdescription-antbox').val(description.trim());
            else $('#mdescription-antbox').val('');
        });

        $(document).on("click", ".solicitar", function () {
            element = $(this);
            var elementchecked = $(this).closest("div").find(".select-antbox-check");
            $('#statusantbox').val($(this).attr("data-status"));
            elementchecked.prop('checked', true);
            $("#solicitar").modal("show");
        });

        $('.guardar-antbox').click(function (event) {
            event.preventDefault();
            showLoad(1);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateAjax", "AntBox")',
                data: { id: element.attr('data-id'), name: $('#mname-antbox').val(), description: $('#mdescription-antbox').val() },
                success: function (result) {
                    showLoad(0);
                    if (result.success == true) {
                        //antbox editado
                        if (!$('#UpdateAntBoxSuccess').length) {
                            $('.form-editar-antbox').prepend('<div class="alert alert-success alert-dismissible fade in" id="UpdateAntBoxSuccess"> <button type="button" class="close" data-dismiss="alert"> <i class="fa fa-times"></i></button><p><i class="fa fa-check"></i>Se ha actualizado la información.</p></div>');
                            window.setTimeout(function () {
                                $('#UpdateAntBoxSuccess').remove();
                            }, 3000);
                            window.setTimeout(function () {
                                $('#mname-antbox').val('');
                                $('#mdescription-antbox').val('');
                                $('#editar').modal('hide');
                            }, 500);
                        }
                        element.parent().find('.name-antbox').text($('#mname-antbox').val());
                        element.parent().find('.description-antbox').text($('#mdescription-antbox').val());
                    } else {

                    }
                }, error: function () {
                    showLoad(0);
                }
            });
        });

        $("#solicitar").on('hidden.bs.modal', function () {
            // do something…
            $('#fecha_entrega').val('');
            $("#horario").html("");
            $('#horario').trigger("chosen:updated");
        })

        function colocaChosen() {
            $(".chosen-container").each(function () {
                $(this).insertBefore($(this).closest(".form-group").find("select"));
            })
        }

        $('#form-solicitar-antbox').validate({
            rules: {
                address: {
                    required: true
                },
                "fecha_entrega": {
                    required: true
                },
                horario: {
                    required: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                colocaChosen();
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $('.solicitar-antbox').click(function (event) {

            event.preventDefault();

            var checkeds = [];
            var succesed = [];
            var count = 0;

            $("#loader-solicitar").show();
            console.log($(".select-antbox:checked").length);
            

            if ($('#form-solicitar-antbox').valid())
            {
                showLoad(1);
                requests = null;
                $(".select-antbox-check:checked").each(function () {
                    var folio = $(this).attr("data-folio");
                    var id = $(this).attr("data-id");
                    var serial = $(this).attr("data-serial");
                    var status = $(this).attr("data-status");

                    var found = false;
                    var antboxs = [{
                        serial: serial,
                        id: id
                    }];
                    var antboxsdeposit = [];
                    var antboxsstore = [];
                    
                    var requestObject = 
                    {
                        folio: folio,
                        status: status,
                        antboxs: [],
                        antboxsdeposit: antboxsdeposit,
                        antboxstore: antboxsstore
                    };

                    if (requests == null)
                    {
                        if (status == 'inhouse')
                        {
                            requestObject.antboxsdeposit = antboxs;
                        } else if (status == 'stored')
                        {
                            requestObject.antboxstore = antboxs;
                        } else {
                            requestObject.antboxs = antboxs;
                        }
                        requests = [requestObject];
                    } else {
                        for (var j = 0; j < requests.length; j++) {
                            if (requests[j].folio == folio) {
                                found = true;
                                if ((status != 'inhouse')&&((status != 'stored'))) {
                                    requests[j].antboxs.push(antboxs);
                                } else if (status == 'stored') {
                                    requests[j].antboxstore.push(antboxs);
                                }
                            }
                        }
                        if (!found)
                        {
                            if (status == 'inhouse') {
                                requestObject.antboxsdeposit = antboxs;
                            } else if (status == 'stored') {
                                requestObject.antboxstore = antboxs;
                            } else {
                                requestObject.antboxs = antboxs;
                            }
                            requests.push(requestObject);
                        }
                    }

                });

                console.log(requests);
                showLoad(0);

                for (var j = 0; j < requests.length; j++) {
                    var formData = {
                        worker: $("#horario").val(),
                        address: $("#address").val(),
                        fecha: $("#fecha_entrega").val(),
                        hora: $('#horariostring').val(),
                        referencia: $('#referencia').val(),
                        status: $('#statusantbox').val(),
                        folioEntrega: requests[j].folio,
                        antboxs: requests[j].antboxs,
                        antboxsdeposit: requests[j].antboxsdeposit,
                        antboxsstore: requests[j].antboxstore
                    };

                    console.log(formData);

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SolicitarAntbox", "AntBox")',
                        data: formData,
                        success: function (result) {
                            console.log(result);
                            if (result.success == true) {
                                //antbox editado
                                succesed.push(1);
                                console.log('result succes');
                            } else {
                                succesed.push(0);
                                console.log('result false');
                            }
                        }, error: function (dataerror) {
                            console.log(dataerror);
                            succesed.push(0);
                        }, complete: function () {
                            $("#loader-solicitar").hide();
                            count++;
                            if (count == requests.length) {
                                showLoad(0);
                                $("#loader-solicitar").hide();
                                verifsuccesed = true; var cantsuccesed = 0;
                                for (var a = 0; a < succesed.length; a++)
                                {
                                    if (succesed[a] != 1) verifsuccesed = false;
                                    else cantsuccesed++;
                                }
                                if (verifsuccesed) {
                                    var mensaje = "Antboxs solicitados correctamente";
                                    if (requests.length > 1) mensaje = "Antbox solicitado correctamente";
                                    verifCloseModal = true;
                                    modalToClose = $('#solicitar');
                                    mostrarMensaje($('#form-solicitar-antbox'), "antboxMensaje", mensaje, "alert-success");
                                    $(".select-antbox-check:checked").each(function () {
                                        $(this).prop('checked', false);
                                    });
                                    $('#solicitar').modal('hide');
                                } else {
                                    if (succesed.length == 1)
                                        mostrarMensaje($('#form-solicitar-antbox'), "antboxMensaje", "Error al solicitar el antbox intentelo de nuevo", "alert-warning");
                                    else if (succesed.length > 1 && cantsuccesed > 0)
                                        mostrarMensaje($('#form-solicitar-antbox'), "antboxMensaje", "Alguno de los antboxs solictados no se ha podido solicitar correctamente, por favor intente de nuevo", "alert-warning");
                                    else if (succesed.length > 1 && cantsuccesed == 0)
                                        mostrarMensaje($('#form-solicitar-antbox'), "antboxMensaje", "Error al solicitar los antbox, por favor intente de nuevo", "alert-warning");
                                }
                                //element.parent().find('.name-antbox').text($('#mname-antbox').val());
                                //element.parent().find('.description-antbox').text($('#mdescription-antbox').val());
                            }
                        }
                    });
                }
                @*$(".select-antbox-check:checked").each(function () {
                    var folio = $(this).attr("data-folio");
                    var id = $(this).attr("data-id");
                    var serial = $(this).attr("data-serial");
                    checkeds.push(folio);

                    
                });*@
            }
            
            console.log(checkeds);

        });

        $(document).on('change', '#horario', function () {
            console.log("change horario");
            var horario = $("#horario").val();
            var t = $("#horario option:selected").text();
            $("#horariostring").val(t);
        });

        

        $('.pagination').pagination({
            items: $('#total').val(),
            itemsOnPage: 20,
            cssStyle: 'light-theme',
            onPageClick: function (pageNumber, event) {
                event.preventDefault();

                $("#antboxs-container").html('');
                pageLoading(true);
                var formData = { idPagination: $('#idpagination').val(), page: pageNumber };
                var cadhtml = "";
                var antboxsresult = "";

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("PaginationAjax", "AntBox")',
                    data: formData,
                    success: function (result) {

                        antboxsresult = "";

                        for (var i = 0; i < result.Antboxs.length; i++) {

                            var antboxv = result.Antboxs[i];

                            cadhtml = "";
                            cadhtml += "<div class=\"col-sm-12 mb20\">";
                            cadhtml += "                <div class=\"card card-border-dashed card-border-color magnific-wrap\">";
                            cadhtml += "                    <div class=\"row\">";
                            cadhtml += "                        <div class=\"col-sm-4 col-xs-12\">";
                            cadhtml += "                            <figure class=\"figure\">";
                            cadhtml += "                                <img src=\"" + antboxv.imagen + "\" alt=\"\">";
                            if (antboxv.Status == "free")
                            {
                                cadhtml += '<div class="sticker_mov completed">Entregado</div>';
                            }
                            cadhtml += "                                <div class=\"mask mask-dark\">";
                            cadhtml += "                                    <nav>";
                            cadhtml += "                                        <a class=\"icon icon-inverse icon-size-1 icon-theme icon-rounded magnific\" title=\"" + antboxv.Name + " - " + antboxv.Folio + "\" href=\"" + antboxv.imagen + "\">";
                            cadhtml += "                                            <i class=\"fa fa-search\"><\/i>";
                            cadhtml += "                                        <\/a>";
                            cadhtml += "                                    <\/nav>";
                            cadhtml += "                                <\/div>";
                            cadhtml += "                            <\/figure>";
                            cadhtml += "                        <\/div>";
                            cadhtml += "                        <div class=\"col-sm-8 col-xs-12 antboxs_txt\" >";
                            cadhtml += "                            <h4><span class=\"name-antbox\">" + antboxv.Name + " - " + antboxv.Folio + " " + antboxv.EnDeposito + "<\/h4>";
                            cadhtml += "                            <p class=\"description-antbox\">" + antboxv.Descriptionv + "<\/p>";
                            
                            if ((antboxv.Status != 'reserved')&&(antboxv.Status != 'delivering'))
                            {
                                cadhtml += "                            <div class=\"checkboxFive\">";
                                cadhtml += "                                <input type=\"checkbox\" value=\"1\" data-folio=\"" + antboxv.Folio + "\" id=\"checkboxFiveInput-" + antboxv.Id + "\" data-id=\"" + antboxv.Id + "\" data-folio=\"" + antboxv.Folio + "\" data-serial=\"" + antboxv.Serial + "\" data-status=\"" + antboxv.Status + "\" class=\"select-antbox-check\" name=\"\">";
                                cadhtml += "                                <label for=\"checkboxFiveInput-" + antboxv.Id + "\" class=\"select-antbox\" ></label>";
                                cadhtml += "                            </div>";
                                cadhtml += "                            <button type=\"button\" class=\"btn btn-primary btn-sm pull-right ml20 solicitar\" data-toggle=\"modal\" data-folio=\"" + antboxv.Folio + "\" data-id=\"" + antboxv.Id + "\" data-status=\"" + antboxv.Status + "\" data-target=\"#solicitar\">Solicitar<\/button>";
                            }
                            cadhtml += "                            <button type=\"button\" class=\"btn btn-primary btn-sm pull-right btn_blue editar\" data-toggle=\"modal\" data-id=\"" + antboxv.Id + "\" data-target=\"#editar\">Editar<\/button>";
                            cadhtml += "                        <\/div>";
                            cadhtml += "                    <\/div>";
                            cadhtml += "                <\/div>";
                            cadhtml += "            <\/div>";

                            antboxsresult += cadhtml;
                        }

                        $("#antboxs-container").html(antboxsresult);

                        $('.magnific-wrap').each(function () {
                            var $this = $(this);

                            $this.find('.magnific').magnificPopup({
                                type: 'image',
                                tLoading: '',
                                gallery: {
                                    enabled: true,
                                    navigateByImgClick: true
                                },
                                image: {
                                    titleSrc: function (item) {
                                        return item.el.attr('title');
                                    }
                                }
                            });
                        });

                        console.log(result);
                        pageLoading(false);

                    }
                });

            }
        });

        function pageLoading(status) {
            if (status) {
                $("#loader").css('display', 'block');
            }
            else {
                $("#loader").css('display', 'none');
            }
        }

    })


    function HorarioRecoleccion() {
        var date = $("#fecha_entrega").val();
        var horario = $("#horario").val();
        var t = $("#horario option:selected").text();

        $.ajax({
            url: '@Url.Action("getSchedules", "Customer")',
            type: "GET",
            data: { "date": date },
            success: function (schedules) {

                for (var i = 0; i < schedules.length ; i++) {
                    var work = schedules[i].Workers;
                    if (schedules[i].Start + " - " + schedules[i].End + " hrs." == t) {
                        if (work.length == 0) {
                            document.getElementById('alert_horario').style.display = 'block';
                        } else {
                            document.getElementById('alert_horario').style.display = 'none';
                        }
                    }
                }
            }
        });
    };

</script>

}
