@model  AntBoxFrontEnd.Models.AntBoxAddressViewModel

@{
    ViewBag.Title = "Index";
    ViewData.Model = new AntBoxFrontEnd.Models.AntBoxAddressViewModel();
    ViewData.Model.Colonias = new List<SelectListItem>() { new SelectListItem { Text = "Selecciona un código postal"} };
    ViewData.Model.Delegaciones = new List<SelectListItem>() { new SelectListItem { Text = "Selecciona un código postal" } };
 }

    

<!-- WRAPPER -->
<div class="wrapper">
    <!-- CONTENT -->
    <div class="content direcciones">
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-12">
                    <h1>Direcciones</h1>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt30">
            <div class="row">
                <div class="col-md-3 pr0 no_portrait">
                    @Html.Partial("_LeftMenu")
                </div>
                <div class="col-md-9">
                    <div class="row pl30 pr30">
                        <div class="irow-xs pb30">
                            <h3>Direcciones registradas</h3>
                            <p>Registra tus direcciones para la recolección y entregas de tus Antboxs.</p>
                            <div class="alert alert-warning alert-dismissible fade in">
                                <button type="button" class="close" data-dismiss="alert">
                                    <i class="fa fa-times"></i>
                                </button>
                                <p><i class="fa fa-exclamation-triangle"></i> <strong>Regístra una dirección como mínimo.</strong><br />Recuerda que para realizar cualquier orden que realices deberás tener por lo menos una dirección registrada.</p>
                            </div>
                        </div>

                        <div id="loader" role="alert">
                            <img src="@Url.Content("~/Images/preloader.gif")" />   Cargando direcciones... &nbsp;
                        </div>

                        <div id="tblDirecciones">
                          @* ----------------------------------------------------------------------------------------------------------- *@
                            

                        </div>
                   
                    <div class="row mt20">
                        <div class="col-sm-12">
                            <hr id="registrar_nueva_direccion" class="hr-dashed mt40 mb0" />
                        </div>
                    </div>
                    <div class="row pl30 pr30">
                        <div class="irow-xs pb30">
                            <h3>Regístra una nueva dirección</h3>
                            <p>Registra una dirección para después utilizarla como dirección de recolección, de entrega o facturación. Asígnale un nombre para identificarla fácilmente más adelante.</p>
                        </div>
                        <form action="" method="post" class="contact-form form-solid" novalidate id="frmNewAddress">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Alias)
                                        @Html.TextBoxFor(m => m.Alias, Model.Alias, new { @id = "NAlias" })
                                        @Html.ValidationMessageFor(m => m.Alias)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Street)
                                        @Html.TextBoxFor(m => m.Street, Model.Street, new { @id = "NStreet" })
                                        @Html.ValidationMessageFor(m => m.Street)
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Internal_number)
                                                @Html.TextBoxFor(m => m.Internal_number, Model.Internal_number, new { @id = "NInternal_number" })
                                                @Html.ValidationMessageFor(m => m.Internal_number)
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.External_number)
                                                @Html.TextBoxFor(m => m.External_number, Model.External_number, new { @id = "NExternal_number" })
                                                @Html.ValidationMessageFor(m => m.External_number)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Zipcode)
                                        @Html.TextBoxFor(m => m.Zipcode, new { @id = "NZipcode" })
                                        @Html.ValidationMessageFor(m => m.Zipcode)
                                    </div>
                                    <div class="form-group">
                                        <label for="form-select">Delegación o Municipio</label>
                                        @Html.DropDownListFor(m => m.Delegation, Model.Delegaciones, "", new { @id = "NcmbDelegations1" })
                                    </div>
                                    <div class="form-group">
                                        <label for="form-select">Colonia</label>
                                        @Html.DropDownListFor(m => m.Neighborhood, Model.Colonias, "", new { @id = "NcmbNeighborhood1" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.City)
                                        @Html.TextBoxFor(m => m.City, new { @id = "NCity" })
                                        @Html.ValidationMessageFor(m => m.City)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.State)
                                        @Html.TextBoxFor(m => m.State, Model.State, new { @id = "NState" })
                                        @Html.ValidationMessageFor(m => m.State)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Country)
                                        @Html.TextBoxFor(m => m.Country, Model.Country, new { @id = "NCountry" })
                                        @Html.ValidationMessageFor(m => m.Country)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.References)
                                        @Html.TextAreaFor(m => m.References, new { @id = "NReferences" })
                                        @Html.ValidationMessageFor(m => m.References)
                                    </div>
                                </div>
                                <div class="col-sm-12 mt10">
                                    <input type="button" class="btn btn-primary btn-wide pull-right" value="Guardar" id="btnCreateAddress">
                                    <p class="succs-msg">Мensaje enviado</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
</div>
<!-- /.wrapper -->

<!-- Modal Medium -->
<div class="modal fade" id="editar_direccion"  >
    <div class="modal-dialog modal-md">       
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Editar dirección</h6>
            </div>
            <div class="modal-body">
                <form action="" method="post" class="contact-form form-solid" novalidate id="updateForm">
                    @Html.Hidden("id", "", new { @class = "hiddenid"  })
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Alias)
                                @Html.TextBoxFor(m => m.Alias, Model.Alias, new { @id = "Alias" })
                                @Html.ValidationMessageFor(m => m.Alias)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Street)
                                @Html.TextBoxFor(m => m.Street, Model.Street, new { @id = "Street" })
                                @Html.ValidationMessageFor(m => m.Street)
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Internal_number)
                                        @Html.TextBoxFor(m => m.Internal_number, Model.Internal_number, new { @id = "Internal_number" })
                                        @Html.ValidationMessageFor(m => m.Internal_number)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.External_number)
                                        @Html.TextBoxFor(m => m.External_number, Model.External_number, new { @id = "External_number" })
                                        @Html.ValidationMessageFor(m => m.External_number)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Zipcode)
                                @*<input type="text" name="email" id="txtZipcode1">*@
                                @Html.TextBoxFor(m => m.Zipcode, new { @id = "txtZipcode1" })
                                @Html.ValidationMessageFor(m => m.Zipcode)
                            </div>
                            <div class="form-group">
                                <label for="form-select">Delegación o Municipio</label>
                                @Html.DropDownListFor(m => m.Delegation, Model.Delegaciones,"", new { @id = "cmbDelegations1" })
                                @*<select id="delegation">
                                    <option value="">- Selecciona una opción -</option>
                                </select>*@
                            </div>
                            <div class="form-group">
                                <label for="form-select">Colonia</label>
                                @Html.DropDownListFor(m => m.Neighborhood, Model.Colonias,"", new { @id = "cmbNeighborhood1" })
                                @*<select id="neighborhood" name="form_select">
                                    <option value="">- Selecciona una opción -</option>
                                </select>*@
                            </div>
                        </div>
                        <div class="col-sm-6 pl0_modal">
                            <div class="form-group">
                                @Html.LabelFor(m => m.City)
                                @Html.TextBoxFor(m => m.City, new { @id = "City" })
                                @Html.ValidationMessageFor(m => m.City)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.State)
                                @Html.TextBoxFor(m => m.State,Model.State, new { @id = "State" })
                                @Html.ValidationMessageFor(m => m.State)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Country)
                                @Html.TextBoxFor(m => m.Country, Model.Country, new { @id = "Country" })
                                @Html.ValidationMessageFor(m => m.Country)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.References)
                                @Html.TextAreaFor(m => m.References, new { @id = "References" })
                                @Html.ValidationMessageFor(m => m.References)
                            </div>
                        </div>
                        <div class="col-sm-12 mt10">

                            <input type="button" class="btn btn-primary btn-wide pull-right" value="Guardar" id="btnUpdateAddress">
                            <p class="succs-msg">Мensaje enviado</p>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

@section scripts {
    <script type="text/javascript">
    $('#btnCreateAddress').click(function () {
       // alert('Entro la acción');
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("CreateAddress", "Home")',            
           // data: $('#frmNewAddress').serialize(),
            data: JSON.stringify({
                                    "Alias": $("#NAlias").val(),
                                    "Street": $("#NStreet").val(),
                                    "Internal_number": $("#NInternal_number").val(),
                                    "External_number": $("#NExternal_number").val(),
                                    "Zipcode": $("#NZipcode").val(),
                                    "Delegation": $("#NcmbDelegations1").val(),
                                    "Neighborhood": $("#NcmbNeighborhood1").val(),
                                    "City": $("#NCity").val(),
                                    "State": $("#NState").val(),
                                    "Country": $("#NCountry").val(),
                                    "References": $("#NReferences").val()               
                                }),
            success: function (result) {
                if (result.success == false) {
                    $('#frmNewAddress').prepend(
                    '<div class="alert alert-warning" role="alert" id="addressError">Error al registrar dirección, intentelo de nuevo.</div>');
                    window.setTimeout(function ()
                    { $("#addressError").alert('close'); }, 2000);

                }
                else {
                    $('#login-info').html(result);

                    $('#frmNewAddress').ready(function () {
                        $("input").each(function () {
                            $(this).val("");
                        });
                    });
                }
            },
            error: function (emp) {
                $('#frmNewAddress').prepend(
                    '<div class="alert alert-danger fade-in" role="alert" id="LoginErrorAlert">Error al registrar dirección, intentelo de nuevo.</div>'
                    );
                window.setTimeout(function ()
                { $("#LoginErrorAlert").alert('close'); }, 2000);

            }
        });
    });



	function showOtraColonia1(elem){
	if(elem.value == "otra")
	document.getElementById('hidden_div1').style.display = "block";
	else
	document.getElementById('hidden_div1').style.display = "none";
	}
</script>



<script type="text/javascript">
	function showOtraColonia2(elem){
	if(elem.value == "otra")
	document.getElementById('hidden_div2').style.display = "block";
	else
	document.getElementById('hidden_div2').style.display = "none";
	}
</script>



    <script type="text/javascript">
        $(document).ready(function RefrescaLista() {
            listAddreses();
            }
        );
    </script>

    <script type="text/javascript">
        function listAddreses() {

            var maxPerPage = 3;
            var pageNum;
            // alert("Entro la funcion");

            pageLoading("true");

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
               // url: '/Customer/ListAddresses',
                url: '@Url.Action("ListAddresses", "Home")',
                success: function (data) {
                    if (!data.success) {
                       // alert("Error en la funcion " + data.ErrorMessage);
                    }

                    var limit = maxPerPage;
                    var stage = 1;
                   
                    $("#tblDirecciones").html('');


                    var div3Content = '';

                    for (var i = 0; i < data.length; i++) {
                       // alert(i);
                        div3Content += '<div class="col-sm-12 back_gris pt30 pb20 mb30">';
                        div3Content +=      '<div class="media-left">';
                        div3Content +=            '<div class="icon icon-color icon-size-4">';
                        div3Content +=                '<i class="fa fa-map-marker"></i>';
                        div3Content +=                      '</div>';
                        div3Content +=                  '</div>';
                        div3Content +=                      '<div class="media-body" id="" value="' + data[i].Id + '">';
                        div3Content +=                      '<h4>' + data[i].Alias + '</h4>';
                        div3Content +=                      '<p>' + data[i].Street + ', ' + 'Num. Ext. ' +
                                                                    data[i].External_number + ', ' +
                                                                    data[i].Neighborhood + ', C.P. ' +
                                                                    data[i].Zipcode + '' +
                                                                    ' <br>Referencias: ' + data[i].References + '</p>';
                        div3Content +=                        '<button type="button" class="btn btn-primary btn-sm pull-right ml10" data-toggle="modal" data-target="#editar_direccion" data-id=\''+data[i].Id +'\' >Editar</button>';
                        div3Content +=                        '<button type="button" class="btn btn-primary btn-sm pull-right btn_blue" onclick="EliminaDireccion(\'' + data[i].Id + '\')">Eliminar</button>';
                        div3Content +=                  '</div>';
                        div3Content +=                  '</div>';


                    }


                    var divPagination = '';
                    divPagination += '<div class"row">';
                    divPagination += '    <div class="col-sm-12 pl0 pr0 text-center">';
                    
                    var firts = 1;
                    var last = data.length;
                    var current = $("#PageNum").value;
                    if (current == null) current = 1;

                    if (data.length > 0) {
                        divPagination += '        <ul class="pagination solid" id="PAginationid" vauel =' + data[current] + ' >';


                        divPagination += '            <li class="pull-left"><a href="#" class="prev"><i class="fa fa-angle-left"></i></a></li>';
                        divPagination += '            <li class="pull-right"><a href="#" class="next"><i class="fa fa-angle-right"></i></a></li>';

                        for (var i = 0; i < data.length; i++) {

                        }

                        divPagination += '            <li class="active"><a href="#">1</a></li>';
                        divPagination += '            <li><a href="#">2</a></li>';
                        divPagination += '           <li><a href="#">3</a></li>';
                        divPagination += '            <li><a href="#">4</a></li>';
                        divPagination += '            <li><a href="#">…</a></li>';
                        divPagination += '            <li><a href="#">36</a></li>';
                        divPagination += '       </ul>';
                        divPagination += '       <!-- /.pagination -->';
                    }
                    divPagination += '        <!-- PAGINATION -->';
                    divPagination += '    </div>';
                    divPagination += '</div>';


                    $("#tblDirecciones").append(div3Content);
                    $("#tblDirecciones").append(divPagination);

                    pageLoading("false");
                },
               
                fail: function (result) {
                    pageLoading("false");
                    alert("error en la funcion ");

                }

            })
            
        }


    </script>

    
    <script  type="text/javascript">
        //Esta función captura el evento de click en el botón de editar para pasar el id del elemento al modal
        $(document).on("click", ".btn", function () {            
            //alert("Inicia ");
            var passedID = $(this).data('id');
            $(".modal-content .hiddenid").val(passedID);

            //alert("Pasa el id del elemento " + passedID);
        });
    </script>

    <script  type="text/javascript">
        function EliminaDireccion(id) {
            var data =  'idAddress=' +id ;           
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                
                //url: ur,
                url: '@Url.Action("DeleteAdress", "Home")',
                data: data,

                success: function (data) {
                        //alert(data);
                        //recarga la lista de direcciones
                        listAddreses();
                    
                },
                error: function () {
                }
            })
        }


    </script>


    <script type="text/jscript">
        $('#NZipcode').change(function () {

            var zipcode = $('#NZipcode').val();
            //alert(zipcode);

            $.ajax({
                url: '@Url.Action("GetDelegation", "Home")',
                type: "POST",
                data: { "zipcode": zipcode },
                success: function (data) {

                    $("#NcmbDelegations1").html("");
                    var items = '<option>Seleccciona una delegacion</option>';
                    $.each(data.result, function (i, delegation) {
                        items += "<option value='" + delegation.Value + "'>" + delegation.Text + "</option>";
                    });
                    $('#NcmbDelegations1').html(items);
                    $('#NcmbDelegations1').trigger("chosen:updated");
                }
            });

            $.ajax({
                url: '@Url.Action("GetColonias", "Home")',
                type: "POST",
                data: { "zipcode": zipcode },
                success: function (data) {

                    $("#NcmbNeighborhood1").html("");
                    var items = '<option>Seleccciona una colonia</option>';
                    $.each(data.result, function (i, delegation) {
                        items += "<option value='" + delegation.Value + "'>" + delegation.Text + "</option>";
                    });
                    $('#NcmbNeighborhood1').html(items);
                    $('#NcmbNeighborhood1').trigger("chosen:updated");
                }


            });

            $.ajax({
                url: '@Url.Action("GetState", "Home")',
                type: "POST",
                data: { "zipcode": zipcode },
                success: function (data) {
                    $('#NState').val(data.result);
                    $('#NCity').val(data.result);
                    $('#NCountry').val('México');
                }


            });


        });

    </script>

    <script type="text/jscript">
        //CARGA LOS DATOS DE ESTADO Y COLONIA DEL CÓDIGO POSTAL DE ACTUALIZACIÓN
        $('#txtZipcode1').change(function () {

            var zipcode = $('#txtZipcode1').val();
            //alert(zipcode);

            $.ajax({
                url: '@Url.Action("GetDelegation", "Home")',
                type: "POST",
                data: { "zipcode": zipcode },
                success: function (data) {

                    $("#cmbDelegations1").html("");
                    var items = '<option>Seleccciona una delegacion</option>';
                    $.each(data.result, function (i, delegation) {
                        items += "<option value='" + delegation.Value + "'>" + delegation.Text + "</option>";
                    });
                    $('#cmbDelegations1').html(items);
                    $('#cmbDelegations1').trigger("chosen:updated");
                }
            });

            $.ajax({
                url: '@Url.Action("GetColonias", "Home")',
                type: "POST",
                data: { "zipcode": zipcode },
                success: function (data) {

                    $("#cmbNeighborhood1").html("");
                    var items = '<option>Seleccciona una colonia</option>';
                    $.each(data.result, function (i, delegation) {
                        items += "<option value='" + delegation.Value + "'>" + delegation.Text + "</option>";
                    });
                    $('#cmbNeighborhood1').html(items);
                    $('#cmbNeighborhood1').trigger("chosen:updated");
                }


            });

            $.ajax({
                url: '@Url.Action("GetState", "Home")',
                type: "POST",
                data: { "zipcode": zipcode },
                success: function (data) {
                    $('#State').val(data.result);
                    $('#City').val(data.result);
                    $('#Country').val('México');
                }
            });


        });

    </script>


    <script type="text/javascript">
        $('#btnUpdateAddress').click(function () {
            alert("Entra evento de acutalización");
            var idAddress = $(".modal-content .hiddenid").val();
            alert(idAddress);


             $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("UpdateAddress", "Home")',
           // data: $('#frmNewAddress').serialize(),
            data: JSON.stringify({
                                    "Id": idAddress,
                                    "Alias": $("#Alias").val(),
                                    "Street": $("#Street").val(),
                                    "Internal_number": $("#Internal_number").val(),
                                    "External_number": $("#External_number").val(),
                                    "Zipcode": $("#txtZipcode1").val(),
                                    "Delegation": $("#cmbDelegations1").val(),
                                    "Neighborhood": $("#cmbNeighborhood1").val(),
                                    "City": $("#City").val(),
                                    "State": $("#State").val(),
                                    "Country": $("#Country").val(),
                                    "References": $("#References").val()
                                }),
            success: function (result) {
                if (result.success == false) {
                    $('#updateForm').prepend(
                    '<div class="alert alert-warning" role="alert" id="addressError">Error al actualizar la dirección, intentelo de nuevo.</div>');
                    window.setTimeout(function ()
                    { $("#addressError").alert('close'); }, 2000);
            
                }
                else {
                    $('#login-info').html(result);

                    

                    listAddreses();

                }
            },
            error: function (emp) {
                $('#updateForm').prepend(
                    '<div class="alert alert-danger fade-in" role="alert" id="LoginErrorAlert">Error al actualizar la dirección, intentelo de nuevo.</div>'
                    );
                window.setTimeout(function ()
                { $("#LoginErrorAlert").alert('close'); }, 2000);
            }
        });
        });
    </script>


    <script  type="text/javascript">

        function pageLoading(status) {
            if (status == 'true') {
                $("#loader").css('display', 'block');
            }
            else {
                $("#loader").css('display', 'none');
            }
        }

    </script>
  

}