
@{
    ViewBag.Title = "Index";
}

<!-- WRAPPER -->
<div class="wrapper">
    <!-- CONTENT -->
    <div class="content inicio">

        <!-- CONTAINER -->
        <div class="iwrap ">
            <section class="container">
                <div class="row text-wrap text-center pt20 pb20">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" data-animate="fadeInDown">
                        <h1>¡Bienvenido a tu cuenta Antboxs!</h1>
                        <p>Además de editar tu información personal, también podrás ordenar y gestionar tus Antboxs, agregar una nueva forma de pago y más, a cualquier hora del día y desde cualquier lugar.</p>
                        <div class="heading-divider heading-divider-xs mb30"></div>
                    </div>
                </div>
            </section>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container pl70 pr70">
            <div class="row irow-sm text-center cards divtable">
                <div class="col-md-4 col-sm-6  divcell-flip">
                    <div class="card-flip">
                        <div class="flipper">
                            <div class="front card ">
                                <img class="img-lg" src="@Url.Content("~/Content/Images/cuenta.png")" width="120" height="100" alt="">
                                <h4 class="pt10">Cuenta</h4>
                            </div>
                            <div class="back card ">
                                <p>Edita tu información personal<br>y cambia tu foto de perfil.</p>
                                @Html.ActionLink("Cuenta", "Cuenta", "Customer", new { }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 divcell-flip">
                    <div class="card-flip">
                        <div class="flipper">
                            <div class="front card">
                                <img class="img-lg" src="@Url.Content("~/Content/Images/direcciones.png")" width="120" height="100" alt="">
                                <h4 class="pt10">Direcciones</h4>
                            </div>
                            <div class="back card">
                                <p>Agrega direcciones para<br>recolecciones y entregas.</p>
                                @Html.ActionLink("Direcciones", "Direcciones", "Customer", new { }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 divcell-flip">
                    <div class="card-flip">
                        <div class="flipper">
                            <div class="front card">
                                <img class="img-lg" src="@Url.Content("~/Content/Images/mis-antboxs.png")" width="120" height="100" alt="">
                                <h4 class="pt10">Mis Antboxs</h4>
                            </div>
                            <div class="back card">
                                <p>Administra tus Antboxs<br>y programa tus entregas.</p>
                                @Html.ActionLink("Mis Antboxs", "Antboxs", "Customer", new { }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 divcell-flip">
                    <div class="card-flip">
                        <div class="flipper">
                            <div class="front card">
                                <img class="img-lg" src="@Url.Content("~/Content/Images//movimientos.png")" width="120" height="100" alt="">
                                <h4 class="pt10">Movimientos</h4>
                            </div>
                            <div class="back card">
                                <p>Revisa tus movimientos<br>y el estatus de los mismos.</p>
                                @Html.ActionLink("Movimientos", "Movimientos", "Customer", new { }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 divcell-flip">
                    <div class="card-flip">
                        <div class="flipper">
                            <div class="front card">
                                <img class="img-lg" src="@Url.Content("~/Content/Images/pagos.png")" width="120" height="100" alt="">
                                <h4 class="pt10">Pagos</h4>
                            </div>
                            <div class="back card">
                                <p>Agrega nuevas formas de<br>pago y revisa tus facturas</p>
                                @Html.ActionLink("Pagos", "Pagos", "Customer", new { }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 divcell-flip">
                    <div class="card-flip">
                        <div class="flipper">
                            <div class="front card">
                                <img class="img-lg" src="@Url.Content("~/Content/Images/ordenar.png")" width="120" height="100" alt="">
                                <h4 class="pt10">Ordenar</h4>
                            </div>
                            <div class="back card">
                                <p>Ordena tus Antboxs y<br>Programa la recolección</p>
                                @Html.ActionLink("Ordenar", "Ordenar", "Customer", new { }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->




    </div>

</div>
<!-- /.wrapper -->