
@{
    ViewBag.Title = "Index";
}

<!-- WRAPPER -->
<div class="wrapper">

    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-user"></i>
                    <h1>¡Bienvenido a Antboxs!</h1>
                    <div class="divider"></div>
                    <span class="subtitle">Almacenamiento Seguro, Fácil y Conveniente</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTENT -->
    <div class="content inicio">

        <!-- CONTAINER -->
        <div class="iwrap ">
            <section class="container">
                <div class="row text-wrap text-center pt20 pb20">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" data-animate="fadeInDown">
                        <h1>¡Bienvenido a tu cuenta Antboxs!</h1>
                        <p>Además de editar tu información personal, también podrás ordenar y gestionar tus Antboxs, agregar una nueva forma de pago y más, a cualquier hora del día y desde cualquier lugar.</p>
                        <div class="heading-divider heading-divider-xs mb30"></div>
                    </div>
                </div>
            </section>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container pl70 pr70">
            <div class="row irow-sm text-center cards divtable">
                <div class="col-md-4 col-sm-6  divcell-flip">
                    <div class="card-flip">
                        <div class="flipper">
                            <div class="front card ">
                                <img class="img-lg" src="@Url.Content("~/Content/Images/cuenta.png")" width="120" height="100" alt="">
                                <h4 class="pt10">Cuenta</h4>
                            </div>
                            <div class="back card ">
                                <p>Edita tu información personal<br>y cambia tu foto de perfil.</p>
                                <a href="cuenta.php" class="btn btn-primary">Cuenta</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 divcell-flip">
                    <div class="card-flip">
                        <div class="flipper">
                            <div class="front card">
                                <img class="img-lg" src="@Url.Content("~/Content/Images/direcciones.png")" width="120" height="100" alt="">
                                <h4 class="pt10">Direcciones</h4>
                            </div>
                            <div class="back card">
                                <p>Agrega direcciones para<br>recolecciones y entregas.</p>
                                <a href="direcciones.php" class="btn btn-primary">Direcciones</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 divcell-flip">
                    <div class="card-flip">
                        <div class="flipper">
                            <div class="front card">
                                <img class="img-lg" src="@Url.Content("~/Content/Images/mis-antboxs.png")" width="120" height="100" alt="">
                                <h4 class="pt10">Mis Antboxs</h4>
                            </div>
                            <div class="back card">
                                <p>Administra tus Antboxs<br>y programa tus entregas.</p>
                                <a href="mis-antboxs.php" class="btn btn-primary">Mis Antboxs</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 divcell-flip">
                    <div class="card-flip">
                        <div class="flipper">
                            <div class="front card">
                                <img class="img-lg" src="@Url.Content("~/Content/Images//movimientos.png")" width="120" height="100" alt="">
                                <h4 class="pt10">Movimientos</h4>
                            </div>
                            <div class="back card">
                                <p>Revisa tus movimientos<br>y el estatus de los mismos.</p>
                                <a href="movimientos.php" class="btn btn-primary">Movimientos</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 divcell-flip">
                    <div class="card-flip">
                        <div class="flipper">
                            <div class="front card">
                                <img class="img-lg" src="@Url.Content("~/Content/Images/pagos.png")" width="120" height="100" alt="">
                                <h4 class="pt10">Pagos</h4>
                            </div>
                            <div class="back card">
                                <p>Agrega nuevas formas de<br>pago y revisa tus facturas</p>
                                <a href="pagos.php" class="btn btn-primary">Pagos</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 divcell-flip">
                    <div class="card-flip">
                        <div class="flipper">
                            <div class="front card">
                                <img class="img-lg" src="@Url.Content("~/Content/Images/ordenar.png")" width="120" height="100" alt="">
                                <h4 class="pt10">Ordenar</h4>
                            </div>
                            <div class="back card">
                                <p>Ordena tus Antboxs y<br>Programa la recolección</p>
                                <a href="ordenar.php" class="btn btn-primary">Ordenar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->




    </div>
    <!-- PROMO-BOX -->
    <div class="promo-box promo-box-light">
        <div class="container">
            <section class="row irow-xs page-header cols-border divtable mt30 mb30">
                <div class="col-lg-10 col-md-9 col-sm-8 divcell promobox_txt mb40">
                    <h2>¿Tienes dudas sobre nuestro servicio?</h2>
                    <p>Visita las preguntas frecuentes, probablemente ya hemos respondido tus dudas. Sino escríbenos o llámanos y con gusto te atendemos.</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 text-right divcell">
                    <a href="" class="btn btn-primary btn-md">Preguntas Frecuentes</a>
                </div>
            </section>
        </div>
    </div>
    <!-- /.promo-box -->

</div>
<!-- /.wrapper -->