@model AntBoxFrontEnd.Services.Tasks.PaginationCustomerTask 
@{
    ViewBag.Title = "Index";
}
<!-- WRAPPER -->
<div class="wrapper">
    <!-- CONTENT -->
    <div class="content movimientos">
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-12">
                    <h1>Movimientos</h1>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt30">
            @Html.Hidden("idpagination", @Model.Pagination_id)
            @Html.Hidden("total", @Model.Total)
            @Html.Hidden("pages", @Model.Pages)
            <div class="row">
                <div class="col-md-3 pr0 no_portrait">
                    @Html.Partial("_LeftMenu")
                </div>
                <div class="col-md-9">
                    <div class="row pl30 pr30">
                        <div class="irow-xs pb30">
                            <h3>Historial de movimientos</h3>
                            <p>Revisa el estatus de tus movimientos realizados y consulta el historial de movimientos anteriores.</p>
                        </div>

                        <div id="TasksList">
                            @Html.Partial("_CustomerTasks", Model.Tasks)
                        </div>
                    </div>
                    <div id="loader" role="alert" style="display: none;">
                        <img src="@Url.Content("~/Images/preloader.gif")" />   Cargando movimientos... &nbsp;
                    </div>
                    @if (@Model.Total != null)
                    {
                        <div class="pagination solid text-center"></div>
                    }
                    else
                    {
                        <h4>Sin Movimientos</h4>
                    }
                    <div class="row">
                        <div class="col-sm-12 pl0 pr0 pt20 text-center">
                            <!-- PAGINATION -->
                            <!-- /.pagination -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
    <?php include 'includes/promobox.php';?>

</div>
<!-- /.wrapper -->

<!-- Modal Medium -->
<div class="modal fade" id="recibo_recoleccion">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Recibo de Recolección</h6>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                    <div class="col-sm-12">
                        <div id="loader-recoleccion" role="alert" style="display: none;">
                            <img src="@Url.Content("~/Images/preloader.gif")" />   Cargando recibo... &nbsp;
                        </div>
                        <div class="row sm_center">
                            <div class="col-sm-6">
                                <img src="@Url.Content("~/Content/Images/antboxs_logo.png")" alt="Antboxs">
                            </div>
                            <div class="col-sm-6">
                                <p class="font_recibo_notas sapi">Antboxs México SAPI de C.V.</p>
                            </div>
                        </div>
                        <hr class="hr-semilight linea_recibo" />
                        <div>
                            <p>
                                Orden de Servicio <span class="folior"></span>
                                <br />Fecha: <span class="fechar"></span>
                            </p>
                            <p>
                                @Model.Cliente.Name @Model.Cliente.LastName
                                <br /><span class="caller"></span>-<span class="externalr"></span>,
                                <br /><span class="coloniar"></span>,
                                <br /><span class="delegacionr"></span>, <span class="zipr"></span>
                                <br /><span class="cellr">Cel. @Model.Cliente.Phone</span> <span class="referenciar"></span>
                            </p>
                            <p id="content-boxes-recibo-recoleccion">
                                Antboxs Medianas: <span class="antboxmedianasr">1</span>
                                <br />Antboxs Grandes: <span class="antboxgrandesr">2</span>
                            </p>
                            <hr class="hr-semilight linea_recibo" />
                        </div>
                        <div id="content-antboxes-recibo-recoleccion">
                            <p>
                                Antboxs Mediana 1 01-3457837-37263527-58261475 R
                                <br />Candado 1: 37263527	Candado 2: 58261475
                                <br />Antboxs Grande 1 01-3457837-37263524-18263327 R
                                <br />Candado 1: 37263524	Candado 2: 18263327
                            </p>
                            <p>Antboxs Grande 2 - Depósito</p>
                        </div>
                        <hr class="hr-semilight linea_recibo" />
                        <div class="row">
                            <div class="col-sm-5 a_center">
                                <img class="img_firma_cliente firma_recoleccion" src="@Url.Content("~/Content/Images/firma_cliente.jpg")" alt="Firma Cliente">
                                <p class="firma_cliente">Firma Cliente</p>
                            </div>
                            <div class="col-sm-7 rentas">
                                <p>
                                    Rentas:<span class="pull-right rentasr">$198.00</span>
                                    <br />Depósitos:<span class="pull-right depositosr">$158.00</span>
                                    <br />Cargos TC:<span class="pull-right cargosr">$356.00</span>
                                    <br />Reembolso TC:<span class="pull-right reembolsor">$0.00</span>
                                </p>
                            </div>
                        </div>
                        <hr class="hr-semilight linea_recibo" />
                        <div>
                            <p class="font_recibo_notas">
                                "Al aceptar, Yo el Cliente garantizo que los Antboxs recolectados es a mi entera responsabilidad y que los mismos se entregan sellados".
                                <br />Los reembolsos se pueden ver reflejados en un periodo de 72 hrs.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 mt10">
                        <p class="succs-msg">Мensaje enviado</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- Modal Medium -->
<div class="modal fade" id="recibo_entrega">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Recibo de Entrega</h6>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                    <div class="col-sm-12">
                        <div id="loader-entrega" role="alert" style="display: none;">
                            <img src="@Url.Content("~/Images/preloader.gif")" />   Cargando movimientos... &nbsp;
                        </div>
                        <div class="row sm_center">
                            <div class="col-sm-6">
                                <img src="@Url.Content("~/Content/Images/antboxs_logo.png")" alt="Antboxs">
                            </div>
                            <div class="col-sm-6">
                                <p class="font_recibo_notas sapi">Antboxs México SAPI de C.V.</p>
                            </div>
                        </div>
                        <hr class="hr-semilight linea_recibo" />
                        <div>
                            <p>
                                Orden de Servicio <span class="folioe"></span>
                                <br />Fecha: <span class="fechae"></span>
                            </p>
                            <p>
                                @Model.Cliente.Name @Model.Cliente.LastName
                                <br /><span class="callee"></span>-<span class="externale"></span>,
                                <br /><span class="coloniae"></span>,
                                <br /><span class="delegacione"></span>, <span class="zipe"></span>
                                <br /><span class="celle">Cel. @Model.Cliente.Phone</span> <span class="referenciae"></span>
                            </p>
                            <p id="content-boxes-recibo">
                                
                            </p>
                            <hr class="hr-semilight linea_recibo" />
                        </div>
                        <div id="content-antboxes-recibo">
                            
                        </div>
                        <hr class="hr-semilight linea_recibo" />
                        <div class="a_center">
                            <img class="img_firma_cliente firma_entrega" src="@Url.Content("~/Content/Images/firma_cliente.png")" alt="Firma Cliente">
                            <p class="firma_cliente">Firma Cliente</p>
                        </div>
                        <hr class="hr-semilight linea_recibo" />
                        <div>
                            <p class="font_recibo_notas">"Yo el Cliente garantizo que los Antboxs descritos en el presente documento, recibidos a mi entera satisfacción y en óptimo estado liberando a Antboxs México SAPI de C.V. de cualquier reclamación al respecto, lo(s) Antboxs recibidos se entregaron sellados".
                        </div>
                    </div>
                    <div class="col-sm-12 mt10">
                        <p class="succs-msg">Мensaje enviado</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- Modal Medium -->
<div class="modal fade" id="solicitar">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Solicitar mi Antboxs</h6>
            </div>
            <div class="modal-body">
                <div id="loader-solicitar" role="alert" style="display: none;">
                    <img src="@Url.Content("~/Images/preloader.gif")" />   Solicitando antboxs... &nbsp;
                </div>
                <form method="post" class="contact-form form-solid form-solicitar-antbox" novalidate>
                    <input type="hidden" class="folio-form" value="" />
                    <input type="hidden" class="id-task" value="" />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group mb0">
                                <label for="address">Dirección de entrega</label>
                                <select id="address" name="address">
                                    @if (Model.Addresses != null)
                                    {
                                        foreach (var item in Model.Addresses)
                                        {
                                            if (item != null)
                                            {
                                                <option value='@item.Id.ToString()'> @item.Alias</option>
                                            }
                                        }
                                    }
                                </select>
                                @Html.ActionLink("Nueva direción", "Direcciones", "Customer", new { @class = "pull-right" })
                            </div>
                            <label for="textbox">Fecha</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" id="entrega" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                </span>
                                <input class="form-control" type="text" id="fecha_entrega" name="fecha_entrega" disabled="disable">
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="horariostring" id="horariostring" value="" />
                                <label for="horario">Horario de entrega</label>
                                <select id="horario" name="horario">
                                    <option value>- Selecciona una opción -</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 pl0_modal">
                            <div class="form-group">
                                <label for="referencia">Referencias o comentarios</label>
                                <textarea name="referencia" id="referencia"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 mt10">
                            <input type="button" class="btn btn-primary btn-wide pull-right solicitar-antbox" value="Solicitar">
                            <p class="succs-msg">Мensaje enviado</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

@section css {
    @Styles.Render("~/Content/simplepaginationcss")
}

@section scripts {
@Scripts.Render("~/bundles/simplepaginationjs")
<script type="text/javascript">

    var tasks = [];
    var antboxs = [];
    @foreach (var item in Model.Tasks)
    {
        int number = 0;
        if (item.Antboxs != null)
        {
            <text>
    antboxs = [];
    </text>
            foreach (var antb in item.Antboxs)
            {

                <text>
    antboxs.push({
        Descriptionv: '@antb.Descriptionv',
    Padlocks: ['@antb.Padlocks[0]', '@antb.Padlocks[1]'],
    Box: {
        Label: '@antb.Box.Label',
        Id: '@antb.Box.Id',
        }
    })
    </text>
            }
        }

        <text>

    tasks.push({
        id: '@item.Id',
        folio: '@item.Folio',
        service: '@item.service_time',
        antboxs: antboxs,
        address: {
            calle: '@item.Address.Street',
            external: '@item.Address.External_number',
            colonia: '@item.Address.Neighborhood',
            delegacion: '@item.Address.Delegation',
            zipcode: '@item.Address.Zipcode',
            referencia: '@item.Address.References',
        }
    });
    </text>

    }

    console.log(tasks);

    Calendar.setup({
        inputField: "fecha_entrega",      // id del campo de texto
        ifFormat: "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
        button: "entrega",   // el id del botón que lanzará el calendario
        verifModal: true,
        onUpdate: function () {
            var date = $("#fecha_entrega").val();
            showLoad(1);
            $.ajax({
                url: '@Url.Action("getSchedules", "Customer")',
                type: "GET",
                data: { "date": date },
                success: function (schedules) {
                    // alert("<option value='" + schedules[0].worker + "'>" + schedules[0].Start + " - " + schedules[0].End + " hrs.</option>");
                    $("#horario").html("");
                    var items = '<option>Seleccciona un horario disponible</option>';
                    for (var i = 0; i < schedules.length ; i++) {
                        items += "<option value='" + schedules[i].worker + "'>" + schedules[i].Start + " - " + schedules[i].End + " hrs.</option>";
                    }
                    $('#horario').html(items);
                    $('#horario').trigger("chosen:updated");
                }, complete: function () {
                    showLoad(0);
                }
            });
        }
    });
    $(function () {

        $(document).on("click", '.solicitar', function (event) {
            event.preventDefault();
            $(".folio-form").val($(this).attr("data-folio"));
            $('.id-task').val($(this).attr("data-id"));
            $('#solicitar').modal("show");
        });

        $('.pagination').pagination({
            items: $('#total').val(),
            itemsOnPage: 20,
            cssStyle: 'light-theme',
            onPageClick: function (pageNumber, event) {
                event.preventDefault();

                $("#TasksList").html('');
                pageLoading(true);
                var formData = { idPagination: $('#idpagination').val(), page: pageNumber };
                var cadhtml = "";
                var tasksresult = "";

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("PaginationAjax", "Movimientos")',
                    data: formData,
                    success: function (result) {

                        tasksresult = "";
                        tasks = [];
                        var antboxs = [];

                        for (var i = 0; i < result.Tasks.length; i++) {

                            var taskv = result.Tasks[i];
                            antboxs = [];

                            if (taskv.Antboxs != null) {
                                for (var j = 0; j < taskv.Antboxs.length; j++) {
                                    antboxs = {
                                        Descriptionv: taskv.Antboxs[j].Descriptionv,
                                        Box: {
                                            Label: taskv.Antboxs[j].Box.Label,
                                            Id: taskv.Antboxs[j].Box.Id
                                        },
                                        Padlocks: [
                                            taskv.Antboxs[j].Padlocks[0],
                                            taskv.Antboxs[j].Padlocks[1]
                                        ]
                                    }
                                }
                            }

                            tasks.push({
                                id: taskv.Id,
                                folio: taskv.Folio,
                                service: taskv.service_time,
                                antboxs: antboxs,
                                address: {
                                    calle: taskv.Address.Street,
                                    external: taskv.Address.External_number,
                                    colonia: taskv.Address.Neighborhood,
                                    delegacion: taskv.Address.Delegation,
                                    zipcode: taskv.Address.Zipcode,
                                    referencia: taskv.Address.References,
                                }
                            });

                            var address = "<span class='calle'>" + taskv.Address.Street + "</span> <span class='external'>" + taskv.Address.External_number + "</span>, <span class='colonia'>" + taskv.Address.Neighborhood + "</span>, <span class='ciudad'>" + taskv.Address.City + "</span>, C.P. " + taskv.Address.Zipcode + ".";

                            var cadhtml = "";
                            cadhtml += "<div class=\"col-sm-12 back_gris pt30 pb20 mb30\">";
                            cadhtml += "    <div class=\"media-left\">";
                            cadhtml += "        <div class=\"icon icon-color icon-size-4\">";
                            if (taskv.Type == "pickup")
                                cadhtml += "            <i class=\"fa fa-truck fa-flip-horizontal\"><\/i>";
                            else
                                cadhtml += "            <i class=\"fa fa-archive\"><\/i>";
                            cadhtml += "        <\/div>";
                            cadhtml += "    <\/div>";
                            cadhtml += "    <div class=\"media-body\">";
                            if (taskv.Type == "pickup")
                                cadhtml += "        <h4>Recolección<\/h4>";
                            else
                                cadhtml += "        <h4>Entrega<\/h4>";
                            cadhtml += "        <p>Fecha: <span class='fecha'>" + timeConverter(taskv.completeAfter) + "</span><br \/>Lugar: " + address + "<\/p>";
                            cadhtml += '<input type="hidden" class="delegacion" value="' + taskv.Address.Delegation + '" />';
                            cadhtml += '<input type="hidden" class="referencia" value="' + taskv.Address.References + '" />';
                            if (taskv.Status == "completed")
                                cadhtml += "<div class=\"sticker_mov completed\">Completado<\/div>";
                            else if (taskv.Status == "inprogress")
                                cadhtml += "<div class=\"sticker_mov in_progress\">En progreso<\/div>";
                            else if (taskv.Status == "canceled")
                                cadhtml += "<div class=\"sticker_mov canceled\">Cancelado<\/div>";
                            if (taskv.Status == "completed") {
                                if (taskv.Type == "pickup")
                                    cadhtml += "<button type=\"button\" class=\"btn btn-primary btn-sm pull-right ml10 recibo-recoleccion\" data-id=\"" + taskv.Id + "\">Ver Recibo</button>";
                                else
                                    cadhtml += "<button type=\"button\" class=\"btn btn-primary btn-sm pull-right ml10 recibo-entrega\" data-id=\"" + taskv.Id + "\">Ver Recibo</button>";
                            }
                            if (taskv.verifday) {
                                cadhtml += "<button type=\"button\" class=\"btn btn-primary btn-sm pull-right btn_blue solicitar\" data-toggle=\"modal\" data-folio=\"" + taskv.Folio + "\" data-id=\"" + taskv.Id + "\">Reagendar</button>";
                            }
                            cadhtml += "    <\/div>";
                            cadhtml += "<\/div>";

                            tasksresult += cadhtml;
                        }

                        $("#TasksList").html(tasksresult);

                        console.log(result);
                        pageLoading(false);

                    }
                });

            }
        });

        $('.solicitar-antbox').click(function (event) {

            event.preventDefault();

            var checkeds = ["1"];
            var succesed = [];
            var count = 0;

            $("#loader-solicitar").show();
            console.log($(".select-antbox:checked").length);

            var formData = {
                worker: $("#horario").val(),
                address: $("#address").val(),
                fecha: $("#fecha_entrega").val(),
                hora: $('#horariostring').val(),
                referencia: $('#referencia').val(),
                folioEntrega: $(".folio-form").val(),
                id: $('.id-task').val()
            };

            console.log(formData);

            showLoad(1);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SolicitarAntbox", "AntBox")',
                data: formData,
                success: function (result) {
                    showLoad(0);
                    console.log(result);
                    if (result.success == true) {
                        //antbox editado
                        succesed.push(1);
                        console.log('result succes');
                    } else {
                        succesed.push(0);
                        console.log('result false');
                    }
                }, error: function (dataerror) {
                    showLoad(0);
                    console.log(dataerror);
                    succesed.push(0);
                }, complete: function () {
                    count++;
                    if (count == checkeds.length) {
                        var mensaje = "Antboxs solicitados correctamente";
                        if (checkeds.length == 1) mensaje = "Antbox solicitado correctamente";
                        $("#loader-solicitar").hide();
                        if (!$('#SolicitarAntBoxSuccess').length) {
                            $('.form-solicitar-antbox').prepend('<div class="alert alert-success alert-dismissible fade in" id="SolicitarAntBoxSuccess"> <button type="button" class="close" data-dismiss="alert"> <i class="fa fa-times"></i></button><p><i class="fa fa-check"></i>' + mensaje + '</p></div>');
                            window.setTimeout(function () {
                                $('#SolicitarAntBoxSuccess').remove();
                            }, 3000);
                            window.setTimeout(function () {
                                $(".select-antbox:checked").each(function () {
                                    $(this).prop('checked', false);
                                });
                                $('#solicitar').modal('hide');
                                window.location.reload();
                            }, 1000);
                        }
                        element.parent().find('.name-antbox').text($('#mname-antbox').val());
                        element.parent().find('.description-antbox').text($('#mdescription-antbox').val());
                    }
                }
            });
            console.log(checkeds);

        });

        $(document).on('change', '#horario', function () {
            console.log("change horario");
            var horario = $("#horario").val();
            var t = $("#horario option:selected").text();
            $("#horariostring").val(t);
        })

        function pageLoading(status) {
            if (status) {
                $("#loader").css('display', 'block');
            }
            else {
                $("#loader").css('display', 'none');
            }
        }

        function timeConverter(UNIX_timestamp) {
            var a = new Date(UNIX_timestamp);
            var year = a.getUTCFullYear();
            var month = a.getUTCMonth() + 1;
            month = ('0' + month).slice(-2);
            var date = a.getUTCDate();
            date = ('0' + date).slice(-2);
            var time = date + '/' + month + '/' + year + ' ' + formatAMPM(a);
            return time;
        }

        function formatAMPM(date) {
            var hours = date.getUTCHours();
            var minutes = date.getUTCMinutes();
            var seconds = date.getUTCSeconds();
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = ('0' + minutes).slice(-2);
            seconds = ('0' + seconds).slice(-2);
            var strTime = hours + ':' + minutes + ':' + seconds + ' ' + ampm;
            return strTime;
        }

        var actualindex = 0;

        $(document).on("click", '.recibo-recoleccion', function () {
            var id = $(this).attr("data-id");
            $('.recibo_recoleccion').modal("show");
            showLoad(1);
            for (var i = 0; i < tasks.length; i++) {
                if (tasks[i].id == id) {
                    actualindex = i;
                    $('.folior').text(tasks[i].folio);
                    //$('.folior').val(tasks[i].folior);
                    //$('.folior').val(tasks[i].folior);
                    $('.fechar').text($(this).closest('.media-body').find('.fecha').text());
                    $('.caller').text($(this).closest('.media-body').find('.calle').text());
                    $('.externalr').text(tasks[i].address.external);
                    $('.coloniar').text('Colonia ' + $(this).closest('.media-body').find('.colonia').text());
                    $('.delegacionr').text('Delegación ' + $(this).closest('.media-body').find('.delegacion').val());
                    $('.zipr').text('C.P. ' + tasks[i].address.zipcode);
                    //$('.cellr').val(tasks[i].folior);
                    if ($(this).closest('.media-body').find('.referencia').val() != 'undefined') $('.referenciar').text('Ref. ' + $(this).closest('.media-body').find('.referencia').val());


                    $('#content-antboxes-recibo-recoleccion').html('');
                    $('#content-boxes-recibo-recoleccion').html('');

                    $('.firma_recoleccion').attr("src", "http://64.28.103.85:8082/assets/sign" + tasks[i].id + ".png");

                    var formData = {};
                    formData.folio = tasks[i].folio
                    var boxes = [];
                    $("#loader-recoleccion").show();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Recibo", "Payment")',
                        data: formData,
                        success: function (result) {
                            showLoad(0);
                            $("#recibo_recoleccion").modal("show");
                            $("#loader-recoleccion").hide();

                            if (tasks[actualindex].antboxs.length > 0)
                            {
                                result.antbox.Antboxs = tasks[actualindex].antboxs;
                            }

                            var htmlGlobal = "";
                            for (var i = 0; i < result.antbox.Antboxs.length; i++) {
                                var found = false;
                                for (var j = 0; j < boxes.length; j++) {
                                    if (boxes[j].id == result.antbox.Antboxs[i].Box.Id) {
                                        found = true;
                                        boxes[j].quantity++;
                                        result.antbox.Antboxs[i].position = boxes[j].quantity;
                                    }
                                }
                                if (!found) {
                                    boxes.push({ id: result.antbox.Antboxs[i].Box.Id, quantity: 1, nombre: result.antbox.Antboxs[i].Box.Label });
                                    result.antbox.Antboxs[i].position = 1;
                                }
                                var rowhtml = colocaAntbox(result.antbox.Antboxs[i], i);
                                htmlGlobal += rowhtml;
                            }

                            var rentas = 0;
                            var depositos = 0;
                            var cargos = 0;
                            var reembolso = 0;
                            for (var i = 0; i < result.payments.length; i++) {
                                if (result.payments[i].Type == 'payment') rentas += parseInt(result.payments[i].Amount);
                                else if (result.payments[i].Type == 'deposit') depositos += parseInt(result.payments[i].Amount);
                                else if (result.payments[i].Type == 'refund') reembolso += parseInt(result.payments[i].Amount);
                                cargos = rentas + depositos;
                            }

                            $('.rentasr').text("$ " + rentas.toFixed(2));
                            $('.depositosr').text("$ " + depositos.toFixed(2));
                            $('.cargosr').text("$ " + cargos.toFixed(2));
                            $('.reembolsor').text("$ " + reembolso.toFixed(2));

                            $('#content-antboxes-recibo-recoleccion').append("<p>" + htmlGlobal + "</p>");
                            colocaBoxes(boxes, $('#content-boxes-recibo-recoleccion'));
                            console.log(result);
                        }, error: function (error) {
                            showLoad(0);
                            $("#loader-recoleccion").hide();
                        }
                    })
                }
            }
        })

        $(document).on("click", '.recibo-entrega', function () {
            var id = $(this).attr("data-id");
            $('.recibo_entrega').modal("show");
            showLoad(1);
            for (var i = 0; i < tasks.length; i++) {
                if (tasks[i].id == id) {
                    actualindex = i;
                    $('.folioe').text(tasks[i].folio);
                    //$('.folior').val(tasks[i].folior);
                    //$('.folior').val(tasks[i].folior);
                    $('.fechae').text($(this).closest('.media-body').find('.fecha').text());
                    $('.callee').text($(this).closest('.media-body').find('.calle').text());
                    $('.externale').text(tasks[i].address.external);
                    $('.coloniae').text('Colonia ' + $(this).closest('.media-body').find('.colonia').text());
                    $('.delegacione').text('Delegación ' + $(this).closest('.media-body').find('.delegacion').val());
                    $('.zipe').text('C.P. ' + tasks[i].address.zipcode);
                    //$('.cellr').val(tasks[i].folior);
                    if ($(this).closest('.media-body').find('.referencia').val() != 'undefined') $('.referenciar').text('Ref. ' + $(this).closest('.media-body').find('.referencia').val());

                    $('.firma_entrega').attr("src", "http://64.28.103.85:8082/assets/sign" + tasks[i].id + ".png");


                    $('#content-antboxes-recibo').html('');
                    $('#content-boxes-recibo').html('');

                    var formData = {};
                    formData.folio = tasks[i].folio
                    var boxes = [];
                    $("#loader-entrega").show();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Recibo", "Payment")',
                        data: formData,
                        success: function (result) {
                            $("#recibo_entrega").modal("show");
                            $("#loader-entrega").hide();
                            var htmlGlobal = "";
                            if (tasks[actualindex].antboxs.length > 0) {
                                result.antbox.Antboxs = tasks[actualindex].antboxs;
                            }
                            for (var i = 0; i < result.antbox.Antboxs.length; i++) {
                                var found = false;
                                for (var j = 0; j < boxes.length; j++) {
                                    if (boxes[j].id == result.antbox.Antboxs[i].Box.Id) {
                                        found = true;
                                        boxes[j].quantity++;
                                        result.antbox.Antboxs[i].position = boxes[j].quantity;
                                    }
                                }
                                if (!found) {
                                    boxes.push({ id: result.antbox.Antboxs[i].Box.Id, quantity: 1, nombre: result.antbox.Antboxs[i].Box.Label });
                                    result.antbox.Antboxs[i].position = 1;
                                }
                                var rowhtml = colocaAntbox(result.antbox.Antboxs[i], i);
                                htmlGlobal += rowhtml;
                            }
                            $('#content-antboxes-recibo').html("<p>" + htmlGlobal + "</p>");
                            colocaBoxes(boxes, $('#content-boxes-recibo'));
                            console.log(result);
                        }, error: function (error) {
                            $("#loader-entrega").hide();
                        }, complete: function () {
                            showLoad(0);
                        }
                    })
                }
            }
        })

        function colocaBoxes(boxes, element) {
            var cadhtml = "";
            for (var j = 0; j < boxes.length; j++) {
                append = "";
                if (j > 0) append = "</br>";
                cadhtml += append + boxes[j].nombre + ": " + boxes[j].quantity;
            }
            element.html(cadhtml);
        }

        function colocaAntbox(antbox, index) {
            var cadhtml = "";
            append = "";
            if (index > 0) append = "</br>";
            cadhtml += append + antbox.Box.Label + ": " + antbox.position;
            cadhtml += "</br>" + "Descripción: " + antbox.Descriptionv;
            if (antbox.Padlocks.length > 0) {
                var candado1 = (antbox.Padlocks.length >= 1) ? antbox.Padlocks[0] : "";
                var candado2 = (antbox.Padlocks.length >= 2) ? antbox.Padlocks[1] : "";
                if ((candado1 != null && candado1 != "" && candado1 != 'null') && (candado2 != null && candado2 != "" && candado2 != 'null')) {
                    cadhtml += "</br>"
                    if (candado1 != null && candado1 != "") cadhtml += "Candado 1: " + candado1 + " ";
                    if (candado2 != null && candado2 != "") cadhtml += "Candado 2: " + candado2 + " ";
                }
            }

            return cadhtml;
        }

    })
</script>
}
