@model AntBoxFrontEnd.Models.OrderViewModel

@{
    ViewBag.Title = "Index";

    Model.NewAddress = new AntBoxFrontEnd.Models.AntBoxAddressViewModel();

}

            <!-- WRAPPER -->
            <div class="wrapper">
                <!-- CONTENT -->
                <div class="content ordenar">
                    <!-- CONTAINER -->
                    <div class="container">
                        <div class="row irow-xs">
                            <div class="col-sm-12">
                                <h1>Ordenar</h1>
                                <div class="heading-divider"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container -->
                    <!-- CONTAINER -->
                    <div class="container mt30">
                        <div class="row">
                            <div class="col-md-3 pr0 no_portrait">
                                @Html.Partial("_LeftMenu")
                            </div>
                            <div class="col-md-9">
                                <form class="form-solid">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="irow-xs pb30">
                                                <h3>Ordena tus Antboxs</h3>
                                                <p>Ordenar tus Antboxs es muy sencillo, solo indícanos cuántas Antboxs necesitas y a qué direcciones debemos enviártelas.</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card card-image">
                                                <figure class="figure ">
                                                    <!--Agregar a clase para slider: "slider oneslider"-->
                                                    <ul data-fx="crossfade" data-auto="true" data-timeout="4500">
                                                        <li>
                                                            <img src="~/Images/antboxs_chica.png" />
                                                        </li>
                                                        <!--<li>
                                                            <a href="">
                                                                <img src="http://placehold.it/600x400" alt="">
                                                            </a>
                                                        </li>-->
                                                    </ul>
                                                    <!--<a class="slider-arrow slider-arrow-prev" href=""></a>
                                                    <a class="slider-arrow slider-arrow-next" href=""></a>
                                                    <nav class="slider-pagination pb70"></nav>-->
                                                </figure>
                                            </div>
                                        </div>
                                    </div>

                                  @Html.Partial("_SelectBoxesPartial", Model.Boxes)

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <hr class="hr-dashed mt0 mb40" />
                                        </div>
                                    </div>
                                    <div class="row mt10">
                                        <div class="col-sm-12">
                                            <div class="irow-xs">
                                                <h3>Dirección de recolección</h3>
                                                <p>¿Dónde y cuándo debemos llevarte tus Antboxs vacías?</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt20">
                                        <div class="col-sm-6">
                                            <div class="form-group mb0">
                                                <label for="form-select">Dirección de recolección</label>
                                                <select id="AddressPickup">
                                                    @if (Model.Addresses != null)
                                                    {
                                                        foreach (var item in Model.Addresses)
                                                        {
                                                            if (item != null)
                                                            {
                                                                <option value='@item.Id.ToString()'> @item.Alias</option>
                                                            }
                                                        }
                                                    }
                                                    @*<option value>- Selecciona una opción -</option>
                                                    <option value="Casa">Casa</option>
                                                    <option value="Oficina">Oficina</option>
                                                    <option value="Facturación">Facturación</option>*@
                                                </select>
                                                <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#nueva_direccion">Nueva dirección</button>
                                            </div>
                                            <label for="textbox">Fecha</label>
                                            <div class="input-group" >
                                                <span class="input-group-btn">
                                                    <button type="button" id="recoleccion" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                                </span>                                   
                                                <input class="form-control" type="text" id="fecha_recoleccion" name="fecha_recoleccion" disabled="disable">
                                            </div>
                                            <div class="form-group">
                                                @Html.HiddenFor(m => m.HoraRecoleccionString)
                                                <label for="form-select">Horario de recolección</label>
                                                @Html.DropDownListFor(m => m.WorkerIdPickup, new List<SelectListItem> { new SelectListItem { Value = "", Text = "Selecciona una fecha" } }, "", new { @id = "Horario_recoleccion" , onchange = "HorarioRecoleccion()" })
                                                @*<select id="Horario_recoleccion">
                                                    <option value>- Selecciona una opción -</option>
                                                    <option value="09-11">09:00 - 11:00 hrs.</option>
                                                    <option value="11-13">11:00 - 13:00 hrs.</option>
                                                    <option value="13-15">13:00 - 15:00 hrs.</option>
                                                    <option value="15-17">15:00 - 17:00 hrs.</option>
                                                    <option value="17-19">17:00 - 19:00 hrs.</option>
                                                </select>*@
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="form-message">Referencias o comentarios</label>
                                                <textarea name="message" id="txtReferenciaRecoleccion"></textarea>
                                            </div>
                                            <div class="checkbox">
                                                
                                                <label>
                                                    @*@Html.EditorFor(m => m.Service_time_Pickup)*@
                                                    <input type="checkbox" name="chkEsperar" id="chkEsperar">
                                                    Quiero que el conductor me espere para que pueda llevar mis Antboxs de vuelta al almacén de forma inmediata. (Considere que los conductores solo pueden esperar hasta 20 minutos)
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <hr class="hr-dashed mt0 mb40" />
                                        </div>
                                    </div>
                                    <div class="row mt10">
                                        <div class="col-sm-6">
                                            <div class="irow-xs">
                                                <h3>Formas de Pago</h3>
                                                <p>Selecciona tu forma de pago.</p>
                                            </div>
                                            <div class="form-group mt20">
                                                <label for="form-select">Forma de pago</label>
                                                <select id="CardsList">
                                                    @foreach (var card in Model.Cards)
                                                    {
                                                        if (card.State != "main")
                                                        {
                                                            <option value='@card.Id'>@card.Info.Card_number</option>
                                                        }
                                                        else
                                                        {
                                                            <option value='@card.Id' selected>@card.Info.Card_number</option>
                                                        }
                                                    }

                                                    @*<option value>- Selecciona una opción -</option>
                                                    <option value="tarjeta_1">Tarjeta 1</option>
                                                    <option value="tarjeta_2">Tarjeta 2</option>
                                                    <option value="tarjeta_3">Tarjeta 3</option>*@
                                                </select>
                                                <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#nueva_tarjeta">Nueva tarjeta</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="irow-xs">
                                                <h3>Preferencia de contacto</h3>
                                                <p>Elige la forma de contacto más adecuada para ti.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="checkbox">
                                                        <label>
                                                            @*@Html.EditorFor(m => m.ContactByTel)*@
                                                            <input type="checkbox" name="preferencia_contacto_Tel" checked>
                                                            Teléfono
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="checkbox">
                                                        <label>
                                                            @*@Html.EditorFor(m => m.ContactByEmail)*@
                                                            <input type="checkbox" name="preferencia_contacto_mail" checked>
                                                            E-mail
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <hr class="hr-dashed mt0 mb40" />
                                        </div>
                                    </div>
                                    <div class="row mt10 legales">
                                        <div class="col-sm-6 pl10_pr10_mobiles">
                                            <div class="irow-xs">
                                                <h3>Restricciones de uso</h3>
                                                <p>Revisa las condiciones de uso antes de continuar.</p>
                                            </div>
                                            <div class="checkbox">
                                                <button type="button" class="btn-link" data-toggle="modal" data-target="#restricciones_uso">restricciones de uso</button>

                                                <label class="pull-left pr5">
                                                    <input type="checkbox" name="chkRestricciones" id="chkRestricciones">
                                                    Entiendo y acepto las
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pl10_pr10_mobiles">
                                            <div class="irow-xs">
                                                <h3>Términos y condiciones</h3>
                                                <p>Revisa los términos y condiciones antes de continuar.</p>
                                            </div>
                                            <div class="checkbox">
                                                <a href="/Content/docs/terminos-y-condiciones.pdf" target="_blank" class="btn-link">
                                                    <b>términos y condiciones</b>
                                                </a>
                                                <label class="pull-left pr5">
                                                    <input type="checkbox" name="chkCondiciones" id="chkCondiciones">
                                                    Entiendo y acepto los
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row mr0">
                                            <div class="col-sm-12 mt30">
                                                <input type="button" class="btn btn-primary btn-wide pull-right mt10" value="Completar mi orden" onclick="CompletarOrden();">

                                                <p class="succs-msg">Мensaje enviado</p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.content -->
                <?php include 'includes/promobox.php';?>

            </div>
            <!-- /.wrapper -->
            <!-- Modal Medium -->
        <div class="modal fade" id="nueva_direccion">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Registrar nueva dirección</h6>
            </div>
            <div class="modal-body">
                <form action="" method="post" class="contact-form form-solid" novalidate id="updateForm">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewAddress.Alias)
                                @Html.TextBoxFor(m => m.NewAddress.Alias, Model.NewAddress.Alias, new { @id = "Alias" })
                                @Html.ValidationMessageFor(m => m.NewAddress.Alias)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewAddress.Street)
                                @Html.TextBoxFor(m => m.NewAddress.Street, Model.NewAddress.Street, new { @id = "Street" })
                                @Html.ValidationMessageFor(m => m.NewAddress.Street)
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.NewAddress.Internal_number)
                                        @Html.TextBoxFor(m => m.NewAddress.Internal_number, Model.NewAddress.Internal_number, new { @id = "Internal_number" })
                                        @Html.ValidationMessageFor(m => m.NewAddress.Internal_number)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.NewAddress.External_number)
                                        @Html.TextBoxFor(m => m.NewAddress.External_number, Model.NewAddress.External_number, new { @id = "External_number" })
                                        @Html.ValidationMessageFor(m => m.NewAddress.External_number)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewAddress.Zipcode)
                                @*<input type="text" name="email" id="txtZipcode1">*@
                                @Html.TextBoxFor(m => m.NewAddress.Zipcode, new { @id = "txtZipcode1" })
                                @Html.ValidationMessageFor(m => m.NewAddress.Zipcode)
                            </div>
                            <div class="form-group">
                                <label for="form-select">Delegación o Municipio</label>
                                @Html.DropDownListFor(m => m.NewAddress.Delegation, Model.NewAddress.Delegaciones, "", new { @id = "cmbDelegations1" })
                                @*<select id="delegation">
                            <option value="">- Selecciona una opción -</option>
                        </select>*@
                            </div>
                            <div class="form-group">
                                <label for="form-select">Colonia</label>
                                @Html.DropDownListFor(m => m.NewAddress.Neighborhood, Model.NewAddress.Colonias, "", new { @id = "cmbNeighborhood1" })
                                @*<select id="neighborhood" name="form_select">
                            <option value="">- Selecciona una opción -</option>
                        </select>*@
                            </div>
                        </div>
                        <div class="col-sm-6 pl0_modal">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewAddress.City)
                                @Html.TextBoxFor(m => m.NewAddress.City, new { @id = "City" })
                                @Html.ValidationMessageFor(m => m.NewAddress.City)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewAddress.State)
                                @Html.TextBoxFor(m => m.NewAddress.State, Model.NewAddress.State, new { @id = "State" })
                                @Html.ValidationMessageFor(m => m.NewAddress.State)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewAddress.Country)
                                @Html.TextBoxFor(m => m.NewAddress.Country, Model.NewAddress.Country, new { @id = "Country" })
                                @Html.ValidationMessageFor(m => m.NewAddress.Country)
                            </div>

                        </div>
                        <div class="col-sm-12 mt10">
                            <input type="submit" class="btn btn-primary btn-wide pull-right" id="btnCreateAddress1">
                            <p class="succs-msg">Мensaje enviado</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- Modal Medium -->
<div class="modal fade" id="nueva_tarjeta">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Registrar nueva tarjeta</h6>
            </div>
            <div class="modal-body">
                <form action="../../php/email.php" method="post" class="contact-form form-solid" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="send-form-name">Nombre de Tarjeta*</label>
                                <input type="text" name="name" id="send-form-name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="send-form-email">Número de Tarjeta*</label>
                                <input type="email" name="email" id="send-form-email">
                            </div>
                        </div>
                    </div>
                    <p class="mb0 etiqueta">Expiración:</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="send-form-email">MM*</label>
                                <input type="email" name="email" id="send-form-email">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="send-form-email">YY*</label>
                                <input type="email" name="email" id="send-form-email">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="send-form-email">CVC*</label>
                                <input type="email" name="email" id="send-form-email">
                            </div>
                        </div>
                    </div>
                    <div class="row ml0 mr0 mt10">
                        <input type="submit" class="btn btn-primary btn-wide pull-right" value="Registrar">
                        <p class="succs-msg">Мensaje enviado</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- Modal Medium -->
<div class="modal fade" id="restricciones_uso">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Restricciones de uso</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-inside restricciones-content">
                    <h4>Respeta las siguientes condiciones de uso:</h4>
                    <div class="heading-divider"></div>
                    <p></p>
                    <ul>
                        <li><i class="fa fa-check fa-fw text-success"></i>Los artículos caben adecuadamente en mis Antboxs.</li>
                        <li><i class="fa fa-check fa-fw text-success"></i>No estoy guardando artículos prohibidos dentro de mis Antboxs (Mayor detalle en <a href="/Content/docs/terminos-y-condiciones.pdf" target="_blank" class="link_red">Términos y Condiciones</a>).</li>
                        <li><i class="fa fa-check fa-fw text-success"></i>Estoy informado y autorizo que se cargue un costo mensual por cada Antboxs a mi tarjeta de crédito.</li>
                        <li><i class="fa fa-check fa-fw text-success"></i>Entiendo y autorizo que tengo derecho a un envío al mes gratuito, de mis Antboxs a mi domicilio registrado, los adicionales tienen costo.</li>
                        <li><i class="fa fa-check fa-fw text-success"></i>Llevo un registro personal de mis artículos en cada Antboxs.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- Modal Large -->
<div class="modal fade" id="terminos_condiciones">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Términos y condiciones</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-inside">
                    <h4>Términos y condiciones</h4>
                    <div class="heading-divider"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

   
    <!-- /.modal -->
    <script type="text/javascript">
        var discount = 0;
        Calendar.setup({
            inputField: "fecha_recoleccion",      // id del campo de texto
            ifFormat: "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
            button: "recoleccion" ,  // el id del botón que lanzará el calendario
            onUpdate: function() {
                var date = $("#fecha_recoleccion").val();
                $.ajax({
                    url: '@Url.Action("getSchedules", "Customer")',
                    type: "GET",
                    data: { "date": date },
                    success: function (schedules) {
                       // alert("<option value='" + schedules[0].worker + "'>" + schedules[0].Start + " - " + schedules[0].End + " hrs.</option>");
                        $("#Horario_recoleccion").html("");
                        var items = '<option>Seleccciona un horario disponible</option>';
                        for (var i = 0; i < schedules.length ; i++) {
                            items += "<option value='" + schedules[i].worker + "'>" + schedules[i].Start + " - " + schedules[i].End + " hrs.</option>";
                        }
                        $('#Horario_recoleccion').html(items);
                        $('#Horario_recoleccion').trigger("chosen:updated");
                    }
                });
            }
        });

        $(function () {
            $('.checkdisplay').change(function () {
                if (this.checked)
                    $('.todisplay').fadeIn('slow');
                else
                    $('.todisplay').fadeOut('slow');

            });
            $(".aplicar-cupon").click(function () {
                var couponcode = $("#coupon_code").val();
                formData = {};
                formData.cupon = couponcode;
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetDisccount", "Precios")',
                    // data: $('#frmNewAddress').serialize(),
                    data: formData,
                    success: function (d) {
                        if (d.success) {
                            discount = d.discount;
                            recalculateTotal();
                        } else {
                            discount = 0;
                            recalculateTotal();
                        }
                    }, error: function (e) {
                        discount = 0;
                        recalculateTotal();
                    }
                });
            })
        })
    </script>

    <script type="text/javascript">
        function HorarioRecoleccion() {
            var horario = $("#Horario_recoleccion").val();
            var t = $("#Horario_recoleccion option:selected").text();
            $("#HoraRecoleccionString").val(t);  


            //alert(horario + " " + t);
        };

    </script>

    <script type="text/javascript">
        function CompletarOrden() {
            var dirRecolId = $("#AddressPickup").val();

            var fecRec = $("#fecha_recoleccion").val();
            var workerRec = jQuery("#Horario_recoleccion  option:selected").val();   //worker id de recoleccion

            var esperar = $("#chkEsperar").is(':checked');
            var horaRec = $("#HoraRecoleccionString").val();
            var contactoTel = $("#preferencia_contacto_Tel").is(':checked');
            var contactoMail = $("#preferencia_contacto_mail").is(':checked');
            var referenciasRec = $("#txtReferenciaRecoleccion").val();

            var cardid = jQuery("#CardsList  option:selected").val();
            var monto = $('#Total').text();

            var data =
                    {
                        dirRecolId: dirRecolId,
                        fecRec: fecRec,
                        workerRec: workerRec,
                        horaRec: horaRec,
                        esperar: esperar,
                        contactoTel: contactoTel,
                        contactoMail: contactoMail,
                        referenciasRec: referenciasRec,
                        cardid: cardid,
                        monto: monto
                    };

            if (!$("#chkRestricciones").is(':checked') || !$("#chkCondiciones").is(':checked')) {
                alert("Debes aceptar los terminos y condiciones antes de continuar.");
            }
            else {
                $.ajax({
                    url: '@Url.Action("DoOrder", "Customer")',
                    type: "POST",
                    data: data,
                    success: function (data) {
                        if (data.success)
                        {
                            alert(data.responseText);
                            window.location.reload(true);
                        }
                        else
                        { alert(data.responseText); }
                    }
                });
            }
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({ html: true });

            $(".amount").each(function () {
                $(this).text($(this).text().replace(",", "."));
            });
        });
    </script>

    <script type="text/javascript">
        // Script para el campo de colonia
        function showOtraColonia3(elem) {
            if (elem.value == "otra")
                document.getElementById('hidden_div3').style.display = "block";
            else
                document.getElementById('hidden_div3').style.display = "none";
        }
    </script>

    <script type="text/javascript">
        
        function CambioZipModal() {
            var zipcode = $('#txtZipcode1').val();
            //alert(zipcode);

            $.ajax({
                url: '@Url.Action("GetDelegation", "Home")',
                type: "POST",
                data: { "zipcode": zipcode },
                success: function (data) {

                    $("#cmbDelegations1").html("");
                    var items = '<option>Seleccciona una delegacion</option>';
                    $.each(data.result, function (i, delegation) {
                        items += "<option value='" + delegation.Value + "'>" + delegation.Text + "</option>";
                    });
                    $('#cmbDelegations1').html(items);
                    $('#cmbDelegations1').trigger("chosen:updated");
                }
            });

            $.ajax({
                url: '@Url.Action("GetColonias", "Home")',
                type: "POST",
                data: { "zipcode": zipcode },
                success: function (data) {

                    $("#cmbNeighborhood1").html("");
                    var items = '<option>Seleccciona una colonia</option>';
                    $.each(data.result, function (i, delegation) {
                        items += "<option value='" + delegation.Value + "'>" + delegation.Text + "</option>";
                    });
                    $('#cmbNeighborhood1').html(items);
                    $('#cmbNeighborhood1').trigger("chosen:updated");
                }

            });

            $.ajax({
                url: '@Url.Action("GetState", "Home")',
                type: "POST",
                data: { "zipcode": zipcode },
                success: function (data) {
                    $('#State').val(data.result);
                    $('#City').val(data.result);
                    $('#Country').val('México');
                }
            });

        }



 </script>

<script type="text/javascript">
    $('#btnCreateAddress').click(function () {
       // alert('Entro la acción');
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("CreateAddress", "Home")',
           // data: $('#frmNewAddress').serialize(),
            data: JSON.stringify({
                                    "Alias": $("#Alias").val(),
                                    "Street": $("#Street").val(),
                                    "Internal_number": $("#Internal_number").val(),
                                    "External_number": $("#External_number").val(),
                                    "Zipcode": $("#txtZipcode1").val(),
                                    "Delegation": $("#cmbDelegations1").val(),
                                    "Neighborhood": $("#cmbNeighborhood1").val(),
                                    "City": $("#City").val(),
                                    "State": $("#State").val(),
                                    "Country": $("#Country").val(),
                                    "References": $("#References").val()
                                }),
            success: function (result) {
                if (result.success == false) {
                    $('#nueva_direccion').prepend(
                    '<div class="alert alert-warning" role="alert" id="addressError">Error al registrar dirección, intentelo de nuevo.</div>');
                    window.setTimeout(function ()
                    { $("#addressError").alert('close'); }, 2000);

                }
                else {
                    $('#login-info').html(result);
                    $('#nueva_direccion').prepend(
                   '<div class="alert alert-warning" role="alert" id="addressError">Dirección registrada.</div>');
                    window.setTimeout(function ()
                    { $("#addressError").alert('close'); }, 2000);

                    window.location.reload(true);
                    //$('#frmNewAddress').ready(function () {
                    //    $("input").each(function () {
                    //        $(this).val("");
                    //    });
                    //});
                }
            },
            error: function (emp) {
                $('#frmNewAddress').prepend(
                    '<div class="alert alert-danger fade-in" role="alert" id="LoginErrorAlert">Error al registrar dirección, intentelo de nuevo.</div>'
                    );
                window.setTimeout(function ()
                { $("#LoginErrorAlert").alert('close'); }, 2000);

            }
        });
    });



	function showOtraColonia1(elem){
	if(elem.value == "otra")
	document.getElementById('hidden_div1').style.display = "block";
	else
	document.getElementById('hidden_div1').style.display = "none";
	}
</script>


    @*<script type="text/javascript">
        $('#recoleccion').datepicker().on('changeDate', function (ev) {
            $('#fecha_recoleccion').change();
        });
        $('#fecha_recoleccion').val('0000-00-00');
        $('#fecha_recoleccion').change(function () {
            console.log($('#fecha_recoleccion').val());
        });

    </script>*@





}