@model AntBoxFrontEnd.Models.AgendTaskModel

<div class="row mt10">
    <div class="col-sm-12">
        <div class="irow-xs">
            <h3>Dirección de recolección</h3>
            <p>¿Dónde y cuándo debemos llevarte tus Antboxs vacías?</p>
        </div>
    </div>
</div>
<div class="row mt20">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.Label("* Calle")
            <input type="text" name="Street" id="txtStreet" value="" maxlength="250" />
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="send-form-email">Núm. Int.</label>
                    @Html.TextBoxFor(m => m.Internal_number, new { @id = "txtInternal_number", @maxlength = "50" })
                    @*<label for="send-form-email">Núm. Int.</label>
                    <input type="text"id="txtNumint">*@
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="send-form-email">* Núm. Ext.</label>
                   @Html.TextBoxFor(m => m.External_number, new { @id = "External_number", @maxlength = "50", @required = "required" })
                    @*<label for="send-form-email">Núm. Ext.</label>
                    <input type="text" id="txtNumExt">*@
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("* Código Postal")
           @Html.TextBoxFor(m => m.Zipcode, new { @id = "txtZipcode", @onkeyup = "search_code(this.value)", @required = "required" })
            @Html.ValidationMessage("Código postal requerido", "")


            @*<label for="send-form-email">Código Postal</label>
            <input type="text" id="txtZipCode">*@
        </div>
        <div id="zipCodeError"></div>
        <div class="form-group">
            <label for="form-select">* Delegación o Municipio</label>
            @Html.DropDownListFor(m => m.Delegation, ViewData["DelegationList"] as SelectList, new { @id = "cmbDelegations", @required = "required" })

            @*<select id="form-select">
                <option value>- Selecciona una opción -</option>
                <option value="Delegacion 1">Delegacion 1</option>
                <option value="Delegacion 2">Delegacion 2</option>
                <option value="Delegacion 3">Delegacion 3</option>
                <option value="Delegacion 4">Delegacion 4</option>
            </select>*@
        </div>
        <div class="form-group">
            <label for="form-select">* Colonia</label>
            @Html.DropDownListFor(m => m.Neighborhood, ViewData["ColoniasList"] as SelectList, new { @id = "cmbNeighborhood", @required = "required" })
            @*<select name="form_select" onchange="showOtraColonia1(this)">
                <option value>- Selecciona una opción -</option>
                <option value="Colonia 1">Colonia 1</option>
                <option value="Colonia 2">Colonia 2</option>
                <option value="Colonia 3">Colonia 3</option>
                <option value="Colonia 4">Colonia 4</option>
                <option value="Colonia 5">Otra</option>
            </select>*@
        </div>
        <div id="hidden_div1" class="form-group">
            <label for="send-form-email">Nombre de la colonia*</label>
            <input type="text" id="txtColoniaOtra">
        </div>

        <div class="form-group">
            <label for="send-form-name">Ciudad</label>
            <input type="text" id="txtCity" maxlength="100" name="City" readonly />
        </div>
        <div class="form-group">
            <label for="send-form-name">Estado</label>
            <input type="text"id="txtState" maxlength="100" name="State" readonly />
        </div>

    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <label for="send-form-email">País</label>
            <input type="text" id="txtCountry" name="Country" readonly>
        </div>
        <label for="textbox">* Fecha de recolección (aaaa-mm-dd)</label>
        <div class="input-group form-group">
            <span class="input-group-btn">
                <button type="button" id="recoleccion" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
            </span>
            <input class="form-control" type="text" id="fecha_recoleccion" name="Fecha_recoleccion">
            <br/>
        </div>
        <div style='display:none' id="alert_fecha" class="help-block"><label>La fecha debe ser superior a la actual*</label></div>
        <div class="form-group">
            <label for="form-select">* Horario de recolección</label>
            <select id="selHorario" name="Horario" onchange="HorarioRecoleccion()">
                <option value="">- Selecciona una opción -</option>
                <option  value="">09:00 - 11:00 hrs.</option>
                <option  value="">11:00 - 13:00 hrs.</option>
                <option  value="">13:00 - 15:00 hrs.</option>
                <option value="">15:00 - 17:00 hrs.</option>
                <option  value="">17:00 - 19:00 hrs.</option>
            </select>
        </div>
        <div style='display:none' id="alert_horario" class="help-block"><label>No hay trabajadores disponibles para este horario*</label></div>
        <div class="form-group">
            <label for="form-message">Referencias o comentarios</label>
            <textarea name="References" id="txtReferencias"></textarea>
        </div>
        <div class="checkbox">
            <label>
                @Html.HiddenFor(m => m.HoraRecoleccionString)
                <input type="checkbox" name="Esperar" id="chkEsperar">
                Quiero que el conductor me espere para que pueda llevar mis Antboxs de vuelta al almacén de forma inmediata. (Considere que los conductores solo pueden esperar hasta 20 minutos)
            </label>
        </div>
    </div>
</div>


