@model AntBoxFrontEnd.Models.AgendTaskModel


<div class="row">
    <div class="col-sm-12">
        <hr class="hr-dashed mt0 mb40" />
    </div>
</div>
<div class="row mt10">
    <div class="col-sm-12">
        <div class="irow-xs">
            <h3>Dirección de entrega</h3>
            <p>¿Dónde y cuándo debemos entregar tus antboxs con tus artículos?</p>
            <div class="alert alert-warning alert-dismissible fade in">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="fa fa-times"></i>
                </button>
                <p><i class="fa fa-exclamation-triangle"></i> <strong>Si aún no sabes cuándo podrás necesitar tus antboxs de vuelta, no te preocupes.</strong><br />Podrás agendar la entrega en el momento que tú lo decidas desde tu cuenta en la opción "Mis antboxs".</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="optionsCheckbox" class="checkdisplay">
                    Aún no sé cuándo voy a necesitar mis antboxs de vuelta. Agendar más adelante desde mi cuenta.
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row mt20 roompass todisplay">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="send-form-email">Calle</label>
            @Html.TextBoxFor(m => m.Street2, new { @id = "txtStreet2", @maxlength = "250" })
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="send-form-email">Núm. Int.</label>
                    @Html.TextBoxFor(m => m.Internal_number2, new { @id = "txtInternal_number2", @maxlength = "50" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="send-form-email">Núm. Ext.</label>
                    @Html.TextBoxFor(m => m.External_number2, new { @id = "External_number2", @maxlength = "50" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="send-form-email">Código Postal</label>
            @Html.TextBoxFor(m => m.Zipcode2, new { @id = "txtZipcode2", @onkeyup = "search_code2(this.value)" })
        </div>
        <div id="zipCodeError2"></div>
        <div class="form-group">
            <label for="form-select">Delegación o Municipio</label>
            @Html.DropDownListFor(m => m.Delegation2, ViewData["DelegationList"] as SelectList, new { @id = "cmbDelegations2" })
            @*<select id="form-select">
                <option value>- Selecciona una opción -</option>
                <option value="d1">Delegacion 1</option>
                <option value="d2">Delegacion 2</option>
                <option value="d3">Delegacion 3</option>
                <option value="d4">Delegacion 4</option>
            </select>*@
        </div>
        <div class="form-group">
            <label for="form-select">Colonia</label>
            @Html.DropDownListFor(m => m.Neighborhood2, ViewData["ColoniasList"] as SelectList, new { @id = "cmbNeighborhood2" })
            @*<select name="form_select" onchange="showOtraColonia2(this)">
                <option value>- Selecciona una opción -</option>
                <option value="c1">Colonia 1</option>
                <option value="c2">Colonia 2</option>
                <option value="c3">Colonia 3</option>
                <option value="c4">Colonia 4</option>
                <option value="otra">Otra</option>
            </select>*@
        </div>
        <div id="hidden_div2" class="form-group">
            <label for="send-form-email">Nombre de la colonia*</label>
            <input type="text" id="txtColoniaOtra2" name="Neighborhood2">
        </div>

        <div class="form-group">
            <label for="send-form-name">Ciudad</label>
            <input type="text" id="txtCity2" maxlength="100" name="City2">
        </div>
        <div class="form-group">
            <label for="send-form-name">Estado</label>
            <input type="text" id="txtState2" maxlength="100" name="State2">
        </div>

    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <label for="send-form-email">País</label>
            <input type="text" id="txtCountry2">
        </div>
        <label for="textbox">Fecha de entrega (aaaa-mm-dd)</label>
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" id="entrega" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
            </span>
            <input class="form-control" type="text" id="fecha_recoleccion" name="Fecha_entrega">
        </div>
        <div class="form-group">
            <label for="form-select">Horario de recolección</label>
            <select id="selHorario2" name="Horario2">
                <option value>- Selecciona una opción -</option>
                <option value="09-11">09:00 - 11:00 hrs.</option>
                <option value="11-13">11:00 - 13:00 hrs.</option>
                <option value="13-15">13:00 - 15:00 hrs.</option>
                <option value="15-17">15:00 - 17:00 hrs.</option>
                <option value="17-19">17:00 - 19:00 hrs.</option>
            </select>
        </div>
        <div class="form-group">
            <label for="form-message">Referencias o comentarios</label>
            <textarea name="message" id="txtReferencias2"></textarea>
        </div>
    </div>
</div>

