
@{
    ViewBag.Title = "Antboxes";
}

@model AntBoxFrontEnd.Models.AntBoxAddressViewModel


<!-- WRAPPER -->
<div class="wrapper precios">

    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-check-square-o"></i>
                    <h1>Agendar Entregas</h1>
                    <div class="divider"></div>
                    <span class="subtitle">Usa sin salir de casa y paga solo lo que usas</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTENT -->
    <div class="content">

        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-sm text-center ml0 mr0">
                <div class="col-md-3 col-sm-6 card card-light card-border-top-4">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-archive"></i>
                    </div>
                    <h4>1. Agregar Antboxs</h4>
                </div>
                <div class="col-md-3 col-sm-6 card card-light card-lighter card-border-top-3">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-truck fa-flip-horizontal"></i>
                    </div>
                    <h4>2. Agendar entregas</h4>
                </div>
                <div class="col-md-3 col-sm-6 card card-light card-darker card-border-top-4">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-user icon_grey"></i>
                    </div>
                    <h4>3. Crear nueva cuenta</h4>
                </div>
                <div class="col-md-3 col-sm-6 card card-light card-lighter card-border-top-4">
                    <div class="icon icon-color icon-size-4 icon_grey">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <h4>4. ¡Orden completa!</h4>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs cards">
                <div class="col-sm-12">
                    <h2>Agendar Entregas</h2>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt30">
            <form class="form-solid form-agendar" id="Tareas" action="/Home/CrearCuenta" method="post">

                @{
                    Html.RenderPartial("~/Views/Home/_PickupAddressPartial.cshtml", Model);
                }

                <div class="row" id="Agendar-tareas">
                    <div class="col-sm-12">
                        <input type="hidden" name="Paso" value="2" />
                        @Html.ActionLink("Volver", "Index", "Precios", new { @class = "btn btn-primary btn-wide btn_blue pull-left" })
                        @*<input type="" class="btn btn-primary btn-wide btn_blue pull-left" value="Regresar" onclick="window.location='precios.php';" />*@
                        <input type="submit" name="name" class="btn btn-primary btn-wide pull-right agendarentrega" value="Agendar" />
                        @* @Html.ActionLink("Agendar", "CrearCuenta", "Home", new { onclick = "agendarTareas();", @class = "" }) *@
                        @*<input type="" class="btn btn-primary btn-wide pull-right" value="Agendar" onclick="agendarTareas()" />*@
                        <p class="succs-msg">Мensaje enviado</p>
                    </div>
                </div>

            </form>

        </div>
        <!-- /.container -->


    </div>
    <!-- /.content -->
    
</div>
<!-- /.wrapper -->


@section Scripts
{
<script type="text/javascript">

Calendar.setup({
    inputField     :    "fecha_recoleccion",      // id del campo de texto
    ifFormat       :    "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
    button         :    "recoleccion",   // el id del botón que lanzará el calendario
    onUpdate: function() {
        var date = $("#fecha_recoleccion").val();
        $.ajax({
            url: '@Url.Action("getSchedules", "Customer")',
            type: "GET",
            data: { "date": date },
            success: function (schedules) {
                // alert("<option value='" + schedules[0].worker + "'>" + schedules[0].Start + " - " + schedules[0].End + " hrs.</option>");
                $("#selHorario").html("");
                var items = '<option>Seleccciona un horario disponible</option>';
                for (var i = 0; i < schedules.length ; i++) {
                    items += "<option value='" + schedules[i].worker + "'>" + schedules[i].Start + " - " + schedules[i].End + " hrs.</option>";
                }
                $('#selHorario').html(items);
                $('#selHorario').trigger("chosen:updated");
            }
        });
    }
});
</script>


<script type="text/javascript">
// Script para el campo de colonia
	function showOtraColonia1(elem){
	if(elem.value == "otra")
	document.getElementById('hidden_div1').style.display = "block";
	else
	document.getElementById('hidden_div1').style.display = "none";
	}
</script>

<script type="text/javascript">
// Script para aparecer/desaparecer la dirección de entrega
$(document).ready(function(){
    $('.checkdisplay').change(function(){
        if(this.checked)
            $('.todisplay').fadeOut('slow');
        else
            $('.todisplay').fadeIn('slow');

    });
    var element = {};
    $('.agendarentrega').click(function (event) {

        
        
        event.preventDefault();
        var formData = $(".form-agendar").serialize();

        //Validar direccion
        $.ajax({
            type: 'POST',
            dataType: 'text',
            url:'@Url.Action("ValidateAddress", "Home")',
            data: formData,
            success: function(data) {
                console.log(data);
                if (data == "true") {
                    $(".form-agendar").submit();
                } else {
                    if (!$("#AddressFail").length)
                    {
                        $('#Agendar-tareas').prepend(
                            '<div class="alert alert-warning" role="alert" id="AddressFail"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> La direccion no es valida</div>');
                        window.setTimeout(function () {
                            $("#AddressFail").remove();
                        }, 5000);
                    }
                }
            }, error: function(error)
            {
                console.log(error)
            }
        });

        event.preventDefault();
        
    })
});
</script>


<script type="text/javascript">

    $(function () {
        //Validar letras numeros y signos de puntuacion
        $('#txtStreet').keypress(function (e) {
            var txt = String.fromCharCode(e.which);
            if (!txt.match(/[A-Za-z0-9ñÑáéíóúÁÉÍÓÚ\s\-_&,'.]/)) {
                return false;
            }
        });
        //Validar letras numeros, signos de puntuacion y /
        $('#txtInternal_number, #External_number').keypress(function (e) {
            var txt = String.fromCharCode(e.which);
            if (!txt.match(/[A-Za-z0-9ñÑáéíóúÁÉÍÓÚ\/\s\-_&,'.]/)) {
                return false;
            }
        });
        //Validar letras numeros y punto
        $('#txtCity, #txtState, #txtCountry').keypress(function (e) {
            var txt = String.fromCharCode(e.which);
            if (!txt.match(/[A-Za-z0-9ñÑáéíóúÁÉÍÓÚ.\s]/)) {
                return false;
            }
        });
    });

    function search_code(value) {
        if (value.length == 5)
        {
            changeZipCode1();
        }
    }

    function changeZipCode1(){

        var zipcode = $('#txtZipcode').val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ValidateZipCodeAjax", "AntBoxAddresses")',
            data: { zipCode: zipcode },
            success: function (result) {
                if (result.success == false) {
                    if (!$('.error-zipcode').length) {
                        $('#zipCodeError').prepend(
                            '<div class="alert alert-warning" id="zipCodeError"><p class="error-zipcode"><i class="fa fa-exclamation-triangle"></i> <strong>Prueba con otro código postal.</strong> Por el momento nuestro servicio no llega a este domicilio pero te mantendremos informado de las próximas zonas de cobertura.</p></div>'
                        );
                    }
                }
                else {
                    $('#zipCodeError').html('');

                    $.ajax({
                        url: '@Url.Action("GetDelegation", "Home")',
                        type: "POST",
                        data: { "zipcode": zipcode },
                        success: function (data) {

                            $("#cmbDelegations").html("");
                            var items = '<option>Seleccciona una delegacion</option>';
                            $.each(data.result, function (i, delegation) {
                                items += "<option value='" + delegation.Value + "'>" + delegation.Text + "</option>";
                            });
                            $('#cmbDelegations').html(items);
                            $('#cmbDelegations').trigger("chosen:updated");
                        }


                    });

                    $.ajax({
                        url: '@Url.Action("GetColonias", "Home")',
                        type: "POST",
                        data: { "zipcode": zipcode },
                        success: function (data) {

                            $("#cmbNeighborhood").html("");
                            var items = '<option>Seleccciona una colonia</option>';
                            $.each(data.result, function (i, delegation) {
                                items += "<option value='" + delegation.Value + "'>" + delegation.Text + "</option>";
                            });
                            $('#cmbNeighborhood').html(items);
                            $('#cmbNeighborhood').trigger("chosen:updated");
                        }


                    });

                    $.ajax({
                        url: '@Url.Action("GetState", "Home")',
                        type: "POST",
                        data: { "zipcode": zipcode },
                        success: function (data) {
                            if (data.result == "Ciudad de México")
                                $('#txtState').val("DF");
                            else
                                $('#txtState').val(data.result);
                            $('#txtCity').val(data.result);
                            $('#txtCountry').val('México');
                        }
                    });
                }
            }
        });
    }

    function HorarioRecoleccion() {
        var horario = $("#Horario").val();
        var t = $("#Horario option:selected").text();
        $("#HoraRecoleccionString").val(t);  
        //alert(horario + " " + t);
    };

</script>


    }