
@{
    ViewBag.Title = "Antboxes";
}
<!-- WRAPPER -->
<div class="wrapper precios" id="crear-cuenta-content">

    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-check-square-o"></i>
                    <h1>Crear Cuenta</h1>
                    <div class="divider"></div>
                    <span class="subtitle">Usa sin salir de casa y paga solo lo que usas</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTENT -->
    <div class="content">

        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-sm text-center ml0 mr0">
                <div class="col-md-3 col-sm-6 card card-light card-border-top-4">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-archive"></i>
                    </div>
                    <h4>1. Agregar antboxs</h4>
                </div>
                <div class="col-md-3 col-sm-6 card card-light card-lighter card-border-top-4">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-truck fa-flip-horizontal"></i>
                    </div>
                    <h4>2. Agendar entregas</h4>
                </div>
                <div class="col-md-3 col-sm-6 card card-light card-darker card-border-top-3">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-user "></i>
                    </div>
                    <h4>3. Crear nueva cuenta</h4>
                </div>
                <div class="col-md-3 col-sm-6 card card-light card-lighter card-border-top-4">
                    <div class="icon icon-color icon-size-4 icon_grey">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <h4>4. ¡Orden completa!</h4>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs cards">
                <div class="col-sm-12">
                    <h2>Crear Cuenta</h2>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt30">
            <form class="form-solid" method="post" action="/Precios/ProcesarOrdenRegistro" id="form-crear">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 mb20">
                                <h3>Información Personal</h3>
                                <p>Completa los campos con tus datos personales y mantenlos actualizados. Recuerda guardar tu contraseña en un lugar seguro.</p>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="send-form-name">* Nombre de Usuario</label>
                                    <input type="text" name="Username" id="username" maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="send-form-name">* Nombre(s)*</label>
                                    <input type="text" name="Name" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="send-form-email">* Apellido Paterno</label>
                                    <input type="text" name="Lastname" id="lastname">
                                </div>
                                <div class="form-group">
                                    <label for="send-form-email">* Apellido Materno</label>
                                    <input type="text" name="Lastname2" id="lastname2">
                                </div>
                                <div class="form-group">
                                    <label for="send-form-email">*E-mail</label>
                                    <input type="text" name="Email" id="email">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="send-form-email">* Teléfono</label>
                                    <input type="text" name="Phone" id="phone" maxlength="10">
                                </div>
                                <div class="form-group">
                                    <label for="send-form-name">* Celular</label>
                                    <input type="text" name="Mobilephone" id="mobilephone" maxlength="10">
                                </div>
                                <div class="form-group">
                                    <label for="send-form-email">* Contraseña</label>
                                    <input type="password" name="Password" id="Password1" maxlength="20">
                                </div>
                                <div class="form-group">
                                    <label for="send-form-email">* Confirmar Contraseña</label>
                                    <input type="password" name="Passwordconfirm" id="password2" maxlength="20">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-4">
                <div class="col-sm-12 mb20">
                    <h3>Información Adicional</h3>
                </div>

                <div class="tabs tabs-icons-square">
                    <ul class="nav nav-tabs text-center">
                        <li class="active"><a href="#mus-3" data-toggle="tab"><i class="fa fa-music"></i></a></li>
                        <li><a href="#time-3" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
                        <li><a href="#photo-3" data-toggle="tab"><i class="fa fa-instagram"></i></a></li>
                    </ul>

                    <div class="tab-content no-border">
                        <div class="tab-pane fade in active" id="mus-3">
                            <h4>Testimonials</h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <div class="tab-pane fade" id="time-3">
                            <h4>In Time</h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa sunt explicabo.</p>
                        </div>
                        <div class="tab-pane fade" id="photo-3">
                            <h4>Photo</h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                    </div>
                </div>
            </div>-->
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <hr class="hr-dashed mt0 mb40" />
                    </div>
                </div>


                <div class="row mt10">
                    <div class="col-sm-6">
                        <div class="irow-xs mb20">
                            <h3>Información de Pago</h3>
                        </div>
                        <div class="row">
                            <input type="hidden" name="Deviceid" value="" id="Deviceid" />
                            <input type="hidden" name="State" value="" id="State" />
                            <input type="hidden" name="Token" value="" id="Token" />
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="send-form-name">* Nombre de Tarjeta</label>
                                    <input type="text" name="Cardname" id="cardname">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="send-form-email">* Número de Tarjeta</label>
                                    <input type="text" name="Cardnumber" id="cardnumber">
                                </div>
                            </div>
                        </div>
                        <p class="mb0 etiqueta">Expiración:</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="send-form-email">* MM</label>
                                    <input type="text" name="Month" id="month">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="send-form-email">* YY</label>
                                    <input type="text" name="Year" id="year">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="send-form-email">* CVC</label>
                                    <input type="text" name="CVC" id="cvv">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="irow-xs mb20">
                            <h3>Preferencia de contacto</h3>
                            <p>Elige la forma de contacto más adecuada para ti.</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="Preferencia_contacto_telefono" checked>
                                        Teléfono
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="Preferencia_contacto_email" checked>
                                        E-mail
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <hr class="hr-dashed mt0 mb40" />
                    </div>
                </div>

                <div class="row mt10 legales">
                    <div class="col-sm-6 pl10_pr10_mobiles">
                        <div class="irow-xs">
                            <h3>Restricciones de uso</h3>
                            <p>Revisa las condiciones de uso antes de continuar.</p>
                        </div>
                        <div class="checkbox">
                            <div class="form-group">
                                <button type="button" class="btn-link" data-toggle="modal" data-target="#restricciones_uso">restricciones de uso</button>
                                <label class="pull-left pr5">
                                    <input type="checkbox" name="check_politicas" id="check_condiciones">
                                    Entiendo y acepto las
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 pl10_pr10_mobiles">
                        <div class="irow-xs">
                            <h3>Términos y condiciones</h3>
                            <p>Revisa los términos y condiciones antes de continuar.</p>
                        </div>
                        <div class="checkbox">
                            <!--<button type="button" class="btn-link" data-toggle="modal" data-target="#terminos_condiciones">términos y condiciones</button>-->
                            <div class="form-group">
                                <label class="pull-left pr5">

                                    <input type="checkbox" name="check_condiciones" id="check_condiciones">
                                    Entiendo y acepto los
                                    <a href="/Content/docs/terminos-y-condiciones.pdf" target="_blank" class="btn-link">
                                        <strong>términos y condiciones</strong>
                                    </a>
                                </label>
                            </div>
        

                        </div>
                    </div>

                </div>
                <div id="loader" role="alert" style="display: none;">
                    <img src="@Url.Content("~/Images/preloader.gif")" />   Procesando Orden... &nbsp;
                </div>
                <div class="row" id="completar-orden">
                    <div class="col-sm-12">
                        @Html.ActionLink("Regresar", "AgendarEntregas", "Home", new { @class = "btn btn-primary btn-wide btn_blue pull-left" })
                        @*<input type="" class="btn btn-primary btn-wide btn_blue pull-left" value="Regresar" onclick="window.location='agendar-entregas.php';" />*@
                        @*@Html.ActionLink("¡Completar Orden!", "OrdenCompleta", "Home", new { @class = "btn btn-primary btn-wide pull-right" })*@
                        <input type="button" class="btn btn-primary btn-wide pull-right completarorden" value="¡Completar Orden!" />
                        <p class="succs-msg">Мensaje enviado</p>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.container -->


    </div>
    <!-- /.content -->

</div>
<!-- /.wrapper -->


<!-- Modal Medium -->
<div class="modal fade" id="restricciones_uso">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Restricciones de uso</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-inside">
                    <h4>Respeta las siguientes condiciones de uso:</h4>
                    <div class="heading-divider"></div>
                    <p>
                    </p><ul>
                        <li><i class="fa fa-check fa-fw text-success"></i>Los artículos caben adecuadamente en mis Antboxs.</li>
                        <li><i class="fa fa-check fa-fw text-success"></i>No estoy guardando artículos prohibidos dentro de mis Antboxs (Mayor detalle en <a href="docs/terminos-y-condiciones.pdf" target="_blank" class="link_red">Términos y Condiciones</a>).</li>
                        <li><i class="fa fa-check fa-fw text-success"></i>Estoy informado y autorizo que se cargue un costo mensual por cada Antboxs a mi tarjeta de crédito.</li>
                        <li><i class="fa fa-check fa-fw text-success"></i>Entiendo y autorizo que tengo derecho a un envío al mes gratuito, de mis Antboxs a mi domicilio registrado, los adicionales tienen costo.</li>
                        <li><i class="fa fa-check fa-fw text-success"></i>Llevo un registro personal de mis artículos en cada Antboxs.</li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- Modal Large -->
<div class="modal fade" id="terminos_condiciones">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Términos y condiciones</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-inside">
                    <h4>Términos y condiciones</h4>
                    <div class="heading-divider"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

@section scripts {
<script>
    $(function () {
        $('.completarorden').click(function (event) {

            event.preventDefault();
            if ($("#form-crear").valid()) {
                generate_token();
                
            }

            //$('#registro').find('#verifoption').val(2);
            //$('#registro').modal('show');
        });

        $('#form-crear').validate({
            rules: {
                Username: {
                    required: true
                },
                Name: {
                    required: true
                },
                Lastname: {
                    required: true
                },
                Email: {
                    email: true,
                    required: true
                },
                Phone: {
                    required: true,
                    number: true
                },
                Mobilephone: {
                    number: true
                },
                Password: {
                    required: true,
                    minlength: 8,
                    maxlength: 20
                },
                Passwordconfirm: {
                    required: true,
                    equalTo: "#Password1",
                    minlength: 8,
                    maxlength: 20
                },
                "check_politicas": {
                    required: true
                }, 
                "check_condiciones": {
                    required: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
        $('#cardnumber').rules('add', { required: true, number: true, maxlength: 20 });
        $('#cardname').rules('add', { required: true, lettersonly: true });
        $('#year').rules('add', { required: true, number: true, maxlength: 2 });
        $('#month').rules('add', { required: true, number: true, maxlength: 2 });
        $('#cvv').rules('add', { required: true, number: true, maxlength: 5 });
    })
    function generate_token() {

        showLoad(1);
        $("#loader").show();

        OpenPay.setId('muvzgciusveapovnoa7d');
        OpenPay.setApiKey('pk_cbcf751b755e45169f794fa2481e6bed');
        OpenPay.setSandboxMode(false);

        var deviceSessionId = OpenPay.deviceData.setup();

        var sucess_callbak = function (response) {
            var token_id = response.data.id;

            $("#Deviceid").val(deviceSessionId);
            $("#State").val("main");
            $("#Token").val(token_id);

            //$("#form-crear").submit();
            var formData = $("#form-crear").serialize();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ProcesarOrdenRegistro", "Precios")',
                data: formData,
                success: function (result) {
                    $("#loader").hide();
                    if (result.success == false) {
                        showLoad(0);

                        cadEnlace = "";
                        if (typeof result.verif !== 'undefined')
                        {
                            if (result.verif == 2) cadEnlace = ", sin embargo puedes visitar tu cuenta e intentar de nuevo crear la direccion. <a href='@Url.Action("Direcciones", "Customer")'>Mi cuenta</a>";
                            if (result.verif == 3) cadEnlace = ", sin embargo puedes visitar tu cuenta e intentar de nuevo crear la tarjeta. <a href='@Url.Action("Pagos", "Customer")'>Mi cuenta</a>";
                            if (result.verif == 4) cadEnlace = ", sin embargo puedes visitar tu cuenta e intentar registrar de nuevo la orden. <a href='@Url.Action("Ordenar", "Customer")'>Mi cuenta</a>";
                            if (result.verif == 5) cadEnlace = ", sin embargo puedes visitar tu cuenta e intentar registrar de nuevo la orden. <a href='@Url.Action("Ordenar", "Customer")'>Mi cuenta</a>";
                        }

                        $('#completar-orden').prepend(
                        '<div class="alert alert-warning" role="alert" id="LoginFailAlert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> ' + result.responseText + cadEnlace + '</div>');
                        window.setTimeout(function ()
                        { $("#LoginFailAlert").alert('close'); }, 50000);
                    } else {
                        location.href = "/Home/OrdenCompleta";
                    }
                }, error: function (result) {
                    showLoad(0);
                    $("#loader").hide();
                    $('#completar-orden').prepend(
                        '<div class="alert alert-warning" role="alert" id="LoginFailAlert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>error</div>');
                    window.setTimeout(function ()
                    { $("#LoginFailAlert").alert('close'); }, 50000);
                }
            });
            //$('#token_id').val(token_id);
            //$('#deviceSessionId').val(deviceSessionId);
        };

        var error_callbak = function (response) {
            showLoad(0);
            var desc = response.data.description != undefined ? response.data.description : response.message;
            //alert("ERROR [" + response.status + "] " + desc);
            //$("#pay-button").prop("disabled", false);


            $('#completar-orden').prepend(
                        '<div class="alert alert-warning" role="alert" id="LoginFailAlert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' + '[ERROR ' + response.status + '] ' + desc + '</div>');
            window.setTimeout(function ()
            { $("#LoginFailAlert").alert('close'); }, 50000);
        };

        OpenPay.token.create({
            "card_number": $('#cardnumber').val(),
            "holder_name": $('#cardname').val(),
            "expiration_year": $('#year').val(),
            "expiration_month": $('#month').val(),
            "cvv2": $('#cvv').val()
        }, sucess_callbak, error_callbak);
    };
    function procesarOrdenRegistro() {
            generate_token();
    }
</script>
}