@model AntBoxFrontEnd.Models.BoxModel
@{
    ViewBag.Title = "Admin - Catalogos";
}
<!-- WRAPPER -->
<div class="wrapper">
    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-archive"></i>
                    <span class="title">Administración de Usuarios</span>
                    <div class="divider"></div>
                    <span class="subtitle">Almacenamiento Seguro, Fácil y Conveniente</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTENT -->
    <div class="content catalogos">
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-12">
                    <h1>Catálogos</h1>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt30">

            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table id="tabla" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Modelo</th>
                                    <th>Dimensiones</th>
                                    <th>Etiqueta</th>
                                    <th>Precio</th>
                                    <th>Seguro</th>
                                    <th>Monto</th>
                                    <th>SLU</th>
                                    <th>Agregado por</th>
                                    <th>Activación</th>
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Boxes)
                                {
                                    <tr data-id="@item.Id">
                                        <td><input type="checkbox" data-id="@item.Id" class="select-box" /></td>
                                        <td class="tmodel">@item.Model</td>
                                        <td class="tsize">@item.Size</td>
                                        <td class="tlabel">@item.Label</td>
                                        <td class="tprice">@item.Price</td>
                                        <td class="tsecure_label">@item.Secure_label</td>
                                        <td class="tsecure">@item.Secure</td>
                                        <td class="tslu">@item.Slu</td>
                                        <td class="tname">@item.Registered_by.Name</td>
                                        <td class="tactivation_date">@item.Activation_date</td>
                                        <td class="tstatus">@item.Statusname</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 mt10">
                    <input type="button" class="btn btn-primary btn-wide pull-left" data-toggle="modal" data-target="#crear_antboxs" value="Crear Nuevo">
                    <input id="" type="button" class="btn btn-primary btn_blue btn-wide pull-right eliminar-box" onclick="eliminarItem()" value="Eliminar">
                    <input type="button" class="btn btn-primary btn-wide pull-right mr10 editar-box-button" value="Editar">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
</div>
<!-- /.wrapper -->
<!-- Modal Medium -->
<div class="modal fade" id="crear_antboxs">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Crear Antboxs</h6>
            </div>
            <div class="modal-body">
                <form id="form-agregar" method="post" class="contact-form form-solid" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="send-form-name">* Modelo</label>
                                <input type="text" name="Model" id="model">
                            </div>
                            <div class="form-group">
                                <label for="send-form-name">* Dimensiones</label>
                                <input type="text" name="Size" id="size">
                            </div>
                            <div class="form-group">
                                <label for="send-form-name">* Etiqueta</label>
                                <input type="text" name="Label" id="label">
                            </div>
                            <div class="form-group">
                                <label for="send-form-name">* Precio</label>
                                <input type="text" name="Price" id="price">
                            </div>
                            <div class="form-group">
                                <label for="send-form-name">Seguro</label>
                                <input type="text" name="Secure_label" id="secure_label">
                            </div>
                        </div>
                        <div class="col-sm-6 pl0_modal">
                            <div class="form-group">
                                <label for="send-form-name">Monto</label>
                                <input type="text" name="Secure" id="secure">
                            </div>
                            <div class="form-group">
                                <label for="send-form-name">SLU</label>
                                <input type="text" name="Slu" id="slu">
                            </div>
                            <div class="form-group">
                                <label for="Registered_by">* Agregado por</label>
                                <select id="Registered_by" name="Registered_by">
                                    @if (Model.Users != null)
                                    {
                                        foreach (var item in Model.Users)
                                        {
                                            if (item != null)
                                            {
                                        <option value='@item.Id.ToString()'>@item.Name @item.Lastname</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="textbox">Fecha de Activación</label>
                                <div class="input-group mb0">
                                    <span class="input-group-btn">
                                        <button type="button" id="activacion" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                    </span>
                                    <input class="form-control" type="text" id="fecha_activacion" name="Activation_date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Status">Estatus</label>
                                <select id="Status" name="Status">
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-primary btn-wide pull-right mt10 crear-box" value="Crear">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- Modal Medium -->
<div class="modal fade" id="editar_antboxs">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Editar Antboxs</h6>
            </div>
            <div class="modal-body">
                <form id="form-editar" method="post" class="contact-form form-solid" novalidate>
                    <input type="hidden" name="id" id="editar-id" value="" />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="send-form-name">Modelo</label>
                                <input type="text" name="model" id="model">
                            </div>
                            <div class="form-group">
                                <label for="send-form-name">Dimensiones</label>
                                <input type="text" name="size" id="size">
                            </div>
                            <div class="form-group">
                                <label for="send-form-name">Etiqueta</label>
                                <input type="text" name="label" id="label">
                            </div>
                            <div class="form-group">
                                <label for="send-form-name">Precio</label>
                                <input type="text" name="price" id="price">
                            </div>
                            <div class="form-group">
                                <label for="send-form-name">Seguro</label>
                                <input type="text" name="secure_label" id="secure_label">
                            </div>
                        </div>
                        <div class="col-sm-6 pl0_modal">
                            <div class="form-group">
                                <label for="send-form-name">Monto</label>
                                <input type="text" name="secure" id="secure">
                            </div>
                            <div class="form-group">
                                <label for="send-form-name">SLU</label>
                                <input type="text" name="slu" id="slu">
                            </div>
                            <div class="form-group">
                                <label for="registered_by">Agregado por</label>
                                <select id="registered_by" name="registered_by">
                                    @if (Model.Users != null)
                                    {
                                        foreach (var item in Model.Users)
                                        {
                                            if (item != null)
                                            {
                                                   <option value='@item.Id.ToString()'>@item.Name @item.Lastname</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="textbox">Fecha de Activación</label>
                                <div class="input-group mb0">
                                    <span class="input-group-btn">
                                        <button type="button" id="activacion_edit" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                    </span>
                                    <input class="form-control" type="text" id="fecha_activacion_edit" name="activation_date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="form-select">Estatus</label>
                                <select id="status" name="status">
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-primary btn-wide pull-right mt10 modificar-box" value="Guardar">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
@section Scripts
{
<script type="text/javascript">
    Calendar.setup({
        inputField: "fecha_activacion",      // id del campo de texto
        ifFormat: "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
        button: "activacion"   // el id del botón que lanzará el calendario
    });
    Calendar.setup({
        inputField: "fecha_activacion_edit",      // id del campo de texto
        ifFormat: "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
        button: "activacion_edit"   // el id del botón que lanzará el calendario
    });
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    $(function () {
        $(".crear-box").click(function (event) {
            event.preventDefault();
            console.log("crear box");
            var form = $("#form-agregar");

            if (form.valid()) {
                modalToClose = $("#crear_antboxs");
                var formData = $("#form-agregar").serializeObject();

                formData.Status = (formData.Status == "Activo") ? true : false;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CreateBox", "Catalogo")',
                    data: formData,
                    success: function (data) {
                        if (data.success) {
                            verifCloseModal = true;
                            mostrarMensaje(form, "userMensaje", "Box registrado", "alert-warning");
                            window.location.reload(false);
                        } else {
                            mostrarMensaje(form, "userMensaje", "Error al registrar box intentelo de nuevo", "alert-warning");
                        }
                    }, error: function (error) {
                        mostrarMensaje(form, "userMensaje", "Error al registrar box intentelo de nuevo", "alert-warning");
                    }, complete: function (data) {
                        console.log(data);
                    }
                });
            }
            
        });
        $(".editar-box-button").click(function (event) {

            var countCheckbox = $("#tabla").find('input:checkbox:checked').length;
            if (countCheckbox == 0)
            {
                alert("Debe seleccionar un box para editar");
                return false;
            }
            console.log("editar box");
            var form = $("#form-editar");

            var formData = {};

            formData.id = actualEdicion;

            if (actualEdicion != null) {
                $("#editar-id").val(actualEdicion);

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: '@Url.Action("GetBox", "Catalogo")',
                    data: formData,
                    success: function (data) {
                        console.log("success data");
                        console.log(data);
                        if (data) {
                            form.find("#model").val(data.Model);
                            form.find("#size").val(data.Size);
                            form.find("#label").val(data.Label);
                            form.find("#price").val(data.Price);
                            form.find("#secure_label").val(data.Secure_label);
                            form.find("#secure").val(data.Secure);
                            form.find("#slu").val(data.Slu);
                            form.find("#registered_by").val(data.Registered_by.Id);
                            form.find("#registered_by").trigger("chosen:updated");
                            form.find("#fecha_activacion_edit").val(data.Activation_date);
                            var statusname = "Activo"
                            if (!data.Status)
                                statusname = "Inactivo"
                            form.find("#status").val(statusname);

                            $("#editar_antboxs").modal("show");
                        }
                    }, error: function (error) {
                        mostrarMensaje(form, "userMensaje", "Error al registrar box intentelo de nuevo", "alert-warning");
                    }, statusCode: {
                        404: function () {
                            alert("page not found");
                        }
                    }, complete: function (data) {
                        console.log(data);
                    }
                });
            }

        });
        $(".modificar-box").click(function (event) {
            event.preventDefault();
            modalToClose = $("#editar_antboxs");
            console.log("modificar box");
            var form = $("#form-editar");

            if (form.valid())
            {
                var formData = $("#form-editar").serializeObject();

                formData.status = (formData.status == "Activo") ? true : false;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateBox", "Catalogo")',
                    data: formData,
                    success: function (data) {
                        if (data.success) {
                            mostrarMensaje(form, "userMensaje", "Box modificado", "alert-warning");
                            verifCloseModal = true;
                            actualElement.closest("tr").find(".tmodel").text(form.find("#model").val());
                            actualElement.closest("tr").find(".tsize").text(form.find("#size").val());
                            actualElement.closest("tr").find(".tlabel").text(form.find("#label").val());
                            actualElement.closest("tr").find(".tprice").text(form.find("#price").val());
                            actualElement.closest("tr").find(".tsecure_label").text(form.find("#secure_label").val());
                            actualElement.closest("tr").find(".tsecure").text(form.find("#secure").val());
                            actualElement.closest("tr").find(".tslu").text(form.find("#slu").val());
                            actualElement.closest("tr").find(".tname").text(form.find("#registered_by option:selected").text());
                            actualElement.closest("tr").find(".tactivation_date").text(form.find("#fecha_activacion").val());
                            actualElement.closest("tr").find(".tstatus").text(form.find("#status").val());
                        } else {
                            mostrarMensaje(form, "userMensaje", "Error al modificar box intentelo de nuevo", "alert-warning");
                        }
                    }, error: function (error) {
                        mostrarMensaje(form, "userMensaje", "Error al modificar box intentelo de nuevo", "alert-warning");
                    }, complete: function (data) {
                        console.log(data);
                    }
                });
            }
            
        });
        $(".eliminar-box").click(function (event) {
            var countCheckbox = $("#tabla").find('input:checkbox:checked').length;
            console.log(countCheckbox);
            var mensaje = "Esta seguro que desea eliminar los antbox seleccionados?";
            if (countCheckbox == 1) {
                var mensaje = "Esta seguro que desea eliminar el box " + actualLabel + "?";
            } else if (countCheckbox == 0){
                alert("Debe seleccionar al menos un box para editar");
                return false;
            }
            if (confirm(mensaje)) {
                var formData = {};
                formData.id = actualEdicion;
                if (countCheckbox > 1)
                {
                    $("#tabla").find('input:checkbox:checked').each(function () {
                        formData = {};
                        formData.id = $(this).attr("data-id");
                        deleteBox(formData, $(this));
                    })
                } else if (countCheckbox == 1)
                {
                    deleteBox(formData, actualElement);
                }
            }
        });
        var actualEdicion = null;
        var actualNombre = "";
        var actualElement = null;
        $(document).on("change", ".select-box", function (event) {
            if ($(this).is(":checked")) {
                actualElement = $(this);
                actualEdicion = $(this).attr("data-id");
                actualLabel = $(this).closest("tr").find(".tlabel").text();
            }
        });

        //-------------------------JQuery Validate----------------------
        $('#form-agregar').validate({
            rules: {
                Model: {
                    required: true
                },
                Size: {
                    required: true
                },
                Label: {
                    required: true
                },
                Price: {
                    required: true
                },
                "Registered_by": {
                    required: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $('#form-editar').validate({
            rules: {
                model: {
                    required: true
                },
                size: {
                    required: true
                },
                label: {
                    required: true
                },
                price: {
                    required: true
                },
                "registered_by": {
                    required: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });
    function deleteBox(formData, element) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteBox", "Catalogo")',
            data: formData,
            success: function (data) {
                alert("Box eliminado correctamente");
                element.closest("tr").remove();
            }, error: function (error) {
                alert("Error al eliminar box, intentelo nuevamente");
            }, complete: function (data) {
                console.log(data);
            }
        });
    }
</script>
}
