@model AntBoxFrontEnd.Models.CouponModel
@{
    ViewBag.Title = "Cupones";
}
<!-- WRAPPER -->
<div class="wrapper">
    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-archive"></i>
                    <span class="title">Administración de Usuarios</span>
                    <div class="divider"></div>
                    <span class="subtitle">Almacenamiento Seguro, Fácil y Conveniente</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTENT -->
    <div class="content seguros">
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-12">
                    <h1>Cupones</h1>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt30">

            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        @if (Model.Coupons != null)
                        {
                            @Html.Hidden("idpagination-coupons", @Model.Coupons.Pagination_id)
                            @Html.Hidden("total-coupons", @Model.Coupons.Total)
                            @Html.Hidden("pages-coupons", @Model.Coupons.Pages)
                        }
                        <table id="tabla-coupon" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Cupón</th>
                                    <th>Cantidad</th>
                                    <th>Porcentaje</th>
                                    <th>Inicio</th>
                                    <th>Vigencia</th>
                                    <th>Creado por</th>
                                    <th>Creación</th>
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Coupons != null)
                                {
                                    if (Model.Coupons.Coupons != null)
                                    {
                                        foreach (var item in Model.Coupons.Coupons)
                                        {
                                        <tr>
                                            <td class="tname">@item.Name</td>
                                            <td class="tquantity">@item.Quantity</td>
                                            <td class="tdiscount">@item.Discount%</td>
                                            <td class="tfrom">@item.From</td>
                                            <td class="tto">@item.To</td>
                                            <td class="tcreated">@item.Created_by.Name @item.Created_by.LastName</td>
                                            <td class="tdatecreated">@item.Creation_date</td>
                                            <td class="tstatus">@item.Statusname</td>
                                        </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
            <div class="pagination-coupons solid text-center"></div>
            <div class="row">
                <div class="col-sm-12 mt10">
                    <input type="button" class="btn btn-primary btn-wide pull-left" data-toggle="modal" data-target="#crear_coupon" value="Crear Nuevo">
                    <input id="" type="button" class="btn btn-primary btn_blue btn-wide pull-right eliminar-coupon" onclick="eliminarItem()" value="Eliminar">
                    <input type="button" class="btn btn-primary btn-wide pull-right mr10 editar-coupon-button" value="Editar">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
</div>
<!-- /.wrapper -->
<!-- CUPONES -->
<!-- Modal Medium -->
<div class="modal fade" id="crear_coupon">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Crear Cupón</h6>
            </div>
            <div class="modal-body">
                <form id="form-agregar-coupon" method="post" class="contact-form form-solid" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Name">Cupón</label>
                                <input type="text" name="Name" id="Name">
                            </div>
                            <div class="form-group">
                                <label for="Quantity">Cantidad</label>
                                <input type="text" name="Quantity" id="Quantity">
                            </div>
                            <div class="form-group">
                                <label for="Discount">Porcentaje</label>
                                <input type="text" name="Discount" id="Discount">
                            </div>
                            <div class="form-group">
                                <label for="textbox">Inicio</label>
                                <div class="input-group mb0">
                                    <span class="input-group-btn">
                                        <button type="button" id="cupon_inicio" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                    </span>
                                    <input class="form-control" type="text" id="fecha_cupon_inicio" name="From">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 pl0_modal">
                            <div class="form-group">
                                <label for="textbox">Vigencia</label>
                                <div class="input-group mb0">
                                    <span class="input-group-btn">
                                        <button type="button" id="cupon_vigencia" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                    </span>
                                    <input class="form-control" type="text" id="fecha_cupon_vigencia" name="To">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Created_by">Agregado por</label>
                                <select id="Created_by" name="Created_by">
                                    @if (Model.Users != null)
                                    {
                                        foreach (var item in Model.Users)
                                        {
                                            if (item != null)
                                            {
                                                   <option value='@item.Id.ToString()'>@item.Name @item.Lastname</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="textbox">Creación</label>
                                <div class="input-group mb0">
                                    <span class="input-group-btn">
                                        <button type="button" id="cupon_creacion" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                    </span>
                                    <input class="form-control" type="text" id="fecha_cupon_creacion" name="fecha_cupon_creacion">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Status">Estatus</label>
                                <select id="Status" name="Status">
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-primary btn-wide pull-right mt10 crear-coupon" value="Crear">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- Modal Medium -->
<div class="modal fade" id="editar_coupon">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Editar Cupón</h6>
            </div>
            <div class="modal-body">
                <form id="form-editar-coupon" method="post" class="contact-form form-solid" novalidate>
                    <input type="hidden" name="id" id="editar-id-coupon" value="" />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Name">Cupón</label>
                                <input type="text" name="Name" id="Name">
                            </div>
                            <div class="form-group">
                                <label for="Quantity">Cantidad</label>
                                <input type="text" name="Quantity" id="Quantity">
                            </div>
                            <div class="form-group">
                                <label for="Discount">Porcentaje</label>
                                <input type="text" name="Discount" id="Discount">
                            </div>
                            <div class="form-group">
                                <label for="textbox">Inicio</label>
                                <div class="input-group mb0">
                                    <span class="input-group-btn">
                                        <button type="button" id="cupon_inicio_edit" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                    </span>
                                    <input class="form-control" type="text" id="fecha_cupon_inicio_edit" name="From">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 pl0_modal">
                            <div class="form-group">
                                <label for="textbox">Vigencia</label>
                                <div class="input-group mb0">
                                    <span class="input-group-btn">
                                        <button type="button" id="cupon_vigencia_edit" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                    </span>
                                    <input class="form-control" type="text" id="fecha_cupon_vigencia_edit" name="To">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Created_by">Agregado por</label>
                                <select id="Created_by" name="Created_by">
                                    @if (Model.Users != null)
                                    {
                                        foreach (var item in Model.Users)
                                        {
                                            if (item != null)
                                            {
                                                   <option value='@item.Id.ToString()'>@item.Name @item.Lastname</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="textbox">Creación</label>
                                <div class="input-group mb0">
                                    <span class="input-group-btn">
                                        <button type="button" id="cupon_creacion_edit" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                    </span>
                                    <input class="form-control" type="text" id="fecha_cupon_creacion_edit" name="fecha_cupon_creacion_edit">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Status">Estatus</label>
                                <select id="Status" name="Status">
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-primary btn-wide pull-right mt10 modificar-coupon" value="Guardar">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

<!-- /.modal -->
@section css {
    @Styles.Render("~/Content/simplepaginationcss")
}
@section Scripts
{
@Scripts.Render("~/bundles/simplepaginationjs")
    <!-- CUPONES -->
<script type="text/javascript">
    Calendar.setup({
        inputField: "fecha_cupon_inicio",      // id del campo de texto
        ifFormat: "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
        button: "cupon_inicio"   // el id del botón que lanzará el calendario
    });
    Calendar.setup({
        inputField: "fecha_cupon_vigencia",      // id del campo de texto
        ifFormat: "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
        button: "cupon_vigencia"   // el id del botón que lanzará el calendario
    });
    Calendar.setup({
        inputField: "fecha_cupon_creacion",      // id del campo de texto
        ifFormat: "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
        button: "cupon_creacion"   // el id del botón que lanzará el calendario
    });

    Calendar.setup({
        inputField: "fecha_cupon_inicio_edit",      // id del campo de texto
        ifFormat: "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
        button: "cupon_inicio_edit"   // el id del botón que lanzará el calendario
    });
    Calendar.setup({
        inputField: "fecha_cupon_vigencia_edit",      // id del campo de texto
        ifFormat: "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
        button: "cupon_vigencia_edit"   // el id del botón que lanzará el calendario
    });
    Calendar.setup({
        inputField: "fecha_cupon_creacion_edit",      // id del campo de texto
        ifFormat: "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
        button: "cupon_creacion_edit"   // el id del botón que lanzará el calendario
    });
</script>
@Scripts.Render("~/bundles/couponjs")
}
